# Buildkite Agent Configuration

>🚧 This page references the out-of-date Buildkite Agent v2.
> For docs referencing the Buildkite Agent v3, <a href="/docs/agent/v3/configuration">see the latest version of this document</a>.

Every agent installer comes with a configuration file. You can also customize many of the configuration values using environment variables.

You can find the location of your configuration file in your platform's installation documentation, or you can set it using the `BUILDKITE_AGENT_CONFIG` environment variable or the `--config` command line argument.

{:toc}

## Configuration settings

`token`<br>
The agent token from your organization's Agents page<br>
_Environment variable:_ `BUILDKITE_AGENT_TOKEN`

`name`<br>The name of the agent<br>
_Default:_ `"%hostname-%spawn"`<br>
_Environment variable:_ `BUILDKITE_AGENT_NAME`

`priority`<br>
The priority of the agent (higher priorities are assigned work first, null is assigned last)<br>
_Default:_ `null`<br>
_Environment variable:_ `BUILDKITE_AGENT_PRIORITY`

`meta-data`<br>
Meta data for the agent<br>
_Default:_ `"queue=default"`<br>
_Environment variable:_ `BUILDKITE_AGENT_META_DATA`

`meta-data-ec2`<br>
Include the host's EC2 meta-data (instance-id, instance-type, and ami-id) as meta-data<br>
_Default:_ `false`<br>
_Environment variable:_ `BUILDKITE_AGENT_META_DATA_EC2`

`meta-data-ec2-tags`<br>
Include the host's EC2 tags as meta-data<br>
_Default:_ `false`<br>
_Environment variable:_ `BUILDKITE_AGENT_META_DATA_EC2_TAGS`

`git-clean-flags`<br>
Flags to pass to the `git clean` command<br>
_Default:_ `"-fdq"`<br>
_Environment variable:_ `BUILDKITE_GIT_CLEAN_FLAGS`

`git-clone-flags`<br>
Flags to pass to the `git clone` command<br>
_Default:_ `"-v"`<br>
_Environment variable:_ `BUILDKITE_GIT_CLONE_FLAGS`

`bootstrap-script`<br>
Path to the bootstrap script<br>
_Default:_ (depends on platform)<br>
_Environment variable:_ `BUILDKITE_BOOTSTRAP_SCRIPT_PATH`

`build-path`<br>
Path to where the builds will run from<br>
_Default:_ (depends on platform)<br>
_Environment variable:_ `BUILDKITE_BUILD_PATH`

`hooks-path`<br>
Directory where the global hook scripts are found<br>
_Default:_ (depends on platform)<br>
_Environment variable:_ `BUILDKITE_HOOKS_PATH`

`no-pty`<br>
Do not run jobs within a pseudo terminal<br>
_Default:_ `false`<br>
_Environment variable:_ `BUILDKITE_NO_PTY`

`no-automatic-ssh-fingerprint-verification`<br>
Do not automatically verify SSH fingerprints for first-time checkouts<br>
_Default:_ `false`<br>
_Environment variable:_ `BUILDKITE_NO_AUTOMATIC_SSH_FINGERPRINT_VERIFICATION`

`no-command-eval`<br>
Do not allow this agent to run arbitrary console commands<br>
_Default:_ `false`<br>
_Environment variable:_ `BUILDKITE_NO_COMMAND_EVAL`

`debug`<br>
Enable debug mode<br>
_Default:_ `false`<br>
_Environment variable:_ `BUILDKITE_AGENT_DEBUG`

`debug-http`<br>
Log all HTTP request and response bodies<br>
_Default:_ `false`<br>
_Environment variable:_ `BUILDKITE_AGENT_DEBUG_HTTP`

`no-color`<br>
Do not show colors in logging<br>
_Default:_ `false`<br>
_Environment variable:_ `BUILDKITE_AGENT_NO_COLOR`

`timestamp-lines`<br>
Prepend timestamps on each line of output<br>
_Default:_ `false`<br>
_Environment variable:_ `BUILDKITE_TIMESTAMP_LINES`

## Example configuration file

```sh
token="24db61df8338027652b24aadf82dd483b016eef98fcd332815"
name="my-app-%random"
meta-data="ci=true,docker=true"
git-clean-flags="-fdqx"
debug=true
```

## Environment variables

Most configuration options can be specified as environment variables when starting the agent, for example:

```sh
BUILDKITE_AGENT_META_DATA="queue=deploy,host=$(hostname)" buildkite-agent start
```

These variables cannot be modified through the Buildkite web interface, API or using pipeline upload for security reasons. You may be able to modify some of the options, such as `BUILDKITE_GIT_CLONE_FLAGS`, from within [hook scripts](/docs/agent/v2/hooks).
