# Installing Buildkite Agent on Windows

>🚧 This page references the out-of-date Buildkite Agent v2.
> For docs referencing the Buildkite Agent v3, <a href="/docs/agent/v3/windows">see the latest version of this document</a>.

The Buildkite Agent can be installed on both 64bit and 32bit editions of Windows XP and later.

{:toc}

## Installation

1. Download the latest Windows beta from <a href="https://github.com/buildkite/agent/releases">Buildkite Agent releases on GitHub</a>
2. Extract the files to a directory of your choice
3. Edit `buildkite-agent.cfg` and add your token
4. Run `buildkite-agent start` from a command prompt

## SSH key configuration

SSH keys should be copied to (or generated into) in the user's `.ssh` directory. For example, typing the following into Git Bash will generate a new private key which you can add to your source code host:

```bash
$ mkdir -p ~/.ssh && cd ~/.ssh
$ ssh-keygen -t rsa -b 4096 -C "build@myorg.com"
```

See the [Agent SSH Keys](/docs/agent/v2/ssh-keys) documentation for more details.

## Configuration

See the [configuration documentation](/docs/agent/v2/configuration) for an explanation of each configuration setting.
