<section class="HeroBanner">
  <div class="container container-narrow">
    <article>
      <h1 class="HeroBanner__title">Build your dream CI/CD workflow</h1>
      <p class="HeroBanner__summary">Explore our guides, examples, and reference documentation to learn Buildkite.</p>
      <%= button "Get started with Pipelines", "/docs/tutorials/getting-started", { type: "purple", has_right_arrow: true, inline: true } %>
    </article>
  </div>
</section>
