<section class="Products">
  <div class="container container-narrow">
    <div class="Products__row">
      <a href="/docs/pipelines" class="Products__link">
        <article class="ProductCard">
          <img alt="Pipelines graphic" class="ProductCard__img" src="<%= image_url('home/pipelines.svg') %>" />
          <div>
            <h2 class="ProductCard__title">Pipelines</h2>
            <p class="ProductCard__summary">Powerful CI/CD built to scale on your infrastructure</p>
          </div>
        </article>
      <a href="/docs/test-analytics" class="Products__link">     
        <article class="ProductCard">
          <img alt="Test Analytics graphic" class="ProductCard__img" src="<%= image_url('home/test_analytics.svg') %>" />
          <div>
            <h2 class="ProductCard__title">Test Analytics</h2>
            <p class="ProductCard__summary">Real-time tracking and monitoring for your tests</p>
          </div>
        </article>
      </a>
    </div>
  </div>
</section>
