<section class="Products">
  <div class="container container-narrow">
    <div class="Products__row">
      <a href="/docs/pipelines" class="Products__link">
        <article class="ProductCard">
          <div>
            <img alt="Pipelines graphic" src="<%= image_path('home/pipelines.svg') %>" />
            <p class="ProductCard__summary">Powerful CI/CD built to scale on your infrastructure</p>
          </div>
        </article>
      <a href="/docs/test-engine" class="Products__link">
        <article class="ProductCard">
          <div>
            <img alt="Test Engine graphic" src="<%= image_path('home/test_engine.svg') %>" />
            <p class="ProductCard__summary">Real-time, scalable tracking and monitoring for your tests</p>
          </div>
        </article>
      </a>
      <a href="/docs/packages" class="Products__link">
        <article class="ProductCard">
          <div>
            <img alt="Packages graphic" src="<%= image_path('home/package_registries.svg') %>" />
            <p class="ProductCard__summary">Scale out asset management across any ecosystem</p>
          </div>
        </article>
      </a>
    </div>
  </div>
</section>
