<%
  references = [
    {
      title: "Pipelines",
      links: [
        {
          title: "Step types",
          link: "/docs/pipelines/step-reference"
        },
        {
          title: "Conditionals",
          link: "/docs/pipelines/conditionals"
        },
        {
          title: "Environment variables",
          link: "/docs/pipelines/environment-variables"
        },
        {
          title: "Emojis",
          link: "https://github.com/buildkite/emojis?tab=readme-ov-file#emoji-reference",
          is_external: true
        }
      ]
    },
    {
      title: "Test Engine",
      links: [
        {
          title: "Test collection",
          link: "/docs/test-engine/test-collection"
        },
        {
          title: "CI environment variables",
          link: "/docs/test-engine/ci-environments"
        }
      ]
    },
    {
      title: "Packages",
      links: [
        {
          title: "Package ecosystems",
          link: "/docs/package-registries/ecosystems"
        }
      ]
    },
    {
      title: "APIs",
      links: [
        {
          title: "REST API",
          link: "/docs/apis/rest-api"
        },
        {
          title: "GraphQL API",
          link: "/docs/apis/graphql-api"
        },
        {
          title: "MCP server",
          link: "/docs/apis/mcp-server"
        },
        {
          title: "Webhooks",
          link: "/docs/apis/webhooks"
        },
        {
          title: "Agent API",
          link: "/docs/apis/agent-api"
        }
      ]
    },
    {
      title: "Agent",
      links: [
        {
          title: "Configuration settings",
          link: "/docs/agent/v3/self-hosted/configure"
        },
        {
          title: "Lifecycle hooks",
          link: "/docs/agent/v3/hooks"
        },
        {
          title: "CLI commands",
          link: "/docs/agent/v3/cli-reference"
        },
        {
          title: "Elastic Stack template parameters",
          link: "/docs/agent/v3/self-hosted/aws/elastic-ci-stack/ec2-linux-and-windows/template-parameters"
        }
      ]
    }
  ]
%>

<section class="References">
  <div class="container container-narrow">
    <h2 class="References__heading">References and APIs</h2>
    <nav>
      <ul class="References__grid">
        <% references.each do |item| %>
          <li class="Reference">
            <h3 class="Reference__heading"><%= item[:title]%></h3>
            <ul>
              <% item[:links].each do |link| %>
                <li class="Reference__item">
                  <a class="Reference__link<% if link[:is_external] %> external-link<% end %>" href="<%= link[:link]%>"><%= link[:title] %></a>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</section>
