# Example plugins

This page introduces a few plugins, for particular use cases.  Explore the [Buildkite Plugin Directory](https://github.com/buildkite-plugins) for more examples.

## Library Example Buildkite Plugin

The [Library Example Buildkite Plugin](https://github.com/buildkite-plugins/library-example-buildkite-plugin) provides a starting point for creating your own library of commands to expose build jobs.

<div class="Docs__note">
<p>It is generally best practice to create smaller plugins. However, a library plugin or super-plugin allows you to</p>
</div>

[TODO: pause pending https://3.basecamp.com/3453178/buckets/1735271/messages/3671218591]