# Buildkite Plugins Directory

The [Plugins Directory](https://buildkite.com/plugins) collects plugins created by Buildkite and 3rd party contributors. Browse through the directory to discover new plugins, and to see how other teams are using plugins to solve common problems and speed up workflows.

Plugins created by the Buildkite team display the Buildkite logo in the directory. They can also be found in the official [Buildkite Plugins](https://github.com/buildkite-plugins) GitHub repository. Not all plugins are listed in the directory, only those tagged with the `buildkite-plugin` topic on GitHub.

## Add your plugin

To list your plugin in the Buildkite Plugin Directory follow the steps below:

1. Host your plugin on GitHub
1. Add the GitHub repository topic `buildkite-plugin`
1. Ensure your repository contains a valid `plugin.yml` file containing at least the `name` and `description` fields

<section class="Docs__troubleshooting-note">
	<p>If after completing the above steps you can't see your plugin in the Buildkite Plugin Directory, get in touch with an email to <a href="mailto:support@buildkite.com">support@buildkite.com</a></p>
</section>

Your plugin should list the topic `buildkite-plugin` as highlighted in the screenshot below:

<%= image "github-topic.png", width: 1214/2, height: 440/2, alt: "Screenshot of the ECR plugin GitHub repo with the Buildkite-plugin topic highlighted by a red box" %>

Once completed, your plugin will display in the directory as pictured below:

<%= image "ecr-plugin-directory-item.png", width: 1014/2, height: 500/2, alt: "Screenshot of ECR plugin in the Buildkite Plugins Directory" %>
