# Plugin Tools

The following tools can be helpful when creating and maintaining your own Buildkite plugins:

<a class="Docs__example-repo" href="https://github.com/buildkite-plugins/plugin-tester">
  <span class="icon">:hammer:</span>
  <span class="detail">
    <strong>Buildkite Plugin Tester</strong>
    <span class="description">Docker image with a number of shell testing and stubbing tools.</span>
    <span class="repo">github.com/buildkite-plugins/plugin-tester</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite-plugins/buildkite-plugin-linter">
  <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Buildkite Plugin Linter</strong>
    <span class="description">Linter that checks your plugin for best practices.</span>
    <span class="repo">github.com/buildkite-plugins/buildkite-plugin-linter</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite-plugins/shellcheck-buildkite-plugin">
  <span class="icon">:shell:</span>
  <span class="detail">
    <strong>Buildkite Shellcheck Plugin</strong>
    <span class="description">Plugin for detecting potential problems in your hook scripts.</span>
    <span class="repo">github.com/buildkite-plugins/shellcheck-buildkite-plugin</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite-plugins/shellcheck-buildkite-plugin">
  <span class="icon">:terminal:</span>
  <span class="detail">
    <strong>Buildkite CLI</strong>
    <span class="description">Command line tool for running Buildkite pipelines entirely locally.</span>
    <span class="repo">github.com/buildkite/cli</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/release-drafter/release-drafter">
  <span class="icon">:memo:</span>
  <span class="detail">
    <strong>Release Drafter</strong>
    <span class="description">A GitHub App to help draft your release notes.</span>
    <span class="repo">github.com/release-drafter/release-drafter</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/toolmantim/boomper">
  <span class="icon">:duck:</span>
  <span class="detail">
    <strong>Boomper</strong>
    <span class="description">A GitHub app for bumping the version numbers in your readme examples.</span>
    <span class="repo">github.com/toolmantim/boomper</span>
  </span>
</a>

For help writing the JSON Schema in the `configuration` key of your `plugin.yml` file, the following resources may be useful:

<a class="Docs__example-repo" href="http://json-schema.org">
  <span class="icon">:json:</span>
  <span class="detail">
    <strong>JSON Schema</strong>
    <span class="description">The official JSON Schema specification.</span>
    <span class="repo">json-schema.org</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://jsonschemalint.com/">
  <span class="icon">:json:</span>
  <span class="detail">
    <strong>JSON Schema Lint</strong>
    <span class="description">Validating your JSON schema with YAML.</span>
    <span class="repo">jsonschemalint.com</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://spacetelescope.github.io/understanding-json-schema/">
  <span class="icon">:json:</span>
  <span class="detail">
    <strong>Understanding JSON Schema</strong>
    <span class="description">Tutorial to help understand how to write JSON Schema.</span>
    <span class="repo">spacetelescope.github.io/understanding-json-schema/</span>
  </span>
</a>
