html {
  background: $base-0;
  color: map-get($color-aliases, "text-base");
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: map-get($line-heights, "default");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  @include heading(map-get($font-size-aliases, "heading-1"));
}

h2 {
  @include heading(map-get($font-size-aliases, "heading-2"));
}

h3 {
  @include heading(map-get($font-size-aliases, "heading-3"));
}

h4 {
  @include heading(map-get($font-size-aliases, "heading-4"));
}

h5,
.h5 {
  @include heading(map-get($font-size-aliases, "heading-5"));
}

h6,
.h6 {
  @include heading(map-get($font-size-aliases, "heading-6"));
}
