.algolia-autocomplete {
  width: 100%;

  .ds-dropdown-menu {
    min-width: 650px;
    max-width: 750px;
    line-height: 1em;

    @media only screen and (max-width: 768px) {
      min-width: auto;
      max-width: 100%;
      width: 100%;
    }

    .ds-suggestion.ds-cursor .algolia-docsearch-suggestion {
      &.suggestion-layout-simple {
        background: rgba(20, 204, 128, .1);
      }

      &:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
        background: rgba(20, 204, 128, .1);
      }
    }

    .algolia-docsearch-footer {
      display: none;
    }
  }

  .algolia-docsearch-suggestion {
    text-decoration: none;

    @media only screen and (max-width: 768px) {
      padding: 0;

      .algolia-docsearch-suggestion--subcategory-inline {
        display: inline-block;
        color: #a4a7ae;
        font-size: 15px;
      }

      .algolia-docsearch-suggestion--content {
        padding: .25em;
        width: 100%;
      }
    }

    .algolia-docsearch-suggestion--highlight {
      color: #14CC80;
      background: rgba(20, 204, 128, .1);
      padding: 0;
      padding-bottom: 2px;
      box-shadow: inset 0 -2px 0 0 rgba(20, 204, 128, .8);
    }

    .algolia-docsearch-suggestion--category-header {
      color: #14CC80;
      font-weight: bold;
      margin-top: 0;

      @media only screen and (max-width: 768px) {
        padding: 4px .25em;
      }
    }

    .algolia-docsearch-suggestion--subcategory-column {
      font-size: 0.8em;

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .algolia-docsearch-suggestion--title {
      font-size: 0.8em;
      margin-bottom: 0;
    }

    .algolia-docsearch-suggestion--text {
      margin-top: 4px;
    }
  }
}
