@mixin callout($callout_color) {
  border-left: 3px solid $callout_color;
  color: #666;
  font-size: #{(16/18)}rem;
  margin: 1.5rem 0 2rem 0;
  padding: 0 0 0 1rem;

  .callout__title {
    color: $callout_color;
    font-size: 1rem;
    font-weight: 700;

    position: relative;

    .callout__anchor {
      text-decoration: none;

      &:link,
      &:visited,
      &:hover,
      &:active,
      &:focus {
        color: $callout_color;
      }

      &:hover:before {
        color: #666;
        content: '#';
        font-size: 1rem;
        font-weight: normal;
        left: -23px;
        margin-left: .5rem;
        position: absolute;
      }
    }
  }

  p { margin: 0; }

  p + p { margin: 0.5rem 0 0 0; }
}

.callout {
  @include callout(#4b19d5);
}

.callout--troubleshooting {
  @include callout(#ffba11);
}

.callout--wip {
  @include callout(#ffba11);
}

.Docs__attribute__table .callout {
  margin: 0;
}

<<<<<<< HEAD
.callout--troubleshooting {
  @extend .callout;

  border-color: #FFBA11;

  .callout__title {
    color: #FFBA11;
  }
}

.callout--wip {
  @extend .callout;

  border-color: #FFBA11;

  .callout__title {
    color: #FFBA11;
  }
}
=======
>>>>>>> e30f3c1a (fixup! Refactor `.Docs__notes` into `.callout` elements)
