.CopyToClipboardButton {
  @extend .Button;
  @extend .Button--default;

  transition: opacity .05s linear;
  font-family: $font-family-display;
  font-size: 14px;
  font-weight: 400;

  opacity: 0;
  position: absolute;
  gap: .4em;
  right: .4em;
  top: .4em;
  padding: .4em;
  cursor: pointer;

  > svg {
    @extend .Button__icon;

    padding: 0;
    border: 0;
  }

  // Render when focusing sibling (<pre>) element
  pre:focus-visible + &,
  pre:hover + & {
    opacity: 1;
  }

  &:hover, &:focus {
    opacity: 1;
  }

  &[aria-checked="true"] {
    border-color: $button-primary;
    background: $button-default-background-color;

    svg > path {
      stroke: $button-primary;
    }
  }
}
