$color-green: rgb(3, 165, 98);

.Docs__page-container {
  @media (min-width: $screen-md) { 
    padding-top: $header-height + 30px; 
  }
}

.Docs__page-container__inner {
  margin-top: 30px;

  @media (min-width: $screen-md) {
    display: flex;
    margin-top: 0;
  }
}

.Docs__header {
  @media (max-width: ($screen-md - 1)) { font-size: 2rem; }
}

.Search-container {
  position: relative;

  kbd {
    background: #efefef;
    border-radius: 0.2rem;
    border: 1px solid #eee;
    color: #aaa;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 6px;
    position: absolute;
    right: 12px;
    top: 7px;

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }
}


.HomeHeader__search {
  .Search-container {
    display: inline;

    kbd {
      right: 10px;
      top: 17px;
    }
  }
}

.Docs__article {
  flex: 7;
  font-weight: 400;

  @media (min-width: $screen-md) {
    margin-left: $sidebar-width + 30px;
  }

  @media (min-width: $screen-lg) { // TOC as side column on larger screens
    display: grid;
    grid-template-columns: minmax(10px, 1fr) 250px;
    position: relative;
    gap: 30px;

    &--is-landing-page {
      display: block;
    }
  }

  img.no-decoration, .responsive-image-container.no-decoration { padding: 0; border: none; margin: 0; }
  img.emoji { padding: 0; border: none; }
  hr + h2 { margin-top: 0; }
  th { font-weight:600; }
  thead th { font-weight: 600; }
  .image, img { max-width: 100%; }
  .responsive-image-container { margin: .5rem 0 2rem 0; }
  li .responsive-image-container { margin: .5rem 0 0 0; }

  table.fixed-width {
    // In general, the width of our tables within articles depends on the size of their content. This works great except
    // when we have text such as a HTTP response snippet that includes a long unbroken string. When that happens, the
    // table overflows outside of its bounding box and doesn't wrap or scroll nicely, causing text cropping. Use this
    // "fixed-width" class for a table that won't overflow it's bounding box horizontally and forces text wrapping.

    table-layout: fixed;
    width: 100%;
    th {
      width: 25%;
    }
    tr {
      width: 75%;
    }
  }
}

.Docs__article .Docs__api-param-eg {
  margin: .25em 0 0 0;
}

.Docs__attribute__table {
  table-layout: fixed;
  width: 100%;

  th {
    word-wrap: break-word;

    code {
      white-space: normal;
    }
  }

  td {
    word-wrap: break-word;
  }

  tr.importance th {
    border-top: none;
    font-weight: 700;
  }

  tr.optional th {
    padding-top: 2rem;
  }

  td p:first-child { margin-top: 0; }

  .Docs__attribute__link {
    color: #ccc;
    opacity: 0;
    transition: all 0.2s;
  }

  &:hover {
    .Docs__attribute__link {
      opacity: 1.0;

      &:hover {
        color: #aaa;
      }
    }
  }

  small {
    display: block;
    font-size: 0.8em;
    margin: 1em 0;
  }

  .comma-separated {
    margin: 1em 0;

    li {
      display: inline;
      margin: 0;

      &:not(:last-child)::after {
        content: ",";
      }

      &:first-child::after {
        content: "";
      }
    }
  }

  .Docs__attribute__importance {
    color: $brand;
    margin: 5px 0;
    text-transform: uppercase;
    font: 300 13px $font-family-base;
    letter-spacing: 1px
  }

  .Docs__attribute__env-var {
    font-size: 0.8em;
  }

  .Docs__attribute__default {
    font-size: 0.8em;
  }

  .Docs__attribute__example {
    align-content: baseline;
    display: grid;
    gap: 0.4rem;
    grid-template-columns: auto auto;
    justify-content: left;

    strong,
    code {
      font-size: 12px;
      line-height: 1.3;
    }
  }
}

a.Docs__example-repo {
  align-items: top;
  border: 1px solid #ccc;
  display: flex;
  padding: 15px;
  text-decoration: none;

  &:hover, &:active, &:focus {
    border-color: $brand;
    color: black;

    .repo {
      color: $brand;
    }
  }

  .icon {
    width: 22px;
    margin-right: 10px;
    flex: none;
    transform: translateY(3px);
  }

  .detail {
    flex: 1;
  }

  .description {
    color: currentColor;
    display: block;
    font-size: #{(16/18)}rem;
    font-weight: normal;
  }

  .repo {
    color: #666;
    display: block;
    font-size: #{(14/18)}rem;
    font-weight: normal;
    margin-top: .2rem;
    text-decoration: underline;
  }
}

.Docs__time-estimate {
  color: #14CC80;
  font-size: 0.85em;
  letter-spacing: 0.02em;
  &:before {
    content: " ";
    background: asset-url('clock_green.svg') no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    opacity: 0.8;
    line-height: 1;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 4px;
  }
}

.Docs__heading {
  position: relative;

  .Docs__heading__anchor {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: black;
    }
  }

  &:hover:before {
    content: '#';
    color: #666;
    font-size: 1rem;
    font-weight: normal;
    margin-left: .5rem;
    position: absolute;
    left: -25px;
    top: 5px;
  }
}

html {
  scroll-padding-top: 15px;

  @media (min-width: $screen-md) {
    scroll-padding-top: $header-height + 15px;
  }
}

body.beta {
  .Docs__article {
    h1,
    .Docs__heading {
      display: inline;
      position: relative;

      &:after {
        @include pill;
        @include pill-style(beta);
        @include pill-small;
        left: 5px;
        position: relative;
        top: -5px;
      }
    }
  }
}
