$Docs__bp_stacked: 600px;
$color-green: rgb(3, 165, 98);

.Docs__page-container {
  padding-top: 20px;
  @media (max-width: $Docs__bp_stacked) { padding: 0; }
}

.Docs__page-container__inner {
  display: flex;
  margin-top: 75px;
  @media (max-width: $Docs__bp_stacked) { display: block; margin-top: 0; }
}

.Docs__header {
  @media (max-width: $Docs__bp_stacked) { font-size: 2rem; }
}

/* Navicon for small screens (hamburger menu) */
#navicon {visibility: hidden;}

label[for='navicon'] span { // hide alt text
  left: -10rem;
  position: absolute;
  top: -10rem;
}

@media (max-width: $Docs__bp_stacked) {

  /* hamburger */
  label[for='navicon'],
  label[for='navicon']:before,
  label[for='navicon']:after {
    background: #1f1f1f;
    border-radius: 5px;
    cursor: pointer;
    height: 0.2rem;
    position: absolute;
    transition: 0.3s;
    width: 0.9rem;
    z-index: 10;
  }

  label[for='navicon'] {
    right: 2rem;
    top: 2rem;
  }

  label[for='navicon']:before {
    content: "";
    transform: translateY(-0.3rem);
    transition: 0.5s;
  }

  label[for='navicon']:after {
    content: "";
    transform: translateY(0.3rem);
    transition: 0.5s;
  }

  #navicon:checked + label[for='navicon'] {
    /* displays menu */
    & ~ .Docs__nav {
      display: block;
    }

    /* close menu icon */
    width: 0;

    &:before {
      transform: rotate(45deg) translateX(-0.5rem) translateY(0.5rem);
    }

    &:after {
      transform: rotate(-45deg) translateX(-0.5rem) translateY(-0.5rem);
    }
  }
}

.Docs__nav {
  flex: 2;
  margin-top: 0.4em;
  padding-right: 20px;
  position: relative;

  @media (max-width: $Docs__bp_stacked) {
    display: none; // hides menu into navicon on small screens
    margin: 0 -20px 40px -20px;
    padding-right: 0;
  }
}

.Docs__nav__sections {
  @media (max-width: $Docs__bp_stacked) {
    margin-top: 30px;
  }
}

.Docs__nav__section-container {
  width: 100%;

  &.Docs__nav__section-container.expanded .Docs__nav__section-heading::after {
    opacity: 1;
  }

  .Docs__nav__section-heading { 
    cursor: pointer;
    position: relative;
    user-select: none;

    @media (hover: hover) {
      &:hover {
        color: $color-green;
        transition: transform 0.1s;
        &::after { opacity: 1; }
      }
    }

    &::after {
      color: $color-green;
      content: '+';
      display: block;
      font-size: 24px;
      height: 15px;
      line-height: 1.8;
      position: absolute;
      right: 15px;
      top: 0;
      width: 5px;
    }
  }
  &.current .Docs__nav__section-heading { color: $color-green; }

  .Docs__nav__section-content { display: none; }
  &.expanded {
    .Docs__nav__section-heading::after {
      content: '–';
    }
    img { transform: rotate(-180deg); }
    .Docs__nav__section-content { display: block; }
  }

  &.hidden {
    display: none;
  }
}

.Docs__nav__section-heading {
  border-top: 1px solid #e5e5e5;
  color: black;
  font-family: inherit;
  font-size: 1.334rem;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 10px 0 10px 0;

  @media (max-width: $Docs__bp_stacked) {
    padding-left: 20px;
  }

  &:first-of-type { margin-top: 0; }
}

.Docs__nav__section-heading + .Docs__nav__section-subheading {
  margin-top: 15px;
}

.Docs__nav__section-subheading {
  color: #02854F;
  font-size: 0.778rem;
  font-weight: 600;
  line-height: 1.26;
  margin: 12px 0 9px 9px;
  text-transform: uppercase;

  @media (max-width: $Docs__bp_stacked) {
    padding-left: 20px;
  }
}

.Docs__nav__sub-nav {
  color: #666;
  font-size: 0.89rem;
  line-height: 1.2;
  list-style: none;
  margin: 9px 0 12px 19px;
  padding: 0;

  &.deprecated {
    .Docs__nav__sub-nav__item::before {
      content: "→";
      margin-right: 5px;
    }
  }

  @media (max-width: $Docs__bp_stacked) {
    font-size: 1rem;
    line-height: 1.2;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -1px;
  }
}

.Docs__nav__sub-nav__item {
  margin-top: 5px;
  &:first-of-type { margin-top: 0; }
}

.Docs__nav__sub-nav__item--sub {
  @extend .Docs__nav__sub-nav__item;
  padding-left: 1em;
}

.Docs__nav__sub-nav__item__link {
  color: #666;
  font-weight: 400;
  &.active {
    font-weight: 600;
    &:hover {
      text-decoration: none;
    }
  }
}

.Docs__nav__version-selector {
  margin-bottom: 10px;
  @media (max-width: $Docs__bp_stacked) {
    margin-left: 20px;
  }
}

.Docs__nav__section-heading--link {
  padding: 0;
}

.Docs__nav__section-heading-link {
  text-decoration: none;
  font-weight: bold;
  color: #14CC80;

  @media (max-width: $Docs__bp_stacked) {
    display: block;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
  }

  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}

.Docs__nav__homebutton {
  display: inline-block;
  background-color: #333;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 300ms;

  @media (max-width: $Docs__bp_stacked) {
    margin-top: 10px;
    margin-left: 20px;
  }

  &:hover, &:focus, &:active {
    background-color: black;
  }
}

.Docs__article {
  flex: 7;
  padding-left: 20px;
  font-weight: 400;
  padding-bottom: 50px;
  margin-top: -5px;
  @media (max-width: $Docs__bp_stacked) { padding-left: 0; }
  h1, h2, h3, h4, h5 {
    font-weight: bold;
    font-family: inherit;
    font-style: normal;
    color: black;
    clear: both;
  }
  h1 { font-size: 2rem; margin-bottom: .5em; }
  h3 { font-size: 1.25rem; margin-top: 2em; }
  h3 { font-size: 1.1rem; margin-top: 2em; margin-bottom: .5em; font-weight: 700; font-style: normal; color: inherit; }
  h3.h3-caps { font-size: 1rem; }
  h3 + p { margin-top: 0; }
  h4 { font-size: 1rem; font-weight: 600; }
  h5 { font-size: .9rem; font-weight: 600; }
  img, svg { padding: 5px; border: 1px solid #eee; }
  img.no-decoration, .responsive-image-container.no-decoration { padding: 0; border: none; margin: 0; }
  img.emoji { padding: 0; border: none; }
  p { max-width: 40em; }
  @extend .TextContent;
  hr { margin: 2.5em 0; }
  hr + h2 { margin-top: 0; }
  th { font-weight: normal; }
  thead th { font-weight: 600; }
  .image, img { max-width: 100%; }
  .responsive-image-container { margin: .5rem 0 2rem 0; }
  li .responsive-image-container { margin: .5rem 0 0 0; }
}

.Docs__nav__section-heading--link + .Docs__nav__section-heading--link {
  a { border-top: none; }
}

.Docs__article .Docs__api-param-eg {
  margin: .25em 0 0 0;
}

.Docs__toc {
  p { margin-bottom: .5em; }
  .Docs__toc__list {
    margin-top: .5em;

    li {
      color: $color-brand-green;
      list-style-type: square;
      margin-left: 1.2em;
    }
  }
}

@media (min-width: 1201px) { //TOC as side column on larger screens
  .Docs__article {
    display: grid;
    grid-template-columns: 1fr 250px;
    position: relative;
  }

  .Docs__toc {
    font-size: 0.8em;
    height: 95%;
    padding-top: 3.7em;
    position: absolute;
    right: 0;
    top: 0;

    .Docs__toc__sticky {
      position: sticky;
      top: 3rem;
      width: 220px;
    }
  }
}

.Docs__note {
  border-left: 3px solid #14CC80;
  padding-left: 1rem;
  font-size: #{(16/18)}rem;
  color: #666;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  p { margin: 0; }
  .Docs__note__heading {
    color: #14CC80;
    font-weight: 400;
    font-size: 1rem;
  }
  p + p { margin-top: .5rem; }
}

.Docs__note--footer-typo {
  @extend .Docs__note;
  margin-top: 3rem;
}

.Docs__attribute__table {
  colgroup col:nth-child(1) {
    width: 5rem;
  }

  tr.importance th {
    border-top: none;
    font-weight: 700;
  }

  tr.optional th {
    padding-top: 2rem;
  }

  td p:first-child { margin-top: 0; }

  .Docs__attribute__link {
    color: #ccc;
    opacity: 0;
    transition: all 0.2s;
  }

  &:hover {
    .Docs__attribute__link {
      opacity: 1.0;

      &:hover {
        color: #aaa;
      }
    }
  }

  .Docs__attribute__importance {
    color: $color-brand-green;
    margin: 5px 0;
    text-transform: uppercase;
    font: 300 13px $font-family;
    letter-spacing: 1px
  }

  .Docs__attribute__env-var {
    font-size: 0.8em;

    code {
      white-space: break-spaces;
    }
  }

  .Docs__attribute__default {
    font-size: 0.8em;
  }

  .Docs__wip-note {
    margin: 0;
  }
}

a.Docs__example-repo {
  align-items: top;
  border: 1px solid #ccc;
  display: flex;
  padding: 15px;
  text-decoration: none;

  &:hover, &:active, &:focus {
    border-color: $color-brand-green;
    color: black;

    .repo {
      color: $color-brand-green;
    }
  }

  .icon {
    width: 22px;
    margin-right: 10px;
    flex: none;
    transform: translateY(3px);
  }
  .detail {
    flex: 1;
  }
  .description {
    color: currentColor;
    display: block;
    font-size: #{(16/18)}rem;
    font-weight: normal;
  }
  .repo {
    color: #666;
    display: block;
    font-size: #{(14/18)}rem;
    font-weight: normal;
    margin-top: .2rem;
    text-decoration: underline;
  }
}

.Docs__time-estimate {
  color: #14CC80;
  font-size: 0.85em;
  letter-spacing: 0.02em;
  &:before {
    content: " ";
    background: asset-url('clock_green.svg') no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    opacity: 0.8;
    line-height: 1;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 4px;
  }
}

.Docs__wip-note {
  @extend .Docs__note;
  border-left-color: orange;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .Docs__wip-heading {
    font: inherit;
    color: inherit;
    font-weight: bold;
    color: orange;
    &:before {
      content: '🛠 ';
    }
  }
}

.Docs__troubleshooting-note {
  @extend .Docs__note;
  border-left-color: orange;
  margin-top: 2rem;
  margin-bottom: 2rem;
  h1, h3 {
    font: inherit;
    color: inherit;
    font-weight: bold;
    color: orange;
    &:before {
      content: '⚠️ ';
    }
  }
}

.Docs__heading:hover {
  position: relative;
  .Docs__heading__anchor {
    font-size: 0;
    line-height: 0;
  }
  .Docs__heading__anchor:before {
    content: '#';
    color: #666;
    font-size: 1rem;
    font-weight: normal;
    margin-left: .5rem;
  }
}
