.footer {
  border-top: 1px solid #ddd;
  color: #4f4f4f;
  margin-bottom: 60px;
  margin-top: 60px;
  padding-top: 30px;

  @media (min-width: $screen-sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .HomepageFooter & {
    @media (min-width: $screen-sm) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__heading {
    color: #111;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  p {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  a {
    color: #111;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  li {
    margin-bottom: 10px;
    margin-top: 10px;
  }

}
