.Footer {
  color: map-get($color-aliases, 'text-lightest');
  font-size: .8889rem;
  line-height: 1.4;
  margin-bottom: 30px;
  margin-top: 60px;
  text-align: center;

  &__heading {
    color: map-get($color-aliases, 'text-base');
    font-size: .8889rem;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;

    @media (min-width: $screen-sm) {
      flex-direction: row;
    }

    &--has-gaps {
      gap: $gutter / 2;

      @media (min-width: $screen-sm) {
        gap: $gutter;
      }
    }
  }
}
