@mixin _link-with-arrow {
  color: map-get($color-aliases, 'text-base');
  text-decoration: none;

  &:hover {
    color: map-get($color-aliases, 'text-lightest');
  }

  &:active::after {
    transform: none;
  }

  &::after {
    content: " →";
    opacity: 0.7;
    position: relative;
    transition: right $transition-speed / 2;
    right: 0;
  }

  &:hover::after {
    right: -2px;
  }
}

.HomeHeader {
  top: 0;
  left: 0;
  right: 0;
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  z-index: 5;

  &__logo {
    transition: opacity $transition-speed;
    will-change: opacity;

    &:hover {
      opacity: .75;
    }
  }

  h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 200%;
    margin-bottom: 60px;
  }

  input {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 12px;
    border-radius: .2em;
    font-size: 16px;
    max-width: 500px;
    width: 100%;
    font-family: $font-family-base;
    background-color: $base-0;
    border: 1px solid map-get($color-aliases, 'border');
    color: map-get($color-aliases, 'text-base');
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:focus { border-color: map-get($color-aliases, 'brand'); }
    &::placeholder { color: $charcoal-300; transition: all 0.2s; }
    &:focus::placeholder { color: map-get($color-aliases, 'text-base'); }
  }
}

.HomeHeader__search .algolia-autocomplete {
  max-width: 500px;
}

.HomeHeader__logo {
  width: 96px;
  height: auto;
  margin-top: .55em;
}

.HomeHeader__wordmark {
  height: 28px;
}

.HomeSuggestions {
  background-color: map-get($color-aliases, 'panel-background');
  font-size: 16px;
  max-width: 500px;
  display: block;
  margin: 0px auto 40px;
  padding: 20px;
  align-self: flex-start;
  width: 100%;
  box-sizing: border-box;
  line-height: 150%;

  a {
    font-weight: 500;
    color: black;
  }
}

.grid-row {
  display: flex;
  flex-direction: column;
  gap: $gutter;
  margin-bottom: 30px;
  
  @media (min-width: $screen-md) {
    flex-direction: row;
  }
}

.HomepageSection {
  &__heading {
    color: map-get($color-aliases, 'text-lightest');
    font-size: .888rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 60px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
}

.HomepageCategory {
  border: map-get($color-aliases, 'border') 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: relative;
  
  @media (min-width: $screen-md) {
    flex: 1 1 0;
  }

  &--is-placeholder {
    display: none;

    @media (min-width: $screen-md) {
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }

  &__header {
    border-bottom: map-get($color-aliases, 'border') 1px solid;
    color: map-get($color-aliases, 'text-base');
    display: grid;
    grid-template-areas:
      "heading icon"
      "subtext icon";
    grid-template-columns: 1fr auto;
    font-family: $font-family-base;
    gap: 5px;
    line-height: 1.4;
    padding-bottom: 20px;
    text-decoration: none;
    width: 100%;

    &--no-subtext {
      grid-template-areas: "heading icon";
    }
  }

  &__heading {
    font-weight: bold;
    font-size: 20px;
    grid-area: heading;
    line-height: 130%;
    display: flex;
    align-items: center;
  }

  &__heading-text {
    @include _link-with-arrow;
  }

  &__header:hover &__heading-text {
    &::after {
      right: -2px;
    }
  }

  &__subtext {
    color: map-get($color-aliases, 'text-lightest');
    font-size: .888rem;
    font-weight: 500;
    grid-area: subtext;
  }

  &__icon {
    align-items: center;
    background-color: map-get($color-aliases, 'panel-background');
    border-radius: 50%;
    display: flex;
    grid-area: icon;
    height: 48px;
    justify-content: center;
    right: 0;
    top: 0;
    transition: background-color $transition-speed;
    width: 48px;
  }

  &__icon-img {
    width: 22px;
  }

  &__header:hover &__icon {
    background-color: map-get($color-aliases, 'brand');

    .HomepageCategory__icon-img {
      filter: brightness(0) invert(1);
    }
  }

  &__list {
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
  }

  &__list-item {
    margin: 15px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-item-link {
    @include _link-with-arrow;
    display: flex;
    font-weight: 500;

    &::after {
      margin-left: auto;
    }
  }

  .Button {
    margin: auto 0 0;

    @media (min-width: $screen-md) {
      align-self: flex-start;
    }
  }

  &__icon {
    max-height: 250px;
    max-width: 100%;
  }

  .has-pill-beta {
    &::after {
      top: 0;
    }
  }
}
