.Nav {
  border-top: #ddd 1px solid;

  &__toggle-checkbox {
    position: absolute;
    visibility: hidden;

    &:checked ~ .Nav__container {
      display: block;
      
      @media (min-width: $screen-md) {
        display: flex;
      }
    }
  }

  &__toggle-label {
    background: transparent asset-url('icons/menu.svg') 50% 50% no-repeat;
    border: #ddd 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 40px;
    margin: 0;
    position: absolute;
    right: 30px;
    top: 10px;
    width: 40px;

    @media (min-width: $screen-md) {
      display: none;
    }

    &:hover {
      background-color: #f2f2f2;
    }

    .Nav__toggle-checkbox:checked + & {
      background-image: asset-url('icons/remove.svg');
    }

    span {
      left: -10rem;
      position: absolute;
      top: -10rem;
    }
  }

  &__container {
    display: none;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 10px;
    padding-top: 10px;

    @media (min-width: $screen-md) {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__link {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #111;
    display: flex;
    font-family: $font-family;
    font-size: 14px;
    gap: 5px;
    line-height: 24px;
    padding: 5px 15px;
    text-decoration: none;
    transition: background-color $transition-speed, color $transition-speed;
    width: 100%;

    @media (min-width: $screen-md) {
      width: auto;
    }

    &:hover {
      background-color: #f2f2f2;
    }
  }

  &__section {
    display: none;

    &--level1 {
      display: block;

      @media (min-width: $screen-md) {
        display: flex;
      }

      &.Nav__section:first-child {
        @media (min-width: $screen-md) {
          margin-left: -15px;
          margin-right: auto;
        }

        .Nav__link--level1 {
          font-weight: bold;
        }
      }
    }

    &--level2 {
      @media (min-width: $screen-md) {
        border-right: #ddd 1px solid;
        display: block;
        height: calc(100% - #{$header-height});
        left: 0;
        overflow-y: scroll;
        padding: 30px 15px;
        position: fixed;
        top: $header-height;
        width: $sidebar-width;
      }
    }
  }
}
