.responsive-table {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;

  @media (min-width: 960px) {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  thead {
    @media (max-width: 959px) {
      border-width: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }

  tbody {
    display: block;

    @media (min-width: 960px) {
      display: table-row-group;
    }

    tr {
      display: grid;
      grid-template-columns: 1fr;
      padding-bottom: 15px;
      padding-top: 15px;
  
      @media (min-width: $max-w-prose) and (max-width: 959px) {
        gap: 10px;
        grid-template-columns: minmax(auto, 20ch) 1fr;
        padding-bottom: 1rem;
        padding-top: 1rem;
      }
  
      @media (min-width: 960px) {
        display: table-row;
      }
  
      &:not(:first-child) {
        border-top: 0;
      }
    }
  }

  th {
    padding: 0;
    word-wrap: break-word;

    @media (min-width: 960px) {
      padding: .5rem;
    }
  }

  td {
    padding: 0 0 .5rem;
    word-wrap: break-word;

    @media (min-width: 960px) {
      padding: .5rem;
    }

    &:first-child {
      padding-top: .5rem
    }

    p {
      margin-bottom: 10px;

      @media (min-width: 960px) {
        margin-bottom: 15px;
      }
    }
  }

  tfoot {
    display: block;

    @media (min-width: 960px) {
      display: initial;
    }
  }

  code {
    white-space: normal !important; // override nested .TextContent styling
  }

  .responsive-table__faux-th {
    font-weight: 600;
    
    @media (min-width: 960px) {
      display: none;
    }
  }
}
