$SiteHeaderLogoHeight: 36px;
$SiteHeader__bp_wrap_search: 600px;

.SiteHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: $SiteHeaderLogoHeight;
  z-index: 5;

  @media (max-width: $SiteHeader__bp_wrap_search) {
    position: relative;
    padding-bottom: 0;
  }
}

.SiteHeader__inner {
  display: flex;
  @media (max-width: $SiteHeader__bp_wrap_search) {
    flex-direction: column;
  }
}

.SiteHeader__docslink {
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 300ms;
  will-change: color;

  &:hover, &:focus, &:active {
    color: #14CC80;
  }
}

.SiteHeader__mark {
  margin-right: .5em;
  svg {
    width: 28px;
    height: auto;
    margin-top: .55em;
  }
}

.SiteHeader__logo, .SiteHeader__tagline {
  margin: 0;
}

.SiteHeader__logo {
  flex: 0 0 auto;
  line-height: $SiteHeaderLogoHeight;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: .5em;
}

.SiteHeader__search {
  margin-left: auto;
  @media (max-width: $SiteHeader__bp_wrap_search) {
    width: 100%;
  }
}

.SiteHeader__search input {
  display: block;
  box-sizing: border-box;
  padding: 10px 12px;
  border-radius: .2em;
  font-size: 16px;
  width: 100%;
  font-family: inherit;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #555;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:focus { background-color: rgba(white, .1); border-color: #14CC80; }
  &::-webkit-input-placeholder { color: rgba(#555, .35); }
  &:-moz-placeholder { color: rgba(#555, .35); }
  &::-moz-placeholder { color: rgba(#555, .35); }
  &:-ms-input-placeholder { color: rgba(#555, .35); }
}
