$SiteHeaderLogoHeight: 36px;

.SiteHeader {
  background-color: #fff;
  box-sizing: border-box;
  line-height: $SiteHeaderLogoHeight;
  z-index: 20;

  @supports (backdrop-filter: blur(2px)) {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, .85);
  }
  
  @media (min-width: $screen-md) {
    min-height: $header-height;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.SiteHeader__inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
  padding-top: 10px;

  @media (min-width: $screen-sm) {
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 10px;
  }
}

.SiteHeader__logo {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  font-weight: bold;
  line-height: $SiteHeaderLogoHeight;
  margin-right: 30p;
}

.SiteHeader__logo-img {
  display: block;
  transition: opacity $transition-speed;
  width: 28px;
  will-change: opacity;

  &:hover {
    opacity: .75;
  }
}

.SiteHeader__links {
  align-items: right;
  display: none;
  font-size: 16px;
  margin-left: auto;

  @media (min-width: $screen-md) {
    display: inline-flex;
    gap: 10px;
  }

  .Button {
    margin: 0;
  }
}

.SiteHeader__docslink {
  color: #111;
  text-decoration: none;
  transition: color $transition-speed;
  will-change: color;

  &:hover,
  &:focus,
  &:active {
    color: #14CC80;
  }
}

.SiteHeader__mark {
  margin-right: .5em;
  svg {
    width: 28px;
    height: auto;
    margin-top: .55em;
  }
}

.SiteHeader__wordmark {
  height: 14px;
}

.SiteHeader__tagline {
  margin: 0;
}
