.Tiles {
  @media (min-width: $screen-lg) {
    display: grid;
    gap: 30px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.TileItem {
  font-size: 0.888888rem;
  margin-bottom: 30px;

  .TileItem__image {
    border: 0;
    display: block;
    padding: 0;
    margin-bottom: 10px;
    width: auto;
  }

  .TileItem__title {
    font-size: 1.111111rem;
    font-weight: bold;
    margin: 0 0 15px;
  }

  .TileItem__desc {
    font-size: 0.888888rem;
    margin: 0 0 10px;
  }

  .TileItem__learn-more {
    font-size: 0.888888rem;
    font-weight: bold;
  }

  .TileItem__list {
    font-family: $font-family-system;
    font-weight: 500;
    line-height: 125%;
    padding: 0; // override `.TextContent ul`
  }

  .TileItem__list-item {
    list-style: none;
    margin: 15px 0;

    .pill {
      position: relative;
      top: 4px;
    }
  }

  .TileItem__list-item-link {
    color: map-get($color-aliases, 'text-base');
    text-decoration: none;

    &::after {
      content: "→";
      margin-left: 3px;
      opacity: 0.7;
      position: absolute;
      transition: transform 0.1s;
    }

    &:hover {
      color: map-get($color-aliases, 'text-lightest');

      &::after {
        transform: translateX(2px);
      }
    }
  }
}