.Toc {
  line-height: 1.3;

  @media (min-width: $screen-lg) {
    font-size: 16px;
    height: 95%;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__sticky {
    @media (min-width: $screen-lg) {
      background: #fefefe;
      box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3%);
      padding: 1px 5px 8px 15px;
      position: sticky;
      top: $header-height + 30px;
      width: $sidebar-width;
    }
  }

  .Toc__title {
    margin-bottom: .5em;
  }

  &__list {
    margin-top: .5em;
  }

  &__list-item {
    color: $color-brand-green;
    list-style-type: square;
    margin-left: 1.2em;
  }

  &__link {
    @media (min-width: $screen-lg) {
      color: #666;
      text-decoration: none;
    }
  }
}
