@media (min-width: $screen-lg) {
  .Docs__toc {
    font-size: 16px;
    height: 95%;
    position: absolute;
    right: 0;
    top: 0;

    .Docs__toc__sticky {
      background: #fefefe;
      box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3%);
      padding: 1px 5px 8px 15px;
      position: sticky;
      top: $header-height + 30px;
      width: $sidebar-width;
    }

    a {
      color: #666;
      text-decoration: none;
    }
  }
}

.Docs__toc {
  line-height: 1.3;

  p { margin-bottom: .5em; }
  .Docs__toc__list {
    margin-top: .5em;

    li {
      color: $color-brand-green;
      list-style-type: square;
      margin-left: 1.2em;
    }
  }
}
