$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;
$text-on-dark-subdued-opacity: .8;
$text-on-dark-very-subdued-opacity: .7;
$color-brand-green: rgb(2, 129, 76);
$transition-speed: 300ms;
$screen-sm: 768px;
$max-w-prose: 65ch;
