// global colors
$base-0: #ffffff;
$base-1000: #000;
$aqua-100: #DDFFFA;
$aqua-500: #6AF0DB;
$aqua-600: #39CCCC;
$aqua-800: #238072;
$blue-100: #EFF9FF;
$blue-200: #BFEDFF;
$blue-400: #7FDBFF;
$blue-600: #337ab7;
$blue-700: #0A568D;
$charcoal-300: #767676;
$charcoal-400: #555555;
$charcoal-500: #4F4F4F;
$charcoal-600: #444444;
$charcoal-700: #333333;
$charcoal-800: #222222;
$charcoal-900: #111111;
$gray-100: #F8F8F8;
$gray-200: #F5F5F5;
$gray-300: #EEEEEE;
$gray-400: #E5E5E5;
$gray-500: #DDDDDD;
$gray-600: #BBBBBB;
$gray-700: #AAAAAA;
$gray-800: #8E8E8E;
$gray-900: #888888;
$green-100: #FAFDFA;
$green-200: #E2FBE6;
$green-400: #2ECC40;
$green-500: #00BE13;
$green-700: #00A110;
$lime-200: #BEEAD8;
$lime-500: #14CC80;
$lime-700: #00BB64;
$olive-500: #3D9970;
$olive-700: #078573;
$olive-800: #0E7868;
$yellow-500: #FFDC00;
$orange-100: #FFF8E7;
$orange-500: #FFBA11;
$orange-700: #FF851B;
$pink-100: #FFEDF9;
$pink-400: #F198D3;
$pink-700: #921F6B;
$pink-800: #85144B;
$purple-100: #F1EFFF;
$purple-300: #A195EF;
$purple-600: #4B19D5;
$purple-700: #2D2081;
$red-100: #FDF5F5;
$red-500: #F83F23;
$red-600: #EB130F;
$red-700: #DB260A;
$slate-100: #F9FAFB;
$slate-500: #C2CACE;
$slate-800: #202632;
$slate-900: #151921;

// color aliases
$color-aliases: (
  'text-base': $charcoal-700,
  'text-lightest': $charcoal-400,
  'text-link': $olive-700,
  'text-link-hover': $olive-800,
  'text-display': $slate-900,
  'text-body': $charcoal-400,
  'button-primary': $olive-700,
  'border': $gray-500,
  'panel-background': $gray-100,
  'icon': $charcoal-700,
  'state-success': $green-500,
  'state-fail': $red-500,
  'state-warning': $orange-500,
  'brand': $lime-500,
  'selected': $purple-600,
  'selected-bg': $purple-100
);

// font
$font-size-base: 16px;
$font-family-system: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Helvetica Neue", Helvetica, sans-serif;
$font-family-display: 'Aeonik', $font-family-system;
$font-family-body: 'Maison Neue', $font-family-system;
$font-family-base: $font-family-system;

// breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 960px;
$screen-lg: 1280px;
$screen-xl: 1536px;

// settings
$gutter: 32px;
$max-w: (
  'outer-container': 1600px,
  'container': 1440px,
  'prose': 720px,
);
$border-rounded: 5px;
$transition-speed: 300ms;
$filter-brand-green: invert(58%) sepia(82%) saturate(466%) hue-rotate(103deg) brightness(95%) contrast(86%);
$header-height: (
  'one-row': 64px,
  'two-rows': 113px
);
$sidebar-width: 270px;
$text-on-dark-subdued-opacity: .8;
$text-on-dark-very-subdued-opacity: .7;

// shadows
$box-shadow-depth-100: 0px 1px 2px rgba($base-1000, 0.1);
$box-shadow-depth-800:
  0 20px 20px rgba($base-1000, .07),
  0 10px 20px rgba($base-1000, .05),
  0 13px 18px rgba($base-1000, .04),
  0 7px 9px rgba($base-1000, .03);
