$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;
$text-on-dark-subdued-opacity: .8;
$text-on-dark-very-subdued-opacity: .7;
$color-brand-green: #14cc80;
$filter-brand-green: invert(58%) sepia(82%) saturate(466%) hue-rotate(103deg) brightness(95%) contrast(86%);
$color-highlight-green: #03a562;
$transition-speed: 300ms;
$header-height: 108px;
$sidebar-width: 275px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 960px;
$screen-lg: 1280px;
$screen-xl: 1536px;
$max-w-prose: 65ch;
