.Docs__api-param-eg {
  margin: 0.25em 0 0 0;
}

.Docs__attribute__table {
  table-layout: fixed;
  width: 100%;

  th {
    word-wrap: break-word;

    code {
      white-space: normal;
    }
  }

  td {
    word-wrap: break-word;
  }

  tr.importance th {
    border-top: none;
    font-weight: bold;
  }

  tr.optional th {
    padding-top: 2rem;
  }

  td p:first-child {
    margin-top: 0;
  }

  .Docs__attribute__link {
    color: $gray-600;
    opacity: 0;
    transition: all 0.2s;
  }

  &:hover {
    .Docs__attribute__link {
      opacity: 1;

      &:hover {
        color: $gray-700;
      }
    }
  }

  small {
    display: block;
    font-size: 0.875rem;
    margin: 1rem 0;
  }

  .comma-separated {
    margin: 1rem 0;

    li {
      display: inline;
      margin: 0;

      &:not(:last-child)::after {
        content: ",";
      }

      &:first-child::after {
        content: "";
      }
    }
  }

  .Docs__attribute__importance {
    color: $olive-700;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
  }

  .Docs__attribute__env-var {
    font-size: 0.875rem;
  }

  .Docs__attribute__default {
    font-size: 0.875rem;
  }

  .Docs__attribute__example {
    align-content: baseline;
    display: grid;
    gap: 0.4rem;
    grid-template-columns: auto auto;
    justify-content: left;

    strong,
    code {
      font-size: 0.875rem;
      line-height: map-get($line-heights, "tight");
    }
  }
}

a.Docs__example-repo {
  border: 1px solid #ccc;
  color: map-get($color-aliases, "text-base");
  display: flex;
  padding: 15px;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    border-color: map-get($color-aliases, "brand");
    color: black;

    .repo {
      color: map-get($color-aliases, "brand");
    }
  }

  .icon {
    width: 22px;
    margin-right: 10px;
    flex: none;
    transform: translateY(3px);
  }

  .detail {
    flex: 1;
  }

  .description {
    color: currentColor;
    display: block;
    font-size: #{(16/18)}rem;
    font-weight: normal;
  }

  .repo {
    color: map-get($color-aliases, "text-lightest");
    display: block;
    font-size: #{(14/18)}rem;
    font-weight: normal;
    margin-top: 0.2rem;
    text-decoration: underline;
  }
}

.Docs__time-estimate {
  color: map-get($color-aliases, "brand");
  font-size: 0.85em;
  letter-spacing: 0.02em;
  &:before {
    content: " ";
    background: asset-url("clock_green.svg") no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    opacity: 0.8;
    line-height: map-get($line-heights, "tighest");
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 4px;
  }
}

.Docs__heading {
  position: relative;

  .Docs__heading__anchor {
    color: map-get($color-aliases, "text-display");
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: map-get($color-aliases, "text-display");
    }

    &:hover {
      &:before {
        content: "#";
        color: map-get($color-aliases, "border");
        font-size: 2rem;
        font-weight: normal;
        position: absolute;
        left: -1.5rem;
      }
    }
  }
}

html {
  scroll-padding-top: 15px;

  @media (min-width: $screen-md) {
    scroll-padding-top: map-get($header-height, "two-rows") + 15px;
  }

  @media (min-width: $screen-md) {
    scroll-padding-top: map-get($header-height, "one-row") + 15px;
  }
}

body.beta {
  .Page {
    h1,
    .Docs__heading {
      display: inline;
      position: relative;

      &:after {
        @include pill;
        @include pill-style(beta);
        @include pill-small;
        left: 5px;
        position: relative;
        top: -5px;
      }
    }
  }
}
