# Single Sign-On with ADFS

You can use Active Directory Federation Services (ADFS) for your Buildkite organization. To complete this tutorial, you need admin privileges for both your ADFS server and Buildkite.

<div class="Docs__note">
  <p>You can also set up SSO providers manually with GraphQL. See the <a href="/docs/integrations/sso/sso-setup-with-graphql">SSO Setup with GraphQL Guide</a> for detailed instructions and code samples.</p>
</div>

{:toc}

## Step 1. Create a Buildkite SSO provider

Click the Buildkite Organization Settings' _Single Sign On_ menu item, then choose the ADFS provider from the available options:

<%= image "sso-settings.png", width: 1716/2, height: 884/2, alt: "Screenshot of the Buildkite SSO Settings Page" %>

On the following page, copy the ACS URL for use in Step 2.

## Step 2. Set up Buildkite in the ADFS management console

The instructions below guide you through using a series of wizards to:

+ Add a Relying Party Trust
+ Add an Issuance Transform Rule, a type of Claim Rule
+ Export the Token-signing Certificate
+ Update the Authentication Policy

With these wizards, you'll set up your domain for SSO and retrieve the information the Buildkite team requires to complete the setup process.

<div class="Docs__note">
<h3 class="Docs__note__heading">This guide was written for, and tested using, Windows Server 2016</h3>
<p>Some of the wizard pages and dialog tab names have changed across versions of Windows Server.</p>

<p>For a guide written for Windows Server 2012, the <a href="https://www.pagerduty.com/docs/guides/adfs-sso-guide/">Pagerduty SSO integration guide</a> is very similar to Buildkite. Follow the Pagerduty instructions, and substitute in the Buildkite values from the instructions below.</p>
</div>

### Step 2.1 Add a relying party trust

From the _Actions_ sidebar, click _Add relying party trust..._ to start the wizard

1. _Welcome_: Select _Claims aware_.
2. _Select data source_: Select _Enter data about the relying party manually_.
3. _Specify display name_: Call your relying party `Buildkite`.
4. _Choose profile_: Select _ADFS profile_.
5. _Configure certificate_: Skip this step, as you don't need a token encryption certificate.
6. _Configure URL_:
	Select _Enable support for the SAML 2.0 WebSSO protocol_.
	Enter the ACS URL from Buildkite as your _Relying party SAML 2.0 SSO service URL_.
7. _Configure identifiers_:
	Enter `https://<your IDP url>/adfs/services/trust` into the _Relying party trust identifier_ field.
	Click _Add_ to add it to the _Relying party trust identifiers_ list.
8. _Choose Access Control Policy_:
	Choose _Permit everyone_.
	You can choose to select specific users, but that involves further steps that aren't covered by this guide.
9. _Ready to add trust_: Review your settings to make sure all the URLs are correct.
10. _Finish_:
	Leave the _Configure claims issuance policy for this application_ box checked.
	Click _Close_ to close the wizard and save your setup.

In the _Actions_ sidebar, you should now have a subheading _Buildkite_.

### Step 2.2 Add an issuance transform rule

From the _Buildkite_ section of the _Actions_ sidebar, click _Edit claim issuance policy..._

Here we're going to add three rules. Add each rule using the _Add Rule_ button on the _Issuance transform rules_ tab:

Rule 1

1. _Choose rule type_: _Send LDAP Attributes as claims_
2. _Configure claim rule_:
	* _Claim Rule Name_: Get Attributes
	* _Attribute Store_: Active Directory
	* _Mapping of LDAP Attributes to outgoing claim types_:
		- _LDAP Attribute_: Email Addresses, Outgoing claim type: Email address
		- _LDAP Attribute_: Display-Name, Outgoing claim type: Name
3. Click _Finish_ to add the rule

Rule 2

1. _Choose rule type_: _Transform an incoming claim_
2. _Configure claim rule_:
	* _Claim Rule Name_: Name ID Transform
	* _Incoming Claim Type_: Email address
	* _Outgoing Claim Type_: Name ID
	* _Outgoing Name ID Format_: Email
	* Select _Pass through all claim values_
3. Click _Finish_ to add the rule

Rule 3

1. _Choose rule type_: _Send claims using a custom rule_
2. _Configure claim rule_:
	* _Claim Rule Name_: Attribute Name Transform
	* _Custom Rule_:
		<pre><code>c:[Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"]
		=> issue(Type = "Name", Issuer = c.Issuer, OriginalIssuer = c.OriginalIssuer, Value = c.Value, ValueType = c.ValueType);</code></pre>
3. Click _Finish_ to add the rule.
4. Click _OK_ to save and exit the _Claim Issuance Policy_ dialog.

For more information on what other attributes Buildkite accepts, see the [SAML user attributes](#saml-user-attributes) table.

### Step 2.3 Export the token signing certificate

From the _Service_ section of the _ADFS_ console tree, select the _Certificates_ subsection.

1.  Click on the certificate listed under the heading _Token-signing_.
2.  In the _CN=ADFS Signing_ section of the _Actions_ sidebar, click _View Certificate..._.
3.  In the _Certificate_ dialog, select the _Details_ tab.
4.  Click the _Copy to File..._ button.
5.  Start the _Certificate Export Wizard_.
6.  _Export File Format_: select _Base-64 encoded X.509 (.CER)_.
7.  _File to Export_: name your file, and choose where you'd like to export the file
8.  Check the settings are correct, and click _Finish_.

### Step 2.4 Update the authentication policy

From the _Service_ section of the _ADFS_ console tree, select the _Authentication Methods_ subsection.

1. Under the _Primary Authentication Methods_ header, click the _Edit_ link.
2. In the _Intranet_ section, ensure that the _Forms Authentication_ box is checked.
3. Click _OK_ to exit the dialog.

## Step 3. Update your Buildkite SSO provider

On your Buildkite Organization Settings' _Single Sign On_ page, select your ADFS provider from the list of _Configured SSO Providers_.

Click the _Edit Settings_ button, choose the _Manual data_ option, and enter the IdP data you saved during the previous step:

<table>
    <tr>
        <td>Login URL</td>
        <td>
          The URL where you can log in to your ADFS service. Usually your domain name or IP, with <code>/adfs/ls</code> appended.
        </td>
    </tr>
    <tr>
        <td>Federation Service Identifier</td>
        <td>
            The URL that identifies your ADFS service. Usually your domain name or IP, with <code>/adfs/services/trust</code> appended.
        </td>
    </tr>
    <tr>
        <td>X.509 certificate</td>
        <td>
       	  Attach the X.509 certificate that you downloaded during setup
        </td>
    </tr>
</table>

## Step 4. Perform a test login

Follow the instructions on the provider page to perform a test login. Performing a test login verifies that SSO is working correctly before you activate it for your organization members.

## Step 5. Enable the new SSO provider

Once you've performed a test login you can enable your provider using the _Enable_ button. Activating SSO will not force a log out of existing users, but will cause all new or expired sessions to authorize through ADFS before organization data can be accessed.

If you need to edit or update your ADFS provider settings at any time, you will need to disable the provider first. For more information on disabling a provider, see the [disabling SSO](/docs/integrations/sso#disabling-and-removing-sso) section of the SSO overview.

## SAML user attributes

<%= render_markdown 'integrations/sso/saml_user_attributes' %>
