# Single Sign-On with a SAML Provider

Any identify provider that supports SAML 2.0 can be used to authorize access to your Buildkite organization. If there isn't a Buildkite guide for your chosen provider, you can set up SAML using the instructions below.

<%= toc %>

## Set up your provider

There are two ways to set up your custom provider: using the Buildkite meta-data XML to your identity provider, or manually adding your Buildkite data into your identity provider. After setting up your provider, you'll need to set up your SSO provider in your Buildkite organization's Single Sign On Settings.

Manual SSO provisioning in Buildkite is available via our GraphQL explorer. For further information, see the [GraphQL SSO Setup Guide](/docs/integrations/sso/sso-setup-with-graphql). 

<div class="Docs__note">
<p class="Docs__note__heading">Before starting your provider setup</p>
<p>Email the Buildkite team at support@buildkite.com to request your unique SSO service URL, you will need this during set up.</p>
<p>You can also retreive this URL and complete your setup manually using GraphQL. See the <a href="/docs/integrations/sso/sso-setup-with-graphql">SSO Setup with GraphQL Guide</a> for detailed instructions.</p>
</div>

### Step 1. Option A - Setting up with meta-data

A custom URL containing your organization's metadata can be generated. You can request the URL from support@buildkite.com alongside your SSO service URL. The custom endpoint contains all the information you need to set up SAML with any provider.

### Step 1. Option B - Setting up manually

Manual setup is different for each provider, however it usually requires the following fields:

<table>
    <tr>
        <td>Single Sign-On URL</td>
        <td>
            Your unique SSO service URL from Buildkite that will be sending requests to your identity provider. 
        </td>
    </tr>
    <tr>
        <td>Entity Identifier</td>
        <td>
            https://buildkite.com  
        </td>
    </tr>
    <tr>
        <td>Name ID</td>
        <td>
            The field used to identify users.
            Email Address.
        </td>
    </tr>
</table>

If your custom provider needs further information, please email support@buildkite.com.

### Step 2. Create an SSO Provider in Buildkite

In your Buildkite Organization Settings' Single Sign On menu item, choose the Custom SAML provider:

<%= image "sso-settings.png", width: 1458/2, height: 926/2, alt: "Screenshot of the Buildkite SSO Settings Page" %>

On the following screen you can choose to either set up using a Meta Data URL from your IdP or by entering the following 3 fields:

<table>
    <tr>
        <td>SAML 2.0 Endpoint (HTTP)</td>
        <td>
            The SAML endpoint for your chosen provider.
        </td>
    </tr>
    <tr>
        <td>Issuer URL</td>
        <td>
            The identifing URL of your chosen provider.  
        </td>
    </tr>
    <tr>
        <td>X.509 certificate</td>
        <td>
            The public key certificate for your chosen provider.
        </td>
    </tr>
</table>

<%= image "custom-saml-settings.png", width: 1746/2, height: 926/2, alt: "Screenshot of the Buildkite Custom SAML Settings Page" %>

### Step 3. Perform a Test Login

Follow the instructions to perform a test login. Performing a test login will verify that SSO is working correctly before you activate it for your organization members.

### Step 4. Enable the new SSO Provider

Once you've performed a test login you can enable your provider. Activating SSO will not force a log out of existing users, but will cause all new or expired sessions to authorize through your provider before organization data can be accessed.

If you need to edit or update your provider settings at any time, you will need to disable the provider first. For more information on disabling a provider, see the [disabling SSO](/docs/integrations/sso#disabling-and-removing-sso) section of the SSO overview.

## SAML User Attributes

Buildkite accepts a subset of the SAML attributes from identity providers. The accepted attributes are:

<table>
    <tr>
        <th>
            Attribute
        </th>
        <th>
            Description
        </th>
    </tr>
    <tr>
        <td>
            <code>admin</code>
        </td>
        <td>
            A boolean value that describes whether the user should be provisioned with admin permissions
            Example: true
        </td>
    </tr>
    <tr>
        <td>
            <code>email</code>
        </td>
        <td>
            A string of the user's email address
            Example: "person@company.com"
        </td>
    </tr>
    <tr>
        <td>
            <code>name</code>
        </td>
        <td>
            A string of the user's full name
            Example: "Han Solo"
        </td>
    </tr>
    <tr>
        <td>
            <code>teams</code>
        </td>
        <td>
            A comma separated list of team UUIDs. A team's UUID can be found on the Team Settings page in Buildkite. 
            Example: `a1aaaa1a-b2bb-cccc-d4dd-aa2aaa6aaaaa,b5bbbbbb-3aaa-dd1d-aaa1-eee4eee6eeee`
        </td>
    </tr>
</table>

When using the `teams` attribute, you can also specify roles. The `maintainer` or `member` role can be appended to the team UUID. 

For example, the following code will specify the member role for the first team and the maintainer role for the second team:

```
teams="b5bbbbbb-3aaa-dd1d-aaa1-eee4eee6eeee/member, a1aaaa1a-b2bb-cccc-d4dd-aa2aaa6aaaaa/maintainer"
```

