# Single Sign-On with Google Workspace (SAML)

As an alternative to [Google Workspace SSO via OpenID](/docs/integrations/sso/g-suite), Google Workspace can be used as an SSO provider for your Buildkite organization via SAML.

To complete this tutorial, you will need admin privileges for both Google Workspace and Buildkite.

<div class="Docs__note">
  <p>You can also set up SSO providers manually with GraphQL. See the <a href="/docs/integrations/sso/sso-setup-with-graphql">SSO Setup with GraphQL Guide</a> for detailed instructions and code samples.</p>
</div>

## Step 1. Create a Buildkite SSO Provider

Click the Buildkite Organization Settings' Single Sign On menu item, then choose the Custom SAML provider from the available options:

<%= image "sso-settings.png", width: 1716/2, height: 884/2, alt: "Screenshot of the Buildkite SSO Settings Page" %>

Choose the 'Provide IdP Metadata Later' option when configuring your Custom SAML Provider:

On the following page, copy the ACS URL for use in Step 2.

## Step 2. Add Buildkite in Google Workspace

Log into your [Google Admin Console](https://admin.google.com), and follow these instructions:

1. In the 'Apps' area of the console, select the 'Web and mobile apps' submenu.
1. Click the 'Add App" menu at the top of the table and choose 'Add custom SAML app'
1. Give your application a name, for example 'Buildkite'.
1. Copy down the SSO URL and Entity ID, and download the Certificate. You'll need these in Step 3.
1. Enter the following Service Provider Details:
    * ACS URL: the URL you copied in Step 1
    * Entity ID: https://buildkite.com
1. Attribute mapping can be added after the initial setup and testing. Click 'Finish' to complete the setup.

## Step 3. Update your Buildkite SSO Provider

On your Buildkite Organization Settings' Single Sign On page, select your Custom SAML provider from the list of Configured SSO Providers.

Click the 'Edit Settings' button, choose the Manual data option, and enter the IdP data you saved in Step 2:

<table>
    <tr>
        <td>SAML 2.0 Endpoint (HTTP)</td>
        <td>
            The SSO URL you copied down during the previous step.
        </td>
    </tr>
    <tr>
        <td>Issuer URL</td>
        <td>
            The Entity ID that you copied down during the previous step.
        </td>
    </tr>
    <tr>
        <td>X.509 certificate</td>
        <td>
            The public key certificate generated for you by Google Workspace that you downloaded during the previous step. You'll need the whole file, not just a link to the file.
        </td>
    </tr>
</table>

Save your new settings and you'll be returned to your provider page.

## Step 3. Perform a Test Login

Follow the instructions on the provider page to perform a test login. Performing a test login will verify that SSO is working correctly before you activate it for your organization members.

## Step 4. Enable the new SSO Provider

Once you've performed a test login you can enable your provider using the `Enable` button. Activating SSO will not force a log out of existing users, but will cause all new or expired sessions to authorize through Google Workspace before organization data can be accessed.

If you need to edit or update your Google Workspace (SAML) provider settings at any time, you will need to disable the provider first. For more information on disabling a provider, see the [disabling SSO](/docs/integrations/sso#disabling-and-removing-sso) section of the SSO overview.
