# Single Sign-On with Okta

Okta can be used as an SSO provider for your Buildkite organization. To complete this tutorial, you will need admin privileges for both Okta and Buildkite.

### Step 1. Add Buildkite in Okta

Log into your Okta account, and follow these steps:

1. Click the Admin button in Okta to access your Admin dashboard
1. In the Shortcuts menu, click 'Add Applications' to search the Okta application directory
1. Search for 'Buildkite'
1. Click 'Add' to add the Buildkite app to your Okta account
1. Fill out the 'General Settings' form, entering your case sentitive Buildkite organization slug as the 'Organization ID'
1. In the Buildkite application in Okta, select the tab labelled 'Sign On'
1. In the Sign On section 'Settings', click the 'Identity Provider Metadata' link and copy the URL for use in the next step

### Step 2. Create an SSO Provider

- in your org settings on the SSO page, choose the Okta provider
- enter the metadata link

### Step 3. Perform a Test Login

Follow the instructions to perform a test login. Performing a test login will verify that SSO is working correctly, before you activate it for all your organization members.

### Step 4. Enable the new SSO Provider

Once you've performed a test login you can enable your provider. Activating SSO will not force a log out of existing users, but will cause all new or expired sessions to authorize through Okta before organization data can be accessed.

- If you need to edit or update your settings at any time, you will need to disable the provider first
- for more information on disabling a provider, see the overview guide

<div class="Docs__note">
  <p>See the <a href="/docs/integrations/sso/sso-setup-with-graphql">SSO Setup with GraphQL Guide</a> for instructions on how to manually set up SSO using GraphQL.</p>
</div>