# Single Sign-On with Okta

To add Okta as an SSO provider for your Buildkite organization, you need admin privileges for both Okta and Buildkite.

To set up Single Sign-On, follow the [SAML configuration guide](https://saml-doc.okta.com/SAML_Docs/How-to-Configure-SAML-2.0-for-Buildkite.html).

## Using SCIM to provision and manage users

<div class="Docs__note">
  <p>This integration with Okta is currently available only to a limited number of customers. Contact support@buildkite.com to learn more.</p>
</div>

### Supported SCIM Features

* Create Users (note that users added to Okta won't be billed for until they have signed up with Buildkite)
* Deactivate Users (Deprovisioning)

### Configuration instructions

Using the SCIM provisioning settings in Okta, Enterprise customers can automatically remove user accounts from your Buildkite organization. In Okta this feature is called 'Deactivating' a user. You need an enabled Okta SSO Provider before you can set up SCIM.

After creating your SSO Provider in Buildkite, you will need the  _Base URL_ and _API Token_ from your Okta SSO Provider Settings:

<%= image "okta-scim-settings.png", width: 1440/2, height: 548/2, alt: "Screenshot of the Buildkite Okta Settings SCIM Deprovisioning section" %>

Go to your Buildkite application in Okta to set up deprovisioning:

1. On the _Sign On_ tab in the Okta Buildkite application, edit the _Credential Details_ settings, select _Email_ for the _Application username format_ and press _Save_
1. On the _Provisioning_ tab, select _Integration_ from the left side menu
1. Click _Configure API Integration_
1. Tick _Enable API integration_ and enter the URL and API token copied from your Buildkite SSO Provider settings
1. Click _Test API Credentials_ and then _Save_ once successfully verified
1. Select _To App_ from the left side menu
1. Edit the _Provisioning to App_ settings, and enable _Create Users_ and _Deactivate Users_
1. Save and test your settings

### Provisioning Existing Users

Existing Okta users aren't automatically provisioned in Buildkite; you'll need to sync your users in order to deprovision them.

This can be done one of two ways:

1. Using the _Provision User_ function on the _Assignments_ tab of the Okta Buildkite app (if it's available), or
1. By removing and re-assigning the users and groups to the Okta Buildkite app.
