# Single Sign-On with Okta

Okta can be used as an SSO provider for your Buildkite organization. To complete this tutorial, you will need admin privileges for both Okta and Buildkite.

### Step 1. Add Buildkite in Okta

Log into your Okta account, and follow these steps:

1. Click the Admin button in Okta to access your Admin dashboard
1. In the Shortcuts menu, click 'Add Applications' to search the Okta application directory
1. Search for 'Buildkite'
1. Click 'Add' to add the Buildkite app to your Okta account
1. Fill out the 'General Settings' form, entering your case sentitive Buildkite organization slug as the 'Organization ID'
1. In the Buildkite application in Okta, select the tab labelled 'Sign On'
1. In the Sign On section 'Settings', click the 'Identity Provider Metadata' link and copy the URL for use in the next step

### Step 2. Create an SSO Provider

In your Buildkite Organization Settings' Single Sign On menu item, choose the Okta provider:

<%= image "sso-settings.png", width: 2318/2, height: 907/2, alt: "Screenshot of the Buildkite SSO Settings Page" %>

On the following screen in the Metadata URL field, enter the 'Identity Provider Metadata' link that you copied in the previous step.

<%= image "okta-settings.png", width: 1848/2, height: 732/2, alt: "Screenshot of the Buildkite Okta Settings Page" %>

### Step 3. Perform a Test Login

Follow the instructions to perform a test login. Performing a test login will verify that SSO is working correctly before you activate it for your organization members.

### Step 4. Enable the new SSO Provider

Once you've performed a test login you can enable your provider. Activating SSO will not force a log out of existing users, but will cause all new or expired sessions to authorize through Okta before organization data can be accessed.

If you need to edit or update your Okta provider settings at any time, you will need to disable the provider first. For more information on disabling a provider, see the [Disabling a Provider](/docs/integrations/sso#disabling-a-provider) section of the SSO overview.

<div class="Docs__note">
  <p>See the <a href="/docs/integrations/sso/sso-setup-with-graphql">SSO Setup with GraphQL Guide</a> for instructions on how to manually set up SSO using GraphQL.</p>
</div>