<h1>
  <code>__DirectiveLocation</code>
  <small>ENUM</small>
</h1>

A Directive can be adjacent to many parts of the GraphQL language, a __DirectiveLocation describes one such possible adjacencies.

{:toc}









<h2>ENUM Values</h2>
<h3>
  QUERY
  false
</h3>
<p>Location adjacent to a query operation.</p>

<h3>
  MUTATION
  false
</h3>
<p>Location adjacent to a mutation operation.</p>

<h3>
  SUBSCRIPTION
  false
</h3>
<p>Location adjacent to a subscription operation.</p>

<h3>
  FIELD
  false
</h3>
<p>Location adjacent to a field.</p>

<h3>
  FRAGMENT_DEFINITION
  false
</h3>
<p>Location adjacent to a fragment definition.</p>

<h3>
  FRAGMENT_SPREAD
  false
</h3>
<p>Location adjacent to a fragment spread.</p>

<h3>
  INLINE_FRAGMENT
  false
</h3>
<p>Location adjacent to an inline fragment.</p>

<h3>
  SCHEMA
  false
</h3>
<p>Location adjacent to a schema definition.</p>

<h3>
  SCALAR
  false
</h3>
<p>Location adjacent to a scalar definition.</p>

<h3>
  OBJECT
  false
</h3>
<p>Location adjacent to an object type definition.</p>

<h3>
  FIELD_DEFINITION
  false
</h3>
<p>Location adjacent to a field definition.</p>

<h3>
  ARGUMENT_DEFINITION
  false
</h3>
<p>Location adjacent to an argument definition.</p>

<h3>
  INTERFACE
  false
</h3>
<p>Location adjacent to an interface definition.</p>

<h3>
  UNION
  false
</h3>
<p>Location adjacent to a union definition.</p>

<h3>
  ENUM
  false
</h3>
<p>Location adjacent to an enum definition.</p>

<h3>
  ENUM_VALUE
  false
</h3>
<p>Location adjacent to an enum value definition.</p>

<h3>
  INPUT_OBJECT
  false
</h3>
<p>Location adjacent to an input object type definition.</p>

<h3>
  INPUT_FIELD_DEFINITION
  false
</h3>
<p>Location adjacent to an input object field definition.</p>



