<h1 class="has-pills">
  <code>__EnumValue</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

One possible value for a given Enum. Enum values are unique values, not a placeholder for a string or numeric value. However an Enum value is returned in a JSON response as a string.

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>deprecationReason</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>description</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>isDeprecated</code>
      <a
  href="/docs/apis/graphql/schemas/boolean"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Boolean"><code>Boolean</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>name</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>









