<h1 class="has-pills">
  <code>__Field</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

Object and Interface types are described by a list of Fields, each of which has a name, potentially a list of arguments, and a return type.

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>args</code>
      <a
  href="/docs/apis/graphql/schemas/__inputvalue"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT __InputValue"><code>__InputValue</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>deprecationReason</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>description</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>isDeprecated</code>
      <a
  href="/docs/apis/graphql/schemas/boolean"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Boolean"><code>Boolean</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>name</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>type</code>
      <a
  href="/docs/apis/graphql/schemas/__type"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT __Type"><code>__Type</code></a>

      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>









