<h1 class="has-pills">
  <code>__Schema</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

A GraphQL Schema defines the capabilities of a GraphQL server. It exposes all available types and directives on the server, as well as the entry points for query, mutation, and subscription operations.

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>directives</code>
      <a
  href="/docs/apis/graphql/schemas/__directive"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT __Directive"><code>__Directive</code></a>

      
    </h3>
    
    <p>A list of all directives supported by this server.</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>mutationType</code>
      <a
  href="/docs/apis/graphql/schemas/__type"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT __Type"><code>__Type</code></a>

      
    </h3>
    
    <p>If this server supports mutation, the type that mutation operations will be rooted at.</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>queryType</code>
      <a
  href="/docs/apis/graphql/schemas/__type"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT __Type"><code>__Type</code></a>

      
    </h3>
    
    <p>The type that query operations will be rooted at.</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>subscriptionType</code>
      <a
  href="/docs/apis/graphql/schemas/__type"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT __Type"><code>__Type</code></a>

      
    </h3>
    
    <p>If this server support subscription, the type that subscription operations will be rooted at.</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>types</code>
      <a
  href="/docs/apis/graphql/schemas/__type"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT __Type"><code>__Type</code></a>

      
    </h3>
    
    <p>A list of all types supported by this server.</p>
    
  </td>
</tr>

  </tbody>
</table>









