<h1 class="has-pills" data-algolia-exclude>AgentPermissions<span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span></h1>

<p>Permissions information about what actions the current user can do against this agent</p>


{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2 data-algolia-exclude>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr><td><h3 class="is-small has-pills"><code>agentStop</code><a href="/docs/apis/graphql/schemas/permission" class="pill pill--object pill--normal-case pill--medium" title="Go to OBJECT Permission"><code>Permission</code></a></h3><p>Whether the user can stop the agent remotely</p></td></tr>
  </tbody>
</table>
