<h1 class="has-pills">
  <code>AgentConnection</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>



{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>count</code>
      <a
  href="/docs/apis/graphql/schemas/int"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Int"><code>Int</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>edges</code>
      <a
  href="/docs/apis/graphql/schemas/agentedge"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT AgentEdge"><code>AgentEdge</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>pageInfo</code>
      <a
  href="/docs/apis/graphql/schemas/pageinfo"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT PageInfo"><code>PageInfo</code></a>

      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a
  href="/docs/apis/graphql/schemas/connection"
  class="pill pill--interface pill--normal-case pill--large"
  title="Go to INTERFACE Connection"><code>Connection</code></a>






