<h1>
  <code>AgentToken</code>
  <small>OBJECT</small>
</h1>

A token used to connect an agent to Buildkite

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>createdAt</code>
      <a href="/docs/apis/graphql/schemas/datetime" title="SCALAR DateTime">  DateTime</a>
      
    </h3>
    
    <p>The time this agent token was created</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>createdBy</code>
      <a href="/docs/apis/graphql/schemas/user" title="OBJECT User">  User</a>
      
    </h3>
    
    <p>The user that created this agent token</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>description</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>A description about what this agent token is used for</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>organization</code>
      <a href="/docs/apis/graphql/schemas/organization" title="OBJECT Organization">  Organization</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>permissions</code>
      <a href="/docs/apis/graphql/schemas/agenttokenpermissions" title="OBJECT AgentTokenPermissions">  AgentTokenPermissions</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>public</code>
      <a href="/docs/apis/graphql/schemas/boolean" title="SCALAR Boolean">  Boolean</a>
      
    </h3>
    
    <p>Whether agents registered with this token will be visible to everyone, including people outside this organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>revokedAt</code>
      <a href="/docs/apis/graphql/schemas/datetime" title="SCALAR DateTime">  DateTime</a>
      
    </h3>
    
    <p>The time this agent token was revoked</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>revokedBy</code>
      <a href="/docs/apis/graphql/schemas/user" title="OBJECT User">  User</a>
      
    </h3>
    
    <p>The user that revoked this agent token</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>revokedReason</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The reason as defined by the user why this token was revoked</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>token</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The name of the agent</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>uuid</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    <p>The public UUID for the agent</p>
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a href="/docs/apis/graphql/schemas/node" title="INTERFACE Node">  Node</a>





