<h1>
  <code>AnnotationBody</code>
  <small>OBJECT</small>
</h1>

A body of an annotation

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>html</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The body of the annotation rendered as HTML. The renderer result could be an empty string if the textual version has unsupported HTML tags</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>text</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The body of the annotation as text</p>
    
  </td>
</tr>

  </tbody>
</table>









