<h1>
  <code>Annotation</code>
  <small>OBJECT</small>
</h1>

An annotation allows you to add arbitary content to the top of a build page in the Buildkite UI

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>body</code>
      <a href="/docs/apis/graphql/schemas/annotationbody" title="OBJECT AnnotationBody">  AnnotationBody</a>
      
    </h3>
    
    <p>The body of the annotation</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>context</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The context of the annotation that helps you differentiate this one from others</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>createdAt</code>
      <a href="/docs/apis/graphql/schemas/datetime" title="SCALAR DateTime">  DateTime</a>
      
    </h3>
    
    <p>The date the annotation was created</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>style</code>
      <a href="/docs/apis/graphql/schemas/annotationstyle" title="ENUM AnnotationStyle">  AnnotationStyle</a>
      
    </h3>
    
    <p>The visual style of the annotation</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>updatedAt</code>
      <a href="/docs/apis/graphql/schemas/datetime" title="SCALAR DateTime">  DateTime</a>
      
    </h3>
    
    <p>The last time the annotation was changed</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>uuid</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    <p>The public UUID for this annotation</p>
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a href="/docs/apis/graphql/schemas/node" title="INTERFACE Node">  Node</a>





