<h1 class="has-pills">
  <code>Annotation</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

An annotation allows you to add arbitary content to the top of a build page in the Buildkite UI

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>body</code>
      <a
  href="/docs/apis/graphql/schemas/annotationbody"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT AnnotationBody"><code>AnnotationBody</code></a>

      
    </h3>
    
    <p>The body of the annotation</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>context</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    <p>The context of the annotation that helps you differentiate this one from others</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>createdAt</code>
      <a
  href="/docs/apis/graphql/schemas/datetime"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR DateTime"><code>DateTime</code></a>

      
    </h3>
    
    <p>The date the annotation was created</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>id</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>style</code>
      <a
  href="/docs/apis/graphql/schemas/annotationstyle"
  class="pill pill--enum pill--normal-case pill--medium"
  title="Go to ENUM AnnotationStyle"><code>AnnotationStyle</code></a>

      
    </h3>
    
    <p>The visual style of the annotation</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>updatedAt</code>
      <a
  href="/docs/apis/graphql/schemas/datetime"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR DateTime"><code>DateTime</code></a>

      
    </h3>
    
    <p>The last time the annotation was changed</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    <p>The public UUID for this annotation</p>
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a
  href="/docs/apis/graphql/schemas/node"
  class="pill pill--interface pill--normal-case pill--large"
  title="Go to INTERFACE Node"><code>Node</code></a>






