<h1 class="has-pills">
  <code>AnnotationStyle</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

The visual style of the annoation

{:notoc}









<h2>ENUM Values</h2>
<h3>
  DEFAULT
  false
</h3>
<p>The default styling of an annotation</p>

<h3>
  SUCCESS
  false
</h3>
<p>The annotation has a green border with a tick next to it</p>

<h3>
  INFO
  false
</h3>
<p>The annotation has a blue border with an information icon next to it</p>

<h3>
  WARNING
  false
</h3>
<p>The annotation has an orange border with a warning icon next to it</p>

<h3>
  ERROR
  false
</h3>
<p> The annotation has a red border with a cross next to it</p>



