<h1>
  <code>APIAccessTokenCode</code>
  <small>OBJECT</small>
</h1>

A code that is used by an API Application to request an API Access Token

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>application</code>
      <a href="/docs/apis/graphql/schemas/apiapplication" title="OBJECT APIApplication">  APIApplication</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>authorizedAt</code>
      <a href="/docs/apis/graphql/schemas/datetime" title="SCALAR DateTime">  DateTime</a>
      
    </h3>
    
    <p>The time when this code was authorized by a user</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>authorizedIPAddress</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The IP address of the client that authorized this code</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>code</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The actual code used to find this API Access Token Code record</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>description</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The description of the code provided by the API Application</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>expiresAt</code>
      <a href="/docs/apis/graphql/schemas/datetime" title="SCALAR DateTime">  DateTime</a>
      
    </h3>
    
    <p>The time when this code will expire</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a href="/docs/apis/graphql/schemas/node" title="INTERFACE Node">  Node</a>





