<h1>
  <code>AuditSubjectNode</code>
  <small>UNION</small>
</h1>

Kinds of subjects which can have audit events performed on them

{:toc}







<h2>Possible types</h2>
<a href="/docs/apis/graphql/schemas/authorizationbitbucket" title="OBJECT AuthorizationBitbucket">  AuthorizationBitbucket</a>, <a href="/docs/apis/graphql/schemas/authorizationgithubenterprise" title="OBJECT AuthorizationGitHubEnterprise">  AuthorizationGitHubEnterprise</a>, <a href="/docs/apis/graphql/schemas/authorizationgithub" title="OBJECT AuthorizationGitHub">  AuthorizationGitHub</a>, <a href="/docs/apis/graphql/schemas/agenttoken" title="OBJECT AgentToken">  AgentToken</a>, <a href="/docs/apis/graphql/schemas/apiaccesstoken" title="OBJECT APIAccessToken">  APIAccessToken</a>, <a href="/docs/apis/graphql/schemas/cluster" title="OBJECT Cluster">  Cluster</a>, <a href="/docs/apis/graphql/schemas/clusterqueue" title="OBJECT ClusterQueue">  ClusterQueue</a>, <a href="/docs/apis/graphql/schemas/clustertoken" title="OBJECT ClusterToken">  ClusterToken</a>, <a href="/docs/apis/graphql/schemas/notificationserviceslack" title="OBJECT NotificationServiceSlack">  NotificationServiceSlack</a>, <a href="/docs/apis/graphql/schemas/notificationservicewebhook" title="OBJECT NotificationServiceWebhook">  NotificationServiceWebhook</a>, <a href="/docs/apis/graphql/schemas/organization" title="OBJECT Organization">  Organization</a>, <a href="/docs/apis/graphql/schemas/organizationinvitation" title="OBJECT OrganizationInvitation">  OrganizationInvitation</a>, <a href="/docs/apis/graphql/schemas/organizationmember" title="OBJECT OrganizationMember">  OrganizationMember</a>, <a href="/docs/apis/graphql/schemas/pipelineschedule" title="OBJECT PipelineSchedule">  PipelineSchedule</a>, <a href="/docs/apis/graphql/schemas/pipeline" title="OBJECT Pipeline">  Pipeline</a>, <a href="/docs/apis/graphql/schemas/teammember" title="OBJECT TeamMember">  TeamMember</a>, <a href="/docs/apis/graphql/schemas/clusterpermission" title="OBJECT ClusterPermission">  ClusterPermission</a>, <a href="/docs/apis/graphql/schemas/teamsuite" title="OBJECT TeamSuite">  TeamSuite</a>, <a href="/docs/apis/graphql/schemas/teampipeline" title="OBJECT TeamPipeline">  TeamPipeline</a>, <a href="/docs/apis/graphql/schemas/team" title="OBJECT Team">  Team</a>, <a href="/docs/apis/graphql/schemas/scmservice" title="OBJECT SCMService">  SCMService</a>, <a href="/docs/apis/graphql/schemas/scmpipelinesettings" title="OBJECT SCMPipelineSettings">  SCMPipelineSettings</a>, <a href="/docs/apis/graphql/schemas/subscription" title="OBJECT Subscription">  Subscription</a>, <a href="/docs/apis/graphql/schemas/suitemonitor" title="OBJECT SuiteMonitor">  SuiteMonitor</a>, <a href="/docs/apis/graphql/schemas/user" title="OBJECT User">  User</a>, <a href="/docs/apis/graphql/schemas/suite" title="OBJECT Suite">  Suite</a>, <a href="/docs/apis/graphql/schemas/email" title="OBJECT Email">  Email</a>, <a href="/docs/apis/graphql/schemas/totp" title="OBJECT TOTP">  TOTP</a>, <a href="/docs/apis/graphql/schemas/ssoprovidergooglegsuite" title="OBJECT SSOProviderGoogleGSuite">  SSOProviderGoogleGSuite</a>, <a href="/docs/apis/graphql/schemas/ssoprovidergithubapp" title="OBJECT SSOProviderGitHubApp">  SSOProviderGitHubApp</a>, <a href="/docs/apis/graphql/schemas/ssoprovidersaml" title="OBJECT SSOProviderSAML">  SSOProviderSAML</a>



