<h1>
  <code>AuditEventType</code>
  <small>ENUM</small>
</h1>

All the possible types of an Audit Event

{:toc}









<h2>ENUM Values</h2>
<h3>
  API_ACCESS_TOKEN_CREATED
  false
</h3>


<h3>
  API_ACCESS_TOKEN_DELETED
  false
</h3>


<h3>
  API_ACCESS_TOKEN_ORGANIZATION_ACCESS_REVOKED
  false
</h3>


<h3>
  API_ACCESS_TOKEN_UPDATED
  false
</h3>


<h3>
  AGENT_TOKEN_CREATED
  false
</h3>


<h3>
  AGENT_TOKEN_REVOKED
  false
</h3>


<h3>
  AUTHORIZATION_CREATED
  false
</h3>


<h3>
  AUTHORIZATION_DELETED
  false
</h3>


<h3>
  CLUSTER_CREATED
  false
</h3>


<h3>
  CLUSTER_DELETED
  false
</h3>


<h3>
  CLUSTER_PERMISSION_CREATED
  false
</h3>


<h3>
  CLUSTER_PERMISSION_DELETED
  false
</h3>


<h3>
  CLUSTER_PERMISSION_UPDATED
  false
</h3>


<h3>
  CLUSTER_QUEUE_CREATED
  false
</h3>


<h3>
  CLUSTER_QUEUE_DELETED
  false
</h3>


<h3>
  CLUSTER_QUEUE_UPDATED
  false
</h3>


<h3>
  CLUSTER_TOKEN_CREATED
  false
</h3>


<h3>
  CLUSTER_TOKEN_DELETED
  false
</h3>


<h3>
  CLUSTER_TOKEN_UPDATED
  false
</h3>


<h3>
  CLUSTER_UPDATED
  false
</h3>


<h3>
  NOTIFICATION_SERVICE_BROKEN
  false
</h3>


<h3>
  NOTIFICATION_SERVICE_CREATED
  false
</h3>


<h3>
  NOTIFICATION_SERVICE_DELETED
  false
</h3>


<h3>
  NOTIFICATION_SERVICE_DISABLED
  false
</h3>


<h3>
  NOTIFICATION_SERVICE_ENABLED
  false
</h3>


<h3>
  NOTIFICATION_SERVICE_UPDATED
  false
</h3>


<h3>
  ORGANIZATION_CREATED
  false
</h3>


<h3>
  ORGANIZATION_DELETED
  false
</h3>


<h3>
  ORGANIZATION_INVITATION_ACCEPTED
  false
</h3>


<h3>
  ORGANIZATION_INVITATION_CREATED
  false
</h3>


<h3>
  ORGANIZATION_INVITATION_RESENT
  false
</h3>


<h3>
  ORGANIZATION_INVITATION_REVOKED
  false
</h3>


<h3>
  ORGANIZATION_MEMBER_CREATED
  false
</h3>


<h3>
  ORGANIZATION_MEMBER_DELETED
  false
</h3>


<h3>
  ORGANIZATION_MEMBER_UPDATED
  false
</h3>


<h3>
  ORGANIZATION_TEAMS_DISABLED
  false
</h3>


<h3>
  ORGANIZATION_TEAMS_ENABLED
  false
</h3>


<h3>
  ORGANIZATION_UPDATED
  false
</h3>


<h3>
  PIPELINE_CREATED
  false
</h3>


<h3>
  PIPELINE_DELETED
  false
</h3>


<h3>
  PIPELINE_SCHEDULE_CREATED
  false
</h3>


<h3>
  PIPELINE_SCHEDULE_DELETED
  false
</h3>


<h3>
  PIPELINE_SCHEDULE_UPDATED
  false
</h3>


<h3>
  PIPELINE_UPDATED
  false
</h3>


<h3>
  PIPELINE_VISIBILITY_CHANGED
  false
</h3>


<h3>
  PIPELINE_WEBHOOK_URL_ROTATED
  false
</h3>


<h3>
  SCM_PIPELINE_SETTINGS_CREATED
  false
</h3>


<h3>
  SCM_PIPELINE_SETTINGS_DELETED
  false
</h3>


<h3>
  SCM_PIPELINE_SETTINGS_UPDATED
  false
</h3>


<h3>
  SCM_SERVICE_CREATED
  false
</h3>


<h3>
  SCM_SERVICE_DELETED
  false
</h3>


<h3>
  SCM_SERVICE_UPDATED
  false
</h3>


<h3>
  SSO_PROVIDER_CREATED
  false
</h3>


<h3>
  SSO_PROVIDER_DELETED
  false
</h3>


<h3>
  SSO_PROVIDER_DISABLED
  false
</h3>


<h3>
  SSO_PROVIDER_ENABLED
  false
</h3>


<h3>
  SSO_PROVIDER_UPDATED
  false
</h3>


<h3>
  SUBSCRIPTION_PLAN_CHANGE_SCHEDULED
  false
</h3>


<h3>
  SUBSCRIPTION_PLAN_CHANGED
  false
</h3>


<h3>
  SUITE_API_TOKEN_REGENERATED
  false
</h3>


<h3>
  SUITE_CREATED
  false
</h3>


<h3>
  SUITE_DELETED
  false
</h3>


<h3>
  SUITE_MONITOR_CREATED
  false
</h3>


<h3>
  SUITE_MONITOR_DELETED
  false
</h3>


<h3>
  SUITE_MONITOR_UPDATED
  false
</h3>


<h3>
  SUITE_UPDATED
  false
</h3>


<h3>
  SUITE_VISIBILITY_CHANGED
  false
</h3>


<h3>
  TEAM_CREATED
  false
</h3>


<h3>
  TEAM_DELETED
  false
</h3>


<h3>
  TEAM_MEMBER_CREATED
  false
</h3>


<h3>
  TEAM_MEMBER_DELETED
  false
</h3>


<h3>
  TEAM_MEMBER_UPDATED
  false
</h3>


<h3>
  TEAM_PIPELINE_CREATED
  false
</h3>


<h3>
  TEAM_PIPELINE_DELETED
  false
</h3>


<h3>
  TEAM_PIPELINE_UPDATED
  false
</h3>


<h3>
  TEAM_SUITE_CREATED
  false
</h3>


<h3>
  TEAM_SUITE_DELETED
  false
</h3>


<h3>
  TEAM_SUITE_UPDATED
  false
</h3>


<h3>
  TEAM_UPDATED
  false
</h3>


<h3>
  USER_EMAIL_CREATED
  false
</h3>


<h3>
  USER_EMAIL_DELETED
  false
</h3>


<h3>
  USER_EMAIL_MARKED_PRIMARY
  false
</h3>


<h3>
  USER_EMAIL_VERIFIED
  false
</h3>


<h3>
  USER_PASSWORD_RESET
  false
</h3>


<h3>
  USER_PASSWORD_RESET_REQUESTED
  false
</h3>


<h3>
  USER_TOTP_ACTIVATED
  false
</h3>


<h3>
  USER_TOTP_CREATED
  false
</h3>


<h3>
  USER_TOTP_DELETED
  false
</h3>


<h3>
  USER_UPDATED
  false
</h3>




