<h1 class="has-pills">
  <code>AuditSubjectNode</code>
  <span class="pill pill--union pill--normal-case pill--large"><code>UNION</code></span>

</h1>

Kinds of subjects which can have audit events performed on them

{:notoc}







<h2>Possible types</h2>
<a
  href="/docs/apis/graphql/schemas/authorizationbitbucket"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AuthorizationBitbucket"><code>AuthorizationBitbucket</code></a>
<a
  href="/docs/apis/graphql/schemas/authorizationgithubenterprise"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AuthorizationGitHubEnterprise"><code>AuthorizationGitHubEnterprise</code></a>
<a
  href="/docs/apis/graphql/schemas/authorizationgithub"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AuthorizationGitHub"><code>AuthorizationGitHub</code></a>
<a
  href="/docs/apis/graphql/schemas/agenttoken"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AgentToken"><code>AgentToken</code></a>
<a
  href="/docs/apis/graphql/schemas/apiaccesstoken"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT APIAccessToken"><code>APIAccessToken</code></a>
<a
  href="/docs/apis/graphql/schemas/cluster"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Cluster"><code>Cluster</code></a>
<a
  href="/docs/apis/graphql/schemas/clusterqueue"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT ClusterQueue"><code>ClusterQueue</code></a>
<a
  href="/docs/apis/graphql/schemas/clustertoken"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT ClusterToken"><code>ClusterToken</code></a>
<a
  href="/docs/apis/graphql/schemas/notificationserviceslack"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT NotificationServiceSlack"><code>NotificationServiceSlack</code></a>
<a
  href="/docs/apis/graphql/schemas/notificationservicewebhook"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT NotificationServiceWebhook"><code>NotificationServiceWebhook</code></a>
<a
  href="/docs/apis/graphql/schemas/organization"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Organization"><code>Organization</code></a>
<a
  href="/docs/apis/graphql/schemas/organizationinvitation"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT OrganizationInvitation"><code>OrganizationInvitation</code></a>
<a
  href="/docs/apis/graphql/schemas/organizationmember"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT OrganizationMember"><code>OrganizationMember</code></a>
<a
  href="/docs/apis/graphql/schemas/pipelineschedule"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT PipelineSchedule"><code>PipelineSchedule</code></a>
<a
  href="/docs/apis/graphql/schemas/pipeline"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Pipeline"><code>Pipeline</code></a>
<a
  href="/docs/apis/graphql/schemas/teammember"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT TeamMember"><code>TeamMember</code></a>
<a
  href="/docs/apis/graphql/schemas/clusterpermission"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT ClusterPermission"><code>ClusterPermission</code></a>
<a
  href="/docs/apis/graphql/schemas/teamsuite"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT TeamSuite"><code>TeamSuite</code></a>
<a
  href="/docs/apis/graphql/schemas/teampipeline"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT TeamPipeline"><code>TeamPipeline</code></a>
<a
  href="/docs/apis/graphql/schemas/team"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Team"><code>Team</code></a>
<a
  href="/docs/apis/graphql/schemas/scmservice"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SCMService"><code>SCMService</code></a>
<a
  href="/docs/apis/graphql/schemas/scmpipelinesettings"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SCMPipelineSettings"><code>SCMPipelineSettings</code></a>
<a
  href="/docs/apis/graphql/schemas/subscription"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Subscription"><code>Subscription</code></a>
<a
  href="/docs/apis/graphql/schemas/suitemonitor"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SuiteMonitor"><code>SuiteMonitor</code></a>
<a
  href="/docs/apis/graphql/schemas/user"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT User"><code>User</code></a>
<a
  href="/docs/apis/graphql/schemas/suite"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Suite"><code>Suite</code></a>
<a
  href="/docs/apis/graphql/schemas/email"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Email"><code>Email</code></a>
<a
  href="/docs/apis/graphql/schemas/totp"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT TOTP"><code>TOTP</code></a>
<a
  href="/docs/apis/graphql/schemas/ssoprovidergooglegsuite"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SSOProviderGoogleGSuite"><code>SSOProviderGoogleGSuite</code></a>
<a
  href="/docs/apis/graphql/schemas/ssoprovidergithubapp"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SSOProviderGitHubApp"><code>SSOProviderGitHubApp</code></a>
<a
  href="/docs/apis/graphql/schemas/ssoprovidersaml"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SSOProviderSAML"><code>SSOProviderSAML</code></a>




