<h1>
  <code>AuditContext</code>
  <small>UNION</small>
</h1>

Kinds of contexts in which an audit event can be performed

{:toc}







<h2>Possible types</h2>
<a href="/docs/apis/graphql/schemas/auditwebcontext" title="OBJECT AuditWebContext">  AuditWebContext</a>, <a href="/docs/apis/graphql/schemas/auditapicontext" title="OBJECT AuditAPIContext">  AuditAPIContext</a>



