<h1 class="has-pills">
  <code>AuditSubjectType</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

All the possible types of subjects in an Audit Event

{:notoc}









<h2>ENUM Values</h2>
<h3>
  AUTHORIZATION
  false
</h3>


<h3>
  AGENT_TOKEN
  false
</h3>


<h3>
  API_ACCESS_TOKEN
  false
</h3>


<h3>
  CLUSTER
  false
</h3>


<h3>
  CLUSTER_QUEUE
  false
</h3>


<h3>
  CLUSTER_TOKEN
  false
</h3>


<h3>
  NOTIFICATION_SERVICE
  false
</h3>


<h3>
  ORGANIZATION
  false
</h3>


<h3>
  ORGANIZATION_INVITATION
  false
</h3>


<h3>
  ORGANIZATION_MEMBER
  false
</h3>


<h3>
  PIPELINE_SCHEDULE
  false
</h3>


<h3>
  PIPELINE
  false
</h3>


<h3>
  TEAM_MEMBER
  false
</h3>


<h3>
  CLUSTER_PERMISSION
  false
</h3>


<h3>
  TEAM_SUITE
  false
</h3>


<h3>
  TEAM_PIPELINE
  false
</h3>


<h3>
  TEAM
  false
</h3>


<h3>
  SCM_SERVICE
  false
</h3>


<h3>
  SCM_PIPELINE_SETTINGS
  false
</h3>


<h3>
  SUBSCRIPTION
  false
</h3>


<h3>
  SUITE_MONITOR
  false
</h3>


<h3>
  USER
  false
</h3>


<h3>
  SUITE
  false
</h3>


<h3>
  USER_EMAIL
  false
</h3>


<h3>
  USER_TOTP
  false
</h3>


<h3>
  SSO_PROVIDER
  false
</h3>




