<h1 class="has-pills">
  <code>AuditContext</code>
  <span class="pill pill--union pill--normal-case pill--large"><code>UNION</code></span>

</h1>

Kinds of contexts in which an audit event can be performed

{:notoc}







<h2>Possible types</h2>
<a
  href="/docs/apis/graphql/schemas/auditwebcontext"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AuditWebContext"><code>AuditWebContext</code></a>
<a
  href="/docs/apis/graphql/schemas/auditapicontext"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AuditAPIContext"><code>AuditAPIContext</code></a>




