<h1>
  <code>AuthorizationType</code>
  <small>ENUM</small>
</h1>

The type of the authorization

{:toc}









<h2>ENUM Values</h2>
<h3>
  GITHUB
  false
</h3>
<p>GitHub Authorization</p>

<h3>
  GITHUB_ENTERPRISE
  false
</h3>
<p>GitHub Enterprise Authorization</p>

<h3>
  BITBUCKET
  false
</h3>
<p>Bitbucket Authorization</p>



