<h1 class="has-pills">AuthorizationType<span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span></h1>

<p>The type of the authorization</p>


{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr><td><p><strong><code>GITHUB</code></strong></p><p>GitHub Authorization</p></td></tr><tr><td><p><strong><code>GITHUB_ENTERPRISE</code></strong></p><p>GitHub Enterprise Authorization</p></td></tr><tr><td><p><strong><code>BITBUCKET</code></strong></p><p>Bitbucket Authorization</p></td></tr>
  </tbody>
</table>
