<h1>
  <code>AuthorizationGitHubEnterprise</code>
  <small>OBJECT</small>
</h1>

A GitHub Enterprise account authorized with a Buildkite account

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a href="/docs/apis/graphql/schemas/authorization" title="INTERFACE Authorization">  Authorization</a><a href="/docs/apis/graphql/schemas/node" title="INTERFACE Node">  Node</a>





