<h1 class="has-pills">
  <code>BuildAuthorInput</code>
  <span class="pill pill--input_object pill--normal-case pill--large"><code>INPUT_OBJECT</code></span>

</h1>

Author for a build

{:notoc}



<h2>Input fields</h2>
<h3>
  <code>name</code>
  <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

  <span>Required</span>
</h3>
<p>The name for the build author</p>

<h3>
  <code>email</code>
  <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

  <span>Required</span>
</h3>
<p>The email for the build author</p>









