<h1>
  <code>BuildStepUpload</code>
  <small>OBJECT</small>
</h1>

The results of a `buildkite-agent pipeline upload`

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>definition</code>
      <a href="/docs/apis/graphql/schemas/buildstepuploaddefinition" title="OBJECT BuildStepUploadDefinition">  BuildStepUploadDefinition</a>
      
    </h3>
    
    <p>The uploaded step definition</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>uuid</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    <p>The UUID for this build step upload</p>
    
  </td>
</tr>

  </tbody>
</table>









