<h1 class="has-pills">
  <code>BuildStepUpload</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

The results of a `buildkite-agent pipeline upload`

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>definition</code>
      <a
  href="/docs/apis/graphql/schemas/buildstepuploaddefinition"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT BuildStepUploadDefinition"><code>BuildStepUploadDefinition</code></a>

      
    </h3>
    
    <p>The uploaded step definition</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>id</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    <p>The UUID for this build step upload</p>
    
  </td>
</tr>

  </tbody>
</table>









