<h1>
  <code>BuildSourceSchedule</code>
  <small>OBJECT</small>
</h1>

A build was triggered via a schedule

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>name</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pipelineSchedule</code>
      <a href="/docs/apis/graphql/schemas/pipelineschedule" title="OBJECT PipelineSchedule">  PipelineSchedule</a>
      
    </h3>
    
    <p>The associated schedule that created this build. Will be `null` if the associated schedule has been deleted.</p>
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a href="/docs/apis/graphql/schemas/buildsource" title="INTERFACE BuildSource">  BuildSource</a>





