<h1 class="has-pills">
  <code>BuildCreator</code>
  <span class="pill pill--union pill--normal-case pill--large"><code>UNION</code></span>

</h1>

Either a `User` or an `UnregisteredUser` type

{:notoc}







<h2>Possible types</h2>
<a
  href="/docs/apis/graphql/schemas/user"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT User"><code>User</code></a>
<a
  href="/docs/apis/graphql/schemas/unregistereduser"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT UnregisteredUser"><code>UnregisteredUser</code></a>




