<h1>
  <code>BuildMetaData</code>
  <small>OBJECT</small>
</h1>

A comment on a build

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>key</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The key used to set this meta data</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>value</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The value set to this meta data</p>
    
  </td>
</tr>

  </tbody>
</table>









