<h1>
  <code>BuildSource</code>
  <small>INTERFACE</small>
</h1>



{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>name</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>






<h2>Possible types</h2>
<a href="/docs/apis/graphql/schemas/buildsourceapi" title="OBJECT BuildSourceAPI">  BuildSourceAPI</a>, <a href="/docs/apis/graphql/schemas/buildsourcefrontend" title="OBJECT BuildSourceFrontend">  BuildSourceFrontend</a>, <a href="/docs/apis/graphql/schemas/buildsourceschedule" title="OBJECT BuildSourceSchedule">  BuildSourceSchedule</a>, <a href="/docs/apis/graphql/schemas/buildsourcetriggerjob" title="OBJECT BuildSourceTriggerJob">  BuildSourceTriggerJob</a>, <a href="/docs/apis/graphql/schemas/buildsourcewebhook" title="OBJECT BuildSourceWebhook">  BuildSourceWebhook</a>



