<h1>
  <code>BuildStates</code>
  <small>ENUM</small>
</h1>

All the possible states a build can be in

{:toc}









<h2>ENUM Values</h2>
<h3>
  SKIPPED
  false
</h3>
<p>The build was skipped</p>

<h3>
  CREATING
  false
</h3>
<p>The build is currently being created</p>

<h3>
  SCHEDULED
  false
</h3>
<p>The build has yet to start running jobs</p>

<h3>
  RUNNING
  false
</h3>
<p>The build is currently running jobs</p>

<h3>
  PASSED
  false
</h3>
<p>The build passed</p>

<h3>
  FAILED
  false
</h3>
<p>The build failed</p>

<h3>
  FAILING
  false
</h3>
<p>The build is failing</p>

<h3>
  CANCELING
  false
</h3>
<p>The build is currently being canceled</p>

<h3>
  CANCELED
  false
</h3>
<p>The build was canceled</p>

<h3>
  BLOCKED
  false
</h3>
<p>The build is blocked</p>

<h3>
  NOT_RUN
  false
</h3>
<p>The build wasn't run</p>



