<h1>
  <code>BuildBlockedStates</code>
  <small>ENUM</small>
</h1>

All the possible blocked states a build can be in

{:toc}









<h2>ENUM Values</h2>
<h3>
  RUNNING
  false
</h3>
<p>The blocked build is running</p>

<h3>
  PASSED
  false
</h3>
<p>The blocked build is passed</p>

<h3>
  FAILED
  false
</h3>
<p>The blocked build is failed</p>



