<h1>
  <code>BuildAuthorInput</code>
  <small>INPUT_OBJECT</small>
</h1>

Author for a build

{:toc}



<h2>Input fields</h2>
<h4>
  <code>name</code>
  <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
  <span>Required</span>
</h4>
<p>The name for the build author</p>

<h4>
  <code>email</code>
  <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
  <span>Required</span>
</h4>
<p>The email for the build author</p>









