<h1>
  <code>BuildMetaDataEdge</code>
  <small>OBJECT</small>
</h1>



{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>cursor</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>node</code>
      <a href="/docs/apis/graphql/schemas/buildmetadata" title="OBJECT BuildMetaData">  BuildMetaData</a>
      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>









