<h1 class="has-pills">
  <code>BuildSourceAPI</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

A build was triggered via an API

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>name</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a
  href="/docs/apis/graphql/schemas/buildsource"
  class="pill pill--interface pill--normal-case pill--large"
  title="Go to INTERFACE BuildSource"><code>BuildSource</code></a>






