<h1>
  <code>ChangelogAuthor</code>
  <small>OBJECT</small>
</h1>

The author of the changelog

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>avatar</code>
      <a href="/docs/apis/graphql/schemas/avatar" title="OBJECT Avatar">  Avatar</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>name</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The name of the author</p>
    
  </td>
</tr>

  </tbody>
</table>









