<h1 class="has-pills">
  <code>ClusterPermission</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>



{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>actor</code>
      <a
  href="/docs/apis/graphql/schemas/clusterpermissionactor"
  class="pill pill--union pill--normal-case pill--medium"
  title="Go to UNION ClusterPermissionActor"><code>ClusterPermissionActor</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>can_add_pipelines</code>
      <a
  href="/docs/apis/graphql/schemas/boolean"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Boolean"><code>Boolean</code></a>

      
    </h3>
    
    <p>Whether the actor can add pipelines to this cluster</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>can_manage</code>
      <a
  href="/docs/apis/graphql/schemas/boolean"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Boolean"><code>Boolean</code></a>

      
    </h3>
    
    <p>Whether the actor can manage the associated cluster</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>can_see_tokens</code>
      <a
  href="/docs/apis/graphql/schemas/boolean"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Boolean"><code>Boolean</code></a>

      
    </h3>
    
    <p>Whether the actor can see this cluster's tokens</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>cluster</code>
      <a
  href="/docs/apis/graphql/schemas/cluster"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Cluster"><code>Cluster</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>id</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    <p>The public UUID for this cluster permission</p>
    
  </td>
</tr>

  </tbody>
</table>









