<h1 class="has-pills">
  <code>ClusterQueueOrder</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

The diferent orders you can sort cluster queues by

{:notoc}









<h2>ENUM Values</h2>
<h3>
  KEY
  false
</h3>
<p>Order by key alphabetically</p>

<h3>
  RECENTLY_CREATED
  false
</h3>
<p>Order by the most recently created cluster queues first</p>



