<h1 class="has-pills">
  <code>ClusterPermissionActor</code>
  <span class="pill pill--union pill--normal-case pill--large"><code>UNION</code></span>

</h1>

Actor to whom a cluster permission is applied

{:notoc}







<h2>Possible types</h2>
<a
  href="/docs/apis/graphql/schemas/organizationmember"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT OrganizationMember"><code>OrganizationMember</code></a>
<a
  href="/docs/apis/graphql/schemas/team"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Team"><code>Team</code></a>




