<h1 class="has-pills">
  <code>Cluster</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>



{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>agentTokens</code>
      <a
  href="/docs/apis/graphql/schemas/clusteragenttokenconnection"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT ClusterAgentTokenConnection"><code>ClusterAgentTokenConnection</code></a>

      
    </h3>
    
    <p>Returns agent tokens for the Cluster</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>first</code>
      <a
  href="/docs/apis/graphql/schemas/int"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Int"><code>Int</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    
    
  </td>
</tr>
<tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>last</code>
      <a
  href="/docs/apis/graphql/schemas/int"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Int"><code>Int</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>createdBy</code>
      <a
  href="/docs/apis/graphql/schemas/user"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT User"><code>User</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>description</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>id</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>name</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>organization</code>
      <a
  href="/docs/apis/graphql/schemas/organization"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Organization"><code>Organization</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>queues</code>
      <a
  href="/docs/apis/graphql/schemas/clusterqueueconnection"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT ClusterQueueConnection"><code>ClusterQueueConnection</code></a>

      
    </h3>
    
    
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>first</code>
      <a
  href="/docs/apis/graphql/schemas/int"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Int"><code>Int</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">Returns the first _n_ elements from the list.</p>
    
  </td>
</tr>
<tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>after</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">Returns the elements in the list that come after the specified cursor.</p>
    
  </td>
</tr>
<tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>last</code>
      <a
  href="/docs/apis/graphql/schemas/int"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Int"><code>Int</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">Returns the last _n_ elements from the list.</p>
    
  </td>
</tr>
<tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>before</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">Returns the elements in the list that come before the specified cursor.</p>
    
  </td>
</tr>
<tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>order</code>
      <a
  href="/docs/apis/graphql/schemas/clusterqueueorder"
  class="pill pill--enum pill--normal-case pill--medium"
  title="Go to ENUM ClusterQueueOrder"><code>ClusterQueueOrder</code></a>

      false
    </h4>
    <p class="no-margin">Order the cluster queues</p>
    <p class="no-margin">Default value: <code>KEY</code></p>
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    <p>The public UUID for this cluster</p>
    
  </td>
</tr>

  </tbody>
</table>









