<h1 class="has-pills">
  <code>Connection</code>
  <span class="pill pill--interface pill--normal-case pill--large"><code>INTERFACE</code></span>

</h1>



{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>count</code>
      <a
  href="/docs/apis/graphql/schemas/int"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Int"><code>Int</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>pageInfo</code>
      <a
  href="/docs/apis/graphql/schemas/pageinfo"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT PageInfo"><code>PageInfo</code></a>

      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>






<h2>Possible types</h2>
<a
  href="/docs/apis/graphql/schemas/agentconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AgentConnection"><code>AgentConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/agenttokenconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AgentTokenConnection"><code>AgentTokenConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/annotationconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AnnotationConnection"><code>AnnotationConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/artifactconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT ArtifactConnection"><code>ArtifactConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/authorizationconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AuthorizationConnection"><code>AuthorizationConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/buildconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT BuildConnection"><code>BuildConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/buildmetadataconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT BuildMetaDataConnection"><code>BuildMetaDataConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/changelogconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT ChangelogConnection"><code>ChangelogConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/clusteragenttokenconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT ClusterAgentTokenConnection"><code>ClusterAgentTokenConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/clusterconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT ClusterConnection"><code>ClusterConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/clusterqueueconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT ClusterQueueConnection"><code>ClusterQueueConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/dependencyconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT DependencyConnection"><code>DependencyConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/emailconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT EmailConnection"><code>EmailConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/jobconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobConnection"><code>JobConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventConnection"><code>JobEventConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/organizationauditeventconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT OrganizationAuditEventConnection"><code>OrganizationAuditEventConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/organizationconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT OrganizationConnection"><code>OrganizationConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/organizationinvitationconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT OrganizationInvitationConnection"><code>OrganizationInvitationConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/organizationinvitationteamassignmentconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT OrganizationInvitationTeamAssignmentConnection"><code>OrganizationInvitationTeamAssignmentConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/organizationmemberconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT OrganizationMemberConnection"><code>OrganizationMemberConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/organizationmemberpipelineconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT OrganizationMemberPipelineConnection"><code>OrganizationMemberPipelineConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/organizationmembersuiteconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT OrganizationMemberSuiteConnection"><code>OrganizationMemberSuiteConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/pipelineconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT PipelineConnection"><code>PipelineConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/pipelinemetricconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT PipelineMetricConnection"><code>PipelineMetricConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/pipelinescheduleconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT PipelineScheduleConnection"><code>PipelineScheduleConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/ssoauthorizationconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SSOAuthorizationConnection"><code>SSOAuthorizationConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/ssoproviderconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SSOProviderConnection"><code>SSOProviderConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/suiteconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SuiteConnection"><code>SuiteConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/teamconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT TeamConnection"><code>TeamConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/teammemberconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT TeamMemberConnection"><code>TeamMemberConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/teampipelineconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT TeamPipelineConnection"><code>TeamPipelineConnection</code></a>
<a
  href="/docs/apis/graphql/schemas/teamsuiteconnection"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT TeamSuiteConnection"><code>TeamSuiteConnection</code></a>




