<h1>
  <code>Connection</code>
  <small>INTERFACE</small>
</h1>



{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>count</code>
      <a href="/docs/apis/graphql/schemas/int" title="SCALAR Int">  Int</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pageInfo</code>
      <a href="/docs/apis/graphql/schemas/pageinfo" title="OBJECT PageInfo">  PageInfo</a>
      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>






<h2>Possible types</h2>
<a href="/docs/apis/graphql/schemas/agentconnection" title="OBJECT AgentConnection">  AgentConnection</a>, <a href="/docs/apis/graphql/schemas/agenttokenconnection" title="OBJECT AgentTokenConnection">  AgentTokenConnection</a>, <a href="/docs/apis/graphql/schemas/annotationconnection" title="OBJECT AnnotationConnection">  AnnotationConnection</a>, <a href="/docs/apis/graphql/schemas/artifactconnection" title="OBJECT ArtifactConnection">  ArtifactConnection</a>, <a href="/docs/apis/graphql/schemas/authorizationconnection" title="OBJECT AuthorizationConnection">  AuthorizationConnection</a>, <a href="/docs/apis/graphql/schemas/buildconnection" title="OBJECT BuildConnection">  BuildConnection</a>, <a href="/docs/apis/graphql/schemas/buildmetadataconnection" title="OBJECT BuildMetaDataConnection">  BuildMetaDataConnection</a>, <a href="/docs/apis/graphql/schemas/changelogconnection" title="OBJECT ChangelogConnection">  ChangelogConnection</a>, <a href="/docs/apis/graphql/schemas/clusteragenttokenconnection" title="OBJECT ClusterAgentTokenConnection">  ClusterAgentTokenConnection</a>, <a href="/docs/apis/graphql/schemas/clusterconnection" title="OBJECT ClusterConnection">  ClusterConnection</a>, <a href="/docs/apis/graphql/schemas/clusterqueueconnection" title="OBJECT ClusterQueueConnection">  ClusterQueueConnection</a>, <a href="/docs/apis/graphql/schemas/dependencyconnection" title="OBJECT DependencyConnection">  DependencyConnection</a>, <a href="/docs/apis/graphql/schemas/emailconnection" title="OBJECT EmailConnection">  EmailConnection</a>, <a href="/docs/apis/graphql/schemas/jobconnection" title="OBJECT JobConnection">  JobConnection</a>, <a href="/docs/apis/graphql/schemas/jobeventconnection" title="OBJECT JobEventConnection">  JobEventConnection</a>, <a href="/docs/apis/graphql/schemas/organizationauditeventconnection" title="OBJECT OrganizationAuditEventConnection">  OrganizationAuditEventConnection</a>, <a href="/docs/apis/graphql/schemas/organizationconnection" title="OBJECT OrganizationConnection">  OrganizationConnection</a>, <a href="/docs/apis/graphql/schemas/organizationinvitationconnection" title="OBJECT OrganizationInvitationConnection">  OrganizationInvitationConnection</a>, <a href="/docs/apis/graphql/schemas/organizationinvitationteamassignmentconnection" title="OBJECT OrganizationInvitationTeamAssignmentConnection">  OrganizationInvitationTeamAssignmentConnection</a>, <a href="/docs/apis/graphql/schemas/organizationmemberconnection" title="OBJECT OrganizationMemberConnection">  OrganizationMemberConnection</a>, <a href="/docs/apis/graphql/schemas/organizationmemberpipelineconnection" title="OBJECT OrganizationMemberPipelineConnection">  OrganizationMemberPipelineConnection</a>, <a href="/docs/apis/graphql/schemas/organizationmembersuiteconnection" title="OBJECT OrganizationMemberSuiteConnection">  OrganizationMemberSuiteConnection</a>, <a href="/docs/apis/graphql/schemas/pipelineconnection" title="OBJECT PipelineConnection">  PipelineConnection</a>, <a href="/docs/apis/graphql/schemas/pipelinemetricconnection" title="OBJECT PipelineMetricConnection">  PipelineMetricConnection</a>, <a href="/docs/apis/graphql/schemas/pipelinescheduleconnection" title="OBJECT PipelineScheduleConnection">  PipelineScheduleConnection</a>, <a href="/docs/apis/graphql/schemas/ssoauthorizationconnection" title="OBJECT SSOAuthorizationConnection">  SSOAuthorizationConnection</a>, <a href="/docs/apis/graphql/schemas/ssoproviderconnection" title="OBJECT SSOProviderConnection">  SSOProviderConnection</a>, <a href="/docs/apis/graphql/schemas/suiteconnection" title="OBJECT SuiteConnection">  SuiteConnection</a>, <a href="/docs/apis/graphql/schemas/teamconnection" title="OBJECT TeamConnection">  TeamConnection</a>, <a href="/docs/apis/graphql/schemas/teammemberconnection" title="OBJECT TeamMemberConnection">  TeamMemberConnection</a>, <a href="/docs/apis/graphql/schemas/teampipelineconnection" title="OBJECT TeamPipelineConnection">  TeamPipelineConnection</a>, <a href="/docs/apis/graphql/schemas/teamsuiteconnection" title="OBJECT TeamSuiteConnection">  TeamSuiteConnection</a>



