<h1 class="has-pills">
  <code>DateTime</code>
  <span class="pill pill--scalar pill--normal-case pill--large"><code>SCALAR</code></span>

</h1>

An ISO-8601 encoded UTC date string

{:notoc}










