<h1>
  <code>Dispatch</code>
  <small>OBJECT</small>
</h1>

A job dispatch for a particular Organization

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>uuid</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The public UUID for this organization dispatch</p>
    
  </td>
</tr>

  </tbody>
</table>









