<h1>
  <code>Email</code>
  <small>OBJECT</small>
</h1>

An email address

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>address</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The email address</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>primary</code>
      <a href="/docs/apis/graphql/schemas/boolean" title="SCALAR Boolean">  Boolean</a>
      
    </h3>
    
    <p>Whether the email address is the user's primary address</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>uuid</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    <p>The public UUID for this email</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>verified</code>
      <a href="/docs/apis/graphql/schemas/boolean" title="SCALAR Boolean">  Boolean</a>
      
    </h3>
    
    <p>Whether the email address has been verified by the user</p>
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a href="/docs/apis/graphql/schemas/node" title="INTERFACE Node">  Node</a>





