<h1 class="has-pills">
  <code>Int</code>
  <span class="pill pill--scalar pill--normal-case pill--large"><code>SCALAR</code></span>

</h1>

Represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.

{:notoc}










