<h1 class="has-pills">
  <code>Job</code>
  <span class="pill pill--union pill--normal-case pill--large"><code>UNION</code></span>

</h1>

Kinds of jobs that can exist on a build

{:notoc}







<h2>Possible types</h2>
<a
  href="/docs/apis/graphql/schemas/jobtypecommand"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobTypeCommand"><code>JobTypeCommand</code></a>
<a
  href="/docs/apis/graphql/schemas/jobtypeblock"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobTypeBlock"><code>JobTypeBlock</code></a>
<a
  href="/docs/apis/graphql/schemas/jobtypewait"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobTypeWait"><code>JobTypeWait</code></a>
<a
  href="/docs/apis/graphql/schemas/jobtypetrigger"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobTypeTrigger"><code>JobTypeTrigger</code></a>




