<h1 class="has-pills" data-algolia-exclude>Job<span class="pill pill--union pill--normal-case pill--large"><code>UNION</code></span></h1>

<p>Kinds of jobs that can exist on a build</p>


{:notoc}







<h2 data-algolia-exclude>Possible Types</h2>
<a href="/docs/apis/graphql/schemas/jobtypecommand" class="pill pill--object pill--normal-case pill--large" title="Go to OBJECT JobTypeCommand"><code>JobTypeCommand</code></a>
<a href="/docs/apis/graphql/schemas/jobtypeblock" class="pill pill--object pill--normal-case pill--large" title="Go to OBJECT JobTypeBlock"><code>JobTypeBlock</code></a>
<a href="/docs/apis/graphql/schemas/jobtypewait" class="pill pill--object pill--normal-case pill--large" title="Go to OBJECT JobTypeWait"><code>JobTypeWait</code></a>
<a href="/docs/apis/graphql/schemas/jobtypetrigger" class="pill pill--object pill--normal-case pill--large" title="Go to OBJECT JobTypeTrigger"><code>JobTypeTrigger</code></a>
