<h1 class="has-pills">
  <code>JobConcurrencySearch</code>
  <span class="pill pill--input_object pill--normal-case pill--large"><code>INPUT_OBJECT</code></span>

</h1>

Searching for concurrency groups on jobs

{:notoc}



<h2>Input fields</h2>
<h3>
  <code>group</code>
  <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

  <span>Required</span>
</h3>
<p>The groups you want to search</p>









