<h1>
  <code>JobConcurrency</code>
  <small>OBJECT</small>
</h1>

Concurrency configuration for a job

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>group</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The concurrency group</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>limit</code>
      <a href="/docs/apis/graphql/schemas/int" title="SCALAR Int">  Int</a>
      
    </h3>
    
    <p>The maximum amount of jobs in the concurrency that are allowed to run at any given time</p>
    
  </td>
</tr>

  </tbody>
</table>









