<h1 class="has-pills">
  <code>JobEvent</code>
  <span class="pill pill--interface pill--normal-case pill--large"><code>INTERFACE</code></span>

</h1>



{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>actor</code>
      <a
  href="/docs/apis/graphql/schemas/jobeventactor"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT JobEventActor"><code>JobEventActor</code></a>

      
    </h3>
    
    <p>The actor that caused this event to occur</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>id</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>job</code>
      <a
  href="/docs/apis/graphql/schemas/jobtypecommand"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT JobTypeCommand"><code>JobTypeCommand</code></a>

      
    </h3>
    
    <p>The job that this event belongs to</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>timestamp</code>
      <a
  href="/docs/apis/graphql/schemas/datetime"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR DateTime"><code>DateTime</code></a>

      
    </h3>
    
    <p>The time when the event occurred</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>type</code>
      <a
  href="/docs/apis/graphql/schemas/jobeventtype"
  class="pill pill--enum pill--normal-case pill--medium"
  title="Go to ENUM JobEventType"><code>JobEventType</code></a>

      
    </h3>
    
    <p>The type of event</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    <p>The public UUID for this job event</p>
    
  </td>
</tr>

  </tbody>
</table>






<h2>Possible types</h2>
<a
  href="/docs/apis/graphql/schemas/jobeventassigned"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventAssigned"><code>JobEventAssigned</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventbuildstepuploadcreated"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventBuildStepUploadCreated"><code>JobEventBuildStepUploadCreated</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventcanceled"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventCanceled"><code>JobEventCanceled</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventfinished"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventFinished"><code>JobEventFinished</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventgeneric"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventGeneric"><code>JobEventGeneric</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventretried"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventRetried"><code>JobEventRetried</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventtimedout"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventTimedOut"><code>JobEventTimedOut</code></a>




