<h1 class="has-pills" data-algolia-exclude>JobEventSignalReason<span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span></h1>

<p>The reason why a signal was sent to the job's process, or why the process did not start</p>


{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2 data-algolia-exclude>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr><td><p><strong><code>AGENT_STOP</code></strong></p><p>The agent sent the signal to the process because the agent was stopped</p></td></tr><tr><td><p><strong><code>CANCEL</code></strong></p><p>The agent sent the signal to the process because the job was canceled</p></td></tr><tr><td><p><strong><code>PROCESS_RUN_ERROR</code></strong></p><p>The agent was unable to start the job process, often due to memory or resource constraints. Note that in this case, no signal was sent to the process, it simply never started.</p></td></tr><tr><td><p><strong><code>AGENT_REFUSED</code></strong></p><p>The agent pre-bootstrap hook refused the job. Note that in this case, no signal was sent to the process, the bootstrap was not run at all.</p></td></tr>
  </tbody>
</table>
