<h1>
  <code>JobEventActor</code>
  <small>OBJECT</small>
</h1>

The actor who was responsible for the job event

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>node</code>
      <a href="/docs/apis/graphql/schemas/jobeventactornodeunion" title="UNION JobEventActorNodeUnion">  JobEventActorNodeUnion</a>
      
    </h3>
    
    <p>The node corresponding to this actor if available</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>type</code>
      <a href="/docs/apis/graphql/schemas/jobeventactortype" title="ENUM JobEventActorType">  JobEventActorType</a>
      
    </h3>
    
    <p>The type of this actor</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>uuid</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    <p>The public UUID of this actor if available</p>
    
  </td>
</tr>

  </tbody>
</table>









