<h1 class="has-pills">
  <code>JobEventActorType</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

All the actors that can have created a job event

{:notoc}









<h2>ENUM Values</h2>
<h3>
  USER
  false
</h3>
<p>The actor was a user</p>

<h3>
  AGENT
  false
</h3>
<p>The actor was an agent</p>

<h3>
  SYSTEM
  false
</h3>
<p>The actor was the system</p>

<h3>
  DISPATCH
  false
</h3>
<p>The actor was the dispatcher</p>



