<h1>
  <code>JobEventActorNodeUnion</code>
  <small>UNION</small>
</h1>

Actor types that can create events on a job

{:toc}







<h2>Possible types</h2>
<a href="/docs/apis/graphql/schemas/user" title="OBJECT User">  User</a>, <a href="/docs/apis/graphql/schemas/dispatch" title="OBJECT Dispatch">  Dispatch</a>, <a href="/docs/apis/graphql/schemas/agent" title="OBJECT Agent">  Agent</a>



