<h1 class="has-pills">
  <code>JobEventActor</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

The actor who was responsible for the job event

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>node</code>
      <a
  href="/docs/apis/graphql/schemas/jobeventactornodeunion"
  class="pill pill--union pill--normal-case pill--medium"
  title="Go to UNION JobEventActorNodeUnion"><code>JobEventActorNodeUnion</code></a>

      
    </h3>
    
    <p>The node corresponding to this actor if available</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>type</code>
      <a
  href="/docs/apis/graphql/schemas/jobeventactortype"
  class="pill pill--enum pill--normal-case pill--medium"
  title="Go to ENUM JobEventActorType"><code>JobEventActorType</code></a>

      
    </h3>
    
    <p>The type of this actor</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    <p>The public UUID of this actor if available</p>
    
  </td>
</tr>

  </tbody>
</table>









