<h1>
  <code>JobEventType</code>
  <small>ENUM</small>
</h1>

All the possible types of events that happen to a Job

{:toc}









<h2>ENUM Values</h2>
<h3>
  ASSIGNED
  false
</h3>
<p>The Job was assigned to an agent</p>

<h3>
  ACCEPTED
  false
</h3>
<p>The Job was accepted by an agent</p>

<h3>
  STARTED
  false
</h3>
<p>The Job was started by an agent</p>

<h3>
  FINISHED
  false
</h3>
<p>The Job was finished by an agent</p>

<h3>
  CANCELED
  false
</h3>
<p>The Job was canceled</p>

<h3>
  TIMED_OUT
  false
</h3>
<p>The Job was timed out</p>

<h3>
  RETRIED
  false
</h3>
<p>The Job was retried either automatically or by a user</p>

<h3>
  CHANGED
  false
</h3>
<p>The Job was changed</p>

<h3>
  UNBLOCKED
  false
</h3>
<p>The Job was unblocked by a user</p>

<h3>
  SCHEDULED
  false
</h3>
<p>The Job was scheduled</p>

<h3>
  NOTIFICATION
  false
</h3>
<p>The Job sent a notification</p>

<h3>
  CANCELATION
  false
</h3>
<p>The Job was marked for cancelation by a user</p>

<h3>
  LIMITED
  false
</h3>
<p>The Job is limited by a concurrency group</p>

<h3>
  BUILD_STEP_UPLOAD_CREATED
  false
</h3>
<p>The Job uploaded steps to the current build</p>

<h3>
  EXPIRED
  false
</h3>
<p>The Job expired before it was started on an agent</p>



