<h1 class="has-pills">JobEventActorNodeUnion<span class="pill pill--union pill--normal-case pill--large"><code>UNION</code></span></h1>

<p>Actor types that can create events on a job</p>


{:notoc}







<h2>Possible Types</h2>
<a href="/docs/apis/graphql/schemas/user" class="pill pill--object pill--normal-case pill--large" title="Go to OBJECT User"><code>User</code></a>
<a href="/docs/apis/graphql/schemas/dispatch" class="pill pill--object pill--normal-case pill--large" title="Go to OBJECT Dispatch"><code>Dispatch</code></a>
<a href="/docs/apis/graphql/schemas/agent" class="pill pill--object pill--normal-case pill--large" title="Go to OBJECT Agent"><code>Agent</code></a>
