<h1 class="has-pills">
  JobEventActorType
  <span class="pill pill--enum pill--normal-case pill--large">
  <code>ENUM</code>
</span>

</h1>
All the actors that can have created a job event

{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <p>
      <strong><code>USER</code></strong>
      
    </p>
    <p>The actor was a user</p>
    
  </td>
</tr>
<tr>
  <td>
    <p>
      <strong><code>AGENT</code></strong>
      
    </p>
    <p>The actor was an agent</p>
    
  </td>
</tr>
<tr>
  <td>
    <p>
      <strong><code>SYSTEM</code></strong>
      
    </p>
    <p>The actor was the system</p>
    
  </td>
</tr>
<tr>
  <td>
    <p>
      <strong><code>DISPATCH</code></strong>
      
    </p>
    <p>The actor was the dispatcher</p>
    
  </td>
</tr>

  </tbody>
</table>

