<h1 class="has-pills">
  <code>JobPrioritySearch</code>
  <span class="pill pill--input_object pill--normal-case pill--large"><code>INPUT_OBJECT</code></span>

</h1>

Search jobs by priority

{:notoc}



<h2>Input fields</h2>
<h3>
  <code>number</code>
  <a
  href="/docs/apis/graphql/schemas/int"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Int"><code>Int</code></a>

  <span>Required</span>
</h3>
<p>The priority number to search</p>









