<h1>
  <code>JobPrioritySearch</code>
  <small>INPUT_OBJECT</small>
</h1>

Search jobs by priority

{:toc}



<h2>Input fields</h2>
<h4>
  <code>number</code>
  <a href="/docs/apis/graphql/schemas/int" title="SCALAR Int">  Int</a>
  <span>Required</span>
</h4>
<p>The priority number to search</p>









