<h1>
  <code>JobPriority</code>
  <small>OBJECT</small>
</h1>

The priority with which a job will run

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>number</code>
      <a href="/docs/apis/graphql/schemas/int" title="SCALAR Int">  Int</a>
      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>









