<h1>
  <code>JobRetryRules</code>
  <small>OBJECT</small>
</h1>

Retry Rules for a job

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>automatic</code>
      <a href="/docs/apis/graphql/schemas/jobretryruleautomatic" title="OBJECT JobRetryRuleAutomatic">  JobRetryRuleAutomatic</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>manual</code>
      <a href="/docs/apis/graphql/schemas/boolean" title="SCALAR Boolean">  Boolean</a>
      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>









