<h1 class="has-pills">JSInt<span class="pill pill--scalar pill--normal-case pill--large"><code>SCALAR</code></span></h1>

<p>Represents non-fractional signed whole numeric values.</p>
<p><code>JSInt</code> can represent values between -(2^53) + 1 and 2^53 - 1.</p>


{:notoc}
