<h1 class="has-pills">
  <code>JSInt</code>
  <span class="pill pill--scalar pill--normal-case pill--large"><code>SCALAR</code></span>

</h1>

Represents non-fractional signed whole numeric values.

`JSInt` can represent values between -(2^53) + 1 and 2^53 - 1.


{:notoc}










