<h1 class="has-pills">
  <code>Node</code>
  <span class="pill pill--interface pill--normal-case pill--large"><code>INTERFACE</code></span>

</h1>

An object with an ID.

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>id</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    <p>ID of the object.</p>
    
  </td>
</tr>

  </tbody>
</table>






<h2>Possible types</h2>
<a
  href="/docs/apis/graphql/schemas/apiaccesstoken"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT APIAccessToken"><code>APIAccessToken</code></a>
<a
  href="/docs/apis/graphql/schemas/apiaccesstokencode"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT APIAccessTokenCode"><code>APIAccessTokenCode</code></a>
<a
  href="/docs/apis/graphql/schemas/apiapplication"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT APIApplication"><code>APIApplication</code></a>
<a
  href="/docs/apis/graphql/schemas/agent"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Agent"><code>Agent</code></a>
<a
  href="/docs/apis/graphql/schemas/agenttoken"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AgentToken"><code>AgentToken</code></a>
<a
  href="/docs/apis/graphql/schemas/annotation"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Annotation"><code>Annotation</code></a>
<a
  href="/docs/apis/graphql/schemas/artifact"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Artifact"><code>Artifact</code></a>
<a
  href="/docs/apis/graphql/schemas/auditevent"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AuditEvent"><code>AuditEvent</code></a>
<a
  href="/docs/apis/graphql/schemas/authorizationbitbucket"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AuthorizationBitbucket"><code>AuthorizationBitbucket</code></a>
<a
  href="/docs/apis/graphql/schemas/authorizationgithub"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AuthorizationGitHub"><code>AuthorizationGitHub</code></a>
<a
  href="/docs/apis/graphql/schemas/authorizationgithubenterprise"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AuthorizationGitHubEnterprise"><code>AuthorizationGitHubEnterprise</code></a>
<a
  href="/docs/apis/graphql/schemas/authorizationgoogle"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AuthorizationGoogle"><code>AuthorizationGoogle</code></a>
<a
  href="/docs/apis/graphql/schemas/authorizationsaml"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT AuthorizationSAML"><code>AuthorizationSAML</code></a>
<a
  href="/docs/apis/graphql/schemas/build"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Build"><code>Build</code></a>
<a
  href="/docs/apis/graphql/schemas/changelog"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Changelog"><code>Changelog</code></a>
<a
  href="/docs/apis/graphql/schemas/clustertoken"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT ClusterToken"><code>ClusterToken</code></a>
<a
  href="/docs/apis/graphql/schemas/email"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Email"><code>Email</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventassigned"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventAssigned"><code>JobEventAssigned</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventbuildstepuploadcreated"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventBuildStepUploadCreated"><code>JobEventBuildStepUploadCreated</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventcanceled"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventCanceled"><code>JobEventCanceled</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventfinished"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventFinished"><code>JobEventFinished</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventgeneric"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventGeneric"><code>JobEventGeneric</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventretried"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventRetried"><code>JobEventRetried</code></a>
<a
  href="/docs/apis/graphql/schemas/jobeventtimedout"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobEventTimedOut"><code>JobEventTimedOut</code></a>
<a
  href="/docs/apis/graphql/schemas/jobtypeblock"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobTypeBlock"><code>JobTypeBlock</code></a>
<a
  href="/docs/apis/graphql/schemas/jobtypecommand"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobTypeCommand"><code>JobTypeCommand</code></a>
<a
  href="/docs/apis/graphql/schemas/jobtypetrigger"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobTypeTrigger"><code>JobTypeTrigger</code></a>
<a
  href="/docs/apis/graphql/schemas/jobtypewait"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT JobTypeWait"><code>JobTypeWait</code></a>
<a
  href="/docs/apis/graphql/schemas/notificationserviceslack"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT NotificationServiceSlack"><code>NotificationServiceSlack</code></a>
<a
  href="/docs/apis/graphql/schemas/organization"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Organization"><code>Organization</code></a>
<a
  href="/docs/apis/graphql/schemas/organizationinvitation"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT OrganizationInvitation"><code>OrganizationInvitation</code></a>
<a
  href="/docs/apis/graphql/schemas/organizationmember"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT OrganizationMember"><code>OrganizationMember</code></a>
<a
  href="/docs/apis/graphql/schemas/pipeline"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Pipeline"><code>Pipeline</code></a>
<a
  href="/docs/apis/graphql/schemas/pipelinemetric"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT PipelineMetric"><code>PipelineMetric</code></a>
<a
  href="/docs/apis/graphql/schemas/pipelineschedule"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT PipelineSchedule"><code>PipelineSchedule</code></a>
<a
  href="/docs/apis/graphql/schemas/ssoprovidergithubapp"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SSOProviderGitHubApp"><code>SSOProviderGitHubApp</code></a>
<a
  href="/docs/apis/graphql/schemas/ssoprovidergooglegsuite"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SSOProviderGoogleGSuite"><code>SSOProviderGoogleGSuite</code></a>
<a
  href="/docs/apis/graphql/schemas/ssoprovidersaml"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SSOProviderSAML"><code>SSOProviderSAML</code></a>
<a
  href="/docs/apis/graphql/schemas/suite"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Suite"><code>Suite</code></a>
<a
  href="/docs/apis/graphql/schemas/suitemonitor"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT SuiteMonitor"><code>SuiteMonitor</code></a>
<a
  href="/docs/apis/graphql/schemas/team"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Team"><code>Team</code></a>
<a
  href="/docs/apis/graphql/schemas/teammember"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT TeamMember"><code>TeamMember</code></a>
<a
  href="/docs/apis/graphql/schemas/teampipeline"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT TeamPipeline"><code>TeamPipeline</code></a>
<a
  href="/docs/apis/graphql/schemas/teamsuite"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT TeamSuite"><code>TeamSuite</code></a>
<a
  href="/docs/apis/graphql/schemas/user"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT User"><code>User</code></a>
<a
  href="/docs/apis/graphql/schemas/viewer"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT Viewer"><code>Viewer</code></a>




