<h1 class="has-pills">
  <code>NoticeNamespaces</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

All the possible namespaces for a notice

{:notoc}









<h2>ENUM Values</h2>
<h3>
  CHANGE
  false
</h3>
<p>A change to an existing feature</p>

<h3>
  EMAIL_SUGGESTION
  false
</h3>
<p>The user has had an email suggested to them</p>

<h3>
  FEATURE
  false
</h3>
<p>A new feature was added</p>

<h3>
  EVENT
  false
</h3>
<p>An event announcement</p>



