<h1>
  <code>NotificationService</code>
  <small>INTERFACE</small>
</h1>



{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>description</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The description of this service</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>name</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The name of the service provider</p>
    
  </td>
</tr>

  </tbody>
</table>






<h2>Possible types</h2>
<a href="/docs/apis/graphql/schemas/notificationserviceslack" title="OBJECT NotificationServiceSlack">  NotificationServiceSlack</a>, <a href="/docs/apis/graphql/schemas/notificationservicewebhook" title="OBJECT NotificationServiceWebhook">  NotificationServiceWebhook</a>



