<h1>
  <code>OperatingSystem</code>
  <small>OBJECT</small>
</h1>

A operating system that an agent can run on

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>name</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The name of the operating system</p>
    
  </td>
</tr>

  </tbody>
</table>









