<h1 class="has-pills">
  <code>OrganizationInvitationTeamAssignment</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

A team that has been assigned to an invitation

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>id</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>role</code>
      <a
  href="/docs/apis/graphql/schemas/teammemberrole"
  class="pill pill--enum pill--normal-case pill--medium"
  title="Go to ENUM TeamMemberRole"><code>TeamMemberRole</code></a>

      
    </h3>
    
    <p>The role that the user will have once they've accepted the invite</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>team</code>
      <a
  href="/docs/apis/graphql/schemas/team"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Team"><code>Team</code></a>

      
    </h3>
    
    <p>The team that this assignment refers to</p>
    
  </td>
</tr>

  </tbody>
</table>









