<h1 class="has-pills">
  <code>OrganizationMemberSecurityInput</code>
  <span class="pill pill--input_object pill--normal-case pill--large"><code>INPUT_OBJECT</code></span>

</h1>



{:notoc}



<h2>Input fields</h2>
<h3>
  <code>twoFactorEnabled</code>
  <a
  href="/docs/apis/graphql/schemas/boolean"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Boolean"><code>Boolean</code></a>

  <span>Required</span>
</h3>


<h3>
  <code>passwordProtected</code>
  <a
  href="/docs/apis/graphql/schemas/boolean"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Boolean"><code>Boolean</code></a>

  <span>Required</span>
</h3>










