<h1>
  <code>OrganizationInvitationTeamAssignment</code>
  <small>OBJECT</small>
</h1>

A team that has been assigned to an invitation

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>role</code>
      <a href="/docs/apis/graphql/schemas/teammemberrole" title="ENUM TeamMemberRole">  TeamMemberRole</a>
      
    </h3>
    
    <p>The role that the user will have once they've accepted the invite</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>team</code>
      <a href="/docs/apis/graphql/schemas/team" title="OBJECT Team">  Team</a>
      
    </h3>
    
    <p>The team that this assignment refers to</p>
    
  </td>
</tr>

  </tbody>
</table>









