<h1 class="has-pills">
  <code>OrganizationMemberOrder</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

The diferent orders you can sort members by

{:notoc}









<h2>ENUM Values</h2>
<h3>
  NAME
  false
</h3>
<p>Order by name alphabetically</p>

<h3>
  RECENTLY_CREATED
  false
</h3>
<p>Order by the most recently created members first</p>

<h3>
  RELEVANCE
  false
</h3>
<p>Order by relevance when searching for members</p>



