<h1 class="has-pills">
  <code>OrganizationInvitationStates</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

All the possible states that an organization invitation can be

{:notoc}









<h2>ENUM Values</h2>
<h3>
  PENDING
  false
</h3>
<p>The invitation is waiting for a user to accept it</p>

<h3>
  ACCEPTED
  false
</h3>
<p>The invitation was accepted by the person it was sent to</p>

<h3>
  EXPIRED
  false
</h3>
<p>The invitation wasn't accepted and the link has expired</p>

<h3>
  REVOKED
  false
</h3>
<p>The invitation was revoked and can no longer be accepted</p>



