<h1>
  <code>OrganizationMemberRole</code>
  <small>ENUM</small>
</h1>

The roles a user can be within an organization

{:toc}









<h2>ENUM Values</h2>
<h3>
  MEMBER
  false
</h3>
<p>The user is a regular member of the organization</p>

<h3>
  ADMIN
  false
</h3>
<p>Has full access to the entire organization</p>



