<h1 class="has-pills">
  <code>OrganizationInvitationSSOInput</code>
  <span class="pill pill--input_object pill--normal-case pill--large"><code>INPUT_OBJECT</code></span>

</h1>



{:notoc}



<h2>Input fields</h2>
<h3>
  <code>mode</code>
  <a
  href="/docs/apis/graphql/schemas/organizationmemberssomodeenum"
  class="pill pill--enum pill--normal-case pill--medium"
  title="Go to ENUM OrganizationMemberSSOModeEnum"><code>OrganizationMemberSSOModeEnum</code></a>

  <span>Required</span>
</h3>










