<h1 class="has-pills">
  <code>OrganizationMemberPipeline</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

Represents the connection between a user an a pipeline within an organization

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>pipeline</code>
      <a
  href="/docs/apis/graphql/schemas/pipeline"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Pipeline"><code>Pipeline</code></a>

      
    </h3>
    
    <p>The pipeline the user has access to within the organization</p>
    
  </td>
</tr>

  </tbody>
</table>









