<h1 class="has-pills" data-algolia-exclude>OrganizationMemberSSOModeEnum<span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span></h1>

<p>The SSO authorization modes you can use on a member</p>


{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2 data-algolia-exclude>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr><td><p><strong><code>REQUIRED</code></strong></p><p>The member must use SSO to access your organization</p></td></tr><tr><td><p><strong><code>OPTIONAL</code></strong></p><p>The member can either use SSO or their email &amp; password</p></td></tr>
  </tbody>
</table>
