<h1 class="has-pills">OrganizationInvitationOrders<span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span></h1>

<p>The diferent orders you can sort organization invitations by</p>


{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr><td><p><strong><code>EMAIL</code></strong></p><p>Order by email address alphabetically</p></td></tr><tr><td><p><strong><code>RECENTLY_CREATED</code></strong></p><p>Order by the most recently created invitations first</p></td></tr>
  </tbody>
</table>
