<h1>
  <code>OrganizationInvitationSSOType</code>
  <small>OBJECT</small>
</h1>

Information about the SSO setup for this invited organization member

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>mode</code>
      <a href="/docs/apis/graphql/schemas/organizationmemberssomodeenum" title="ENUM OrganizationMemberSSOModeEnum">  OrganizationMemberSSOModeEnum</a>
      
    </h3>
    
    <p>The SSO mode of the invited organization member</p>
    
  </td>
</tr>

  </tbody>
</table>









