<h1>
  <code>OrganizationMemberSecurity</code>
  <small>OBJECT</small>
</h1>

Information about what security settings the user has enabled in Buildkite

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>passwordProtected</code>
      <a href="/docs/apis/graphql/schemas/boolean" title="SCALAR Boolean">  Boolean</a>
      
    </h3>
    
    <p>If the user has secured their Buildkite user account with a password</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>twoFactorEnabled</code>
      <a href="/docs/apis/graphql/schemas/boolean" title="SCALAR Boolean">  Boolean</a>
      
    </h3>
    
    <p>If the user has enabled Two Factor Authentication</p>
    
  </td>
</tr>

  </tbody>
</table>









