<h1 class="has-pills">
  <code>OrganizationMemberSecurity</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

Information about what security settings the user has enabled in Buildkite

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>passwordProtected</code>
      <a
  href="/docs/apis/graphql/schemas/boolean"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Boolean"><code>Boolean</code></a>

      
    </h3>
    
    <p>If the user has secured their Buildkite user account with a password</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>twoFactorEnabled</code>
      <a
  href="/docs/apis/graphql/schemas/boolean"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Boolean"><code>Boolean</code></a>

      
    </h3>
    
    <p>If the user has enabled Two Factor Authentication</p>
    
  </td>
</tr>

  </tbody>
</table>









