<h1 class="has-pills">
  <code>OrganizationMemberSSOModeEnum</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

The SSO authorization modes you can use on a member

{:notoc}









<h2>ENUM Values</h2>
<h3>
  REQUIRED
  false
</h3>
<p>The member must use SSO to access your organization</p>

<h3>
  OPTIONAL
  false
</h3>
<p>The member can either use SSO or their email & password</p>



