<h1 class="has-pills">
  OrganizationMemberRole
  <span class="pill pill--enum pill--normal-case pill--large">
  <code>ENUM</code>
</span>

</h1>
The roles a user can be within an organization

{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <p>
      <strong><code>MEMBER</code></strong>
      
    </p>
    <p>The user is a regular member of the organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <p>
      <strong><code>ADMIN</code></strong>
      
    </p>
    <p>Has full access to the entire organization</p>
    
  </td>
</tr>

  </tbody>
</table>

