<h1>
  <code>OrganizationMemberSSOModeEnum</code>
  <small>ENUM</small>
</h1>

The SSO authorization modes you can use on a member

{:toc}









<h2>ENUM Values</h2>
<h3>
  REQUIRED
  false
</h3>
<p>The member must use SSO to access your organization</p>

<h3>
  OPTIONAL
  false
</h3>
<p>The member can either use SSO or their email & password</p>



