<h1>
  <code>OrganizationPermissions</code>
  <small>OBJECT</small>
</h1>

Permissions information about what actions the current user can do against the organization

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>agentTokenCreate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can create agent tokens</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>agentTokenView</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can access agent tokens</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>agentView</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can create a see a list of agents in organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>auditEventsView</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can access audit events for the organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>notificationServiceUpdate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can change the notification services for the organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>organizationBillingUpdate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can view and manage billing for the organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>organizationInvitationCreate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can invite members from an organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>organizationMemberUpdate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can update/remove members from an organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>organizationMemberView</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can see members in the organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>organizationMemberViewSensitive</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can see sensitive information about members in the organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>organizationUpdate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can change the organization name and related source code provider settings</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pipelineCreate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can create a new pipeline in the organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pipelineCreateWithoutTeams</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can create a new pipeline without adding it to any teams within the organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pipelineView</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can create a see a list of pipelines in organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>ssoProviderCreate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can change SSO Providers for the organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>ssoProviderUpdate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can change SSO Providers for the organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>suiteView</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can create a see a list of suites in organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>teamAdmin</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can administer one or all the teams in the organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>teamCreate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can create teams for the organization</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>teamEnabledChange</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can toggle teams on/off for the organzation</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>teamView</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can see teams in the organization</p>
    
  </td>
</tr>

  </tbody>
</table>









