<h1 class="has-pills">OrganizationAuditEventOrders<span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span></h1>

<p>The different orders you can sort audit events by</p>


{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr><td><p><strong><code>RECENTLY_OCCURRED</code></strong></p><p>Order by the most recently occurring events first</p></td></tr>
  </tbody>
</table>
