<h1 class="has-pills" data-algolia-exclude>OrganizationInvitationStates<span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span></h1>

<p>All the possible states that an organization invitation can be</p>


{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2 data-algolia-exclude>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr><td><p><strong><code>PENDING</code></strong></p><p>The invitation is waiting for a user to accept it</p></td></tr><tr><td><p><strong><code>ACCEPTED</code></strong></p><p>The invitation was accepted by the person it was sent to</p></td></tr><tr><td><p><strong><code>EXPIRED</code></strong></p><p>The invitation wasn't accepted and the link has expired</p></td></tr><tr><td><p><strong><code>REVOKED</code></strong></p><p>The invitation was revoked and can no longer be accepted</p></td></tr>
  </tbody>
</table>
