<h1>
  <code>OrganizationSSO</code>
  <small>OBJECT</small>
</h1>

Single sign-on settings for an organization

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>isEnabled</code>
      <a href="/docs/apis/graphql/schemas/boolean" title="SCALAR Boolean">  Boolean</a>
      
    </h3>
    
    <p>Whether this account is configured for single sign-on</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>provider</code>
      <a href="/docs/apis/graphql/schemas/organizationssoprovider" title="OBJECT OrganizationSSOProvider">  OrganizationSSOProvider</a>
      
    </h3>
    
    <p>The single sign-on provider for this organization</p>
    
  </td>
</tr>

  </tbody>
</table>









