<h1>
  <code>OrganizationInvitationPermissions</code>
  <small>OBJECT</small>
</h1>

Permissions information about what actions the current user can do against this invitation

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>organizationInvitationResend</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can resend this invitation</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>organizationInvitationRevoke</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can revoke this invitation</p>
    
  </td>
</tr>

  </tbody>
</table>









