<h1>
  <code>OrganizationMemberSuite</code>
  <small>OBJECT</small>
</h1>

Represents the connection between a user an a suite within an organization

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>suite</code>
      <a href="/docs/apis/graphql/schemas/suite" title="OBJECT Suite">  Suite</a>
      
    </h3>
    
    <p>The suite the user has access to within the organization</p>
    
  </td>
</tr>

  </tbody>
</table>









