<h1 class="has-pills">
  <code>OrganizationInvitationTeamAssignmentInput</code>
  <span class="pill pill--input_object pill--normal-case pill--large"><code>INPUT_OBJECT</code></span>

</h1>

Used to assign teams to organization invitation in mutations

{:notoc}



<h2>Input fields</h2>
<h3>
  <code>id</code>
  <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

  <span>Required</span>
</h3>
<p>The ID of the team you want the user to join once they've accepted the invite</p>

<h3>
  <code>role</code>
  <a
  href="/docs/apis/graphql/schemas/teammemberrole"
  class="pill pill--enum pill--normal-case pill--medium"
  title="Go to ENUM TeamMemberRole"><code>TeamMemberRole</code></a>

  <span>Required</span>
</h3>
<p>The role in the team you want the user to have</p>









