<h1>
  <code>OrganizationInvitationOrders</code>
  <small>ENUM</small>
</h1>

The diferent orders you can sort organization invitations by

{:toc}









<h2>ENUM Values</h2>
<h3>
  EMAIL
  false
</h3>
<p>Order by email address alphabetically</p>

<h3>
  RECENTLY_CREATED
  false
</h3>
<p>Order by the most recently created invitations first</p>



