<h1>
  <code>OrganizationMemberPipeline</code>
  <small>OBJECT</small>
</h1>

Represents the connection between a user an a pipeline within an organization

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>pipeline</code>
      <a href="/docs/apis/graphql/schemas/pipeline" title="OBJECT Pipeline">  Pipeline</a>
      
    </h3>
    
    <p>The pipeline the user has access to within the organization</p>
    
  </td>
</tr>

  </tbody>
</table>









