<h1 class="has-pills">
  <code>OrganizationMemberRole</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

The roles a user can be within an organization

{:notoc}









<h2>ENUM Values</h2>
<h3>
  MEMBER
  false
</h3>
<p>The user is a regular member of the organization</p>

<h3>
  ADMIN
  false
</h3>
<p>Has full access to the entire organization</p>



