<h1>
  <code>PageInfo</code>
  <small>OBJECT</small>
</h1>

Information about pagination in a connection.

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>endCursor</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>When paginating forwards, the cursor to continue.</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>hasNextPage</code>
      <a href="/docs/apis/graphql/schemas/boolean" title="SCALAR Boolean">  Boolean</a>
      
    </h3>
    
    <p>When paginating forwards, are there more items?</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>hasPreviousPage</code>
      <a href="/docs/apis/graphql/schemas/boolean" title="SCALAR Boolean">  Boolean</a>
      
    </h3>
    
    <p>When paginating backwards, are there more items?</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>startCursor</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>When paginating backwards, the cursor to continue.</p>
    
  </td>
</tr>

  </tbody>
</table>









