<h1 class="has-pills">
  <code>PipelineAccessLevels</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

The access levels that can be assigned to a pipeline

{:notoc}









<h2>ENUM Values</h2>
<h3>
  MANAGE_BUILD_AND_READ
  false
</h3>
<p>Allows edits, builds and reads</p>

<h3>
  BUILD_AND_READ
  false
</h3>
<p>Allows builds and read only</p>

<h3>
  READ_ONLY
  false
</h3>
<p>Read only - no builds or edits</p>



