<h1>
  <code>PipelineSteps</code>
  <small>OBJECT</small>
</h1>

Steps defined on a pipeline

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>yaml</code>
      <a href="/docs/apis/graphql/schemas/yaml" title="SCALAR YAML">  YAML</a>
      
    </h3>
    
    <p>A YAML representation of the pipeline steps</p>
    
  </td>
</tr>

  </tbody>
</table>









