<h1 class="has-pills" data-algolia-exclude>PipelineVisibility<span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span></h1>

<p>The visibility of the pipeline</p>


{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2 data-algolia-exclude>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr><td><p><strong><code>PUBLIC</code></strong></p><p>The pipeline is public</p></td></tr><tr><td><p><strong><code>PRIVATE</code></strong></p><p>The pipeline is private</p></td></tr>
  </tbody>
</table>
