<h1 class="has-pills">
  <code>PipelineVisibility</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

The visibility of the pipeline

{:notoc}









<h2>ENUM Values</h2>
<h3>
  PUBLIC
  false
</h3>
<p>The pipeline is public</p>

<h3>
  PRIVATE
  false
</h3>
<p>The pipeline is private</p>



