<h1>
  <code>PipelineRepositoryInput</code>
  <small>INPUT_OBJECT</small>
</h1>

Repository information for a pipeline

{:toc}



<h2>Input fields</h2>
<h4>
  <code>url</code>
  <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
  <span>Required</span>
</h4>
<p>The remote URL for this repository i.e. git@github.com:foo/bar.git</p>









