<h1 class="has-pills">
  <code>PipelineStepsInput</code>
  <span class="pill pill--input_object pill--normal-case pill--large"><code>INPUT_OBJECT</code></span>

</h1>

Step definition for a pipeline

{:notoc}



<h2>Input fields</h2>
<h3>
  <code>yaml</code>
  <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

  <span>Required</span>
</h3>
<p>A YAML representation of the steps in this pipeline. This is formatted the same as `buildkite-agent pipeline upload</p>









