<h1>
  <code>PipelinePermissions</code>
  <small>OBJECT</small>
</h1>

Permission information about what actions the current user can do against the pipeline

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>buildCreate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can create builds on this pipeline</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pipelineDelete</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can delete this pipeline</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pipelineFavorite</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can favorite this pipeline</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pipelineScheduleCreate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can create schedules on this pipeline</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pipelineUpdate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can edit the settings of this pipeline</p>
    
  </td>
</tr>

  </tbody>
</table>









