<h1>
  <code>PipelineSchedulePermissions</code>
  <small>OBJECT</small>
</h1>

Permission information about what actions the current user can do against the pipeline schedule

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>pipelineScheduleDelete</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can delete the schedule</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pipelineScheduleUpdate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can update the schedule</p>
    
  </td>
</tr>

  </tbody>
</table>









