<h1>
  <code>PipelineSchedule</code>
  <small>OBJECT</small>
</h1>

A schedule of when a build should automatically triggered for a Pipeline

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>branch</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The branch to use for builds that this schedule triggers. Defaults to to the default branch in the Pipeline</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>builds</code>
      <a href="/docs/apis/graphql/schemas/buildconnection" title="OBJECT BuildConnection">  BuildConnection</a>
      
    </h3>
    
    <p>Returns the builds created by this schedule</p>
    <h3>Arguments</h3>
<h4>
  <code>first</code>
  <a href="/docs/apis/graphql/schemas/int" title="SCALAR Int">  Int</a>
  <span>Required</span>
</h4>
<p>Returns the first _n_ elements from the list.</p>

<h4>
  <code>after</code>
  <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
  <span>Required</span>
</h4>
<p>Returns the elements in the list that come after the specified cursor.</p>

<h4>
  <code>last</code>
  <a href="/docs/apis/graphql/schemas/int" title="SCALAR Int">  Int</a>
  <span>Required</span>
</h4>
<p>Returns the last _n_ elements from the list.</p>

<h4>
  <code>before</code>
  <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
  <span>Required</span>
</h4>
<p>Returns the elements in the list that come before the specified cursor.</p>



  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>commit</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The commit to use for builds that this schedule triggers. Defaults to `HEAD`</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>createdAt</code>
      <a href="/docs/apis/graphql/schemas/datetime" title="SCALAR DateTime">  DateTime</a>
      
    </h3>
    
    <p>The time when this schedule was created</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>createdBy</code>
      <a href="/docs/apis/graphql/schemas/user" title="OBJECT User">  User</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>cronline</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>A definition of the trigger build schedule in cron syntax</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>enabled</code>
      <a href="/docs/apis/graphql/schemas/boolean" title="SCALAR Boolean">  Boolean</a>
      
    </h3>
    
    <p>If this Pipeline schedule is currently enabled</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>env</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>Environment variables passed to any triggered builds</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>failedAt</code>
      <a href="/docs/apis/graphql/schemas/datetime" title="SCALAR DateTime">  DateTime</a>
      
    </h3>
    
    <p>The time when this schedule failed</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>failedMessage</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>If the last attempt at triggering this scheduled build fails, this will be the reason</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>label</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>A short description of the Pipeline schedule</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>message</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The message to use for builds that this schedule triggers</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>nextBuildAt</code>
      <a href="/docs/apis/graphql/schemas/datetime" title="SCALAR DateTime">  DateTime</a>
      
    </h3>
    
    <p>The time when this schedule will create a build next</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>permissions</code>
      <a href="/docs/apis/graphql/schemas/pipelineschedulepermissions" title="OBJECT PipelineSchedulePermissions">  PipelineSchedulePermissions</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pipeline</code>
      <a href="/docs/apis/graphql/schemas/pipeline" title="OBJECT Pipeline">  Pipeline</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>uuid</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The UUID of the Pipeline schedule</p>
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a href="/docs/apis/graphql/schemas/node" title="INTERFACE Node">  Node</a>





