<h1>
  <code>PipelineTeamAssignmentInput</code>
  <small>INPUT_OBJECT</small>
</h1>

Used to assign teams to pipelines

{:toc}



<h2>Input fields</h2>
<h4>
  <code>id</code>
  <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
  <span>Required</span>
</h4>
<p>The ID of the team you want to be assigned</p>

<h4>
  <code>accessLevel</code>
  <a href="/docs/apis/graphql/schemas/pipelineaccesslevels" title="ENUM PipelineAccessLevels">  PipelineAccessLevels</a>
  false
</h4>
<p>The access level members within the team have to the pipeline</p>
<p>Default value: MANAGE_BUILD_AND_READ</p>








