<h1>
  <code>PipelineVisibility</code>
  <small>ENUM</small>
</h1>

The visibility of the pipeline

{:toc}









<h2>ENUM Values</h2>
<h3>
  PUBLIC
  false
</h3>
<p>The pipeline is public</p>

<h3>
  PRIVATE
  false
</h3>
<p>The pipeline is private</p>



