<h1 class="has-pills">
  PipelineOrders
  <span class="pill pill--enum pill--normal-case pill--large">
  <code>ENUM</code>
</span>

</h1>
The diferent orders you can sort pipelines by

{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <p>
      <strong><code>NAME</code></strong>
      
    </p>
    <p>Order by name alphabetically</p>
    
  </td>
</tr>
<tr>
  <td>
    <p>
      <strong><code>NAME_WITH_FAVORITES_FIRST</code></strong>
      
    </p>
    <p>Order by favorites first alphabetically, then the rest of the pipelines alphabetically</p>
    
  </td>
</tr>
<tr>
  <td>
    <p>
      <strong><code>RECENTLY_CREATED</code></strong>
      
    </p>
    <p>Order by the most recently created pipelines first</p>
    
  </td>
</tr>
<tr>
  <td>
    <p>
      <strong><code>RELEVANCE</code></strong>
      
    </p>
    <p>Order by relevance when searching for pipelines</p>
    
  </td>
</tr>

  </tbody>
</table>

