<h1 class="has-pills">
  <code>Query</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

The query root for this schema

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>agent</code>
      <a
  href="/docs/apis/graphql/schemas/agent"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Agent"><code>Agent</code></a>

      
    </h3>
    
    <p>Find an agent by its slug</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>slug</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The UUID for the agent, prefixed by its organization's slug i.e. `acme-inc/0bd5ea7c-89b3-4f40-8ca3-ffac805771eb`</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>agentToken</code>
      <a
  href="/docs/apis/graphql/schemas/agenttoken"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT AgentToken"><code>AgentToken</code></a>

      
    </h3>
    
    <p>Find an agent token by its slug</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>slug</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The UUID for the agent token, prefixed by its organization's slug i.e. `acme-inc/0bd5ea7c-89b3-4f40-8ca3-ffac805771eb`</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>apiAccessTokenCode</code>
      <a
  href="/docs/apis/graphql/schemas/apiaccesstokencode"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT APIAccessTokenCode"><code>APIAccessTokenCode</code></a>

      
    </h3>
    
    <p>Find a API Acccess Token code</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>code</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The code provided by the Auth API</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>artifact</code>
      <a
  href="/docs/apis/graphql/schemas/artifact"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Artifact"><code>Artifact</code></a>

      
    </h3>
    
    <p>Find an artifact by its UUID</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>auditEvent</code>
      <a
  href="/docs/apis/graphql/schemas/auditevent"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT AuditEvent"><code>AuditEvent</code></a>

      
    </h3>
    
    <p>Find an audit event via its uuid</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The UUID for the audit event i.e. `0bd5ea7c-89b3-4f40-8ca3-ffac805771eb`</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>build</code>
      <a
  href="/docs/apis/graphql/schemas/build"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Build"><code>Build</code></a>

      
    </h3>
    
    <p>Find a build by its slug or UUID</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>slug</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The number of the build, prefixed with its organization and pipeline. i.e. `acme-inc/my-pipeline/123`</p>
    
  </td>
</tr>
<tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The UUID of the build</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>graphQLSnippet</code>
      <a
  href="/docs/apis/graphql/schemas/graphqlsnippet"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT GraphQLSnippet"><code>GraphQLSnippet</code></a>

      
    </h3>
    
    <p>Find a GraphQL snippet</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The UUID for this GraphQL snippet</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>job</code>
      <a
  href="/docs/apis/graphql/schemas/job"
  class="pill pill--union pill--normal-case pill--medium"
  title="Go to UNION Job"><code>Job</code></a>

      
    </h3>
    
    <p>Find a build job by its UUID</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>node</code>
      <a
  href="/docs/apis/graphql/schemas/node"
  class="pill pill--interface pill--normal-case pill--medium"
  title="Go to INTERFACE Node"><code>Node</code></a>

      
    </h3>
    
    <p>Fetches an object given its ID.</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>id</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">ID of the object.</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>notificationService</code>
      <a
  href="/docs/apis/graphql/schemas/notificationservice"
  class="pill pill--interface pill--normal-case pill--medium"
  title="Go to INTERFACE NotificationService"><code>NotificationService</code></a>

      
    </h3>
    
    <p>Find a notification service via its UUID</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The UUID for the notification service i.e. `0bd5ea7c-89b3-4f40-8ca3-ffac805771eb`</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>organization</code>
      <a
  href="/docs/apis/graphql/schemas/organization"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Organization"><code>Organization</code></a>

      
    </h3>
    
    <p>Find an organization by its slug</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>slug</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The organizations slug</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>organizationInvitation</code>
      <a
  href="/docs/apis/graphql/schemas/organizationinvitation"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT OrganizationInvitation"><code>OrganizationInvitation</code></a>

      
    </h3>
    
    <p>Find an organization invitation via its slug</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>slug</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The UUID for the invitation, prefixed by its organization's slug i.e. `acme-inc/0bd5ea7c-89b3-4f40-8ca3-ffac805771eb`</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>organizationMember</code>
      <a
  href="/docs/apis/graphql/schemas/organizationmember"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT OrganizationMember"><code>OrganizationMember</code></a>

      
    </h3>
    
    <p>Find an organization membership via its slug</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>slug</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The UUID for the membership, prefixed by its organization's slug i.e. `acme-inc/0bd5ea7c-89b3-4f40-8ca3-ffac805771eb`</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>pipeline</code>
      <a
  href="/docs/apis/graphql/schemas/pipeline"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Pipeline"><code>Pipeline</code></a>

      
    </h3>
    
    <p>Find a pipeline by its slug</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>slug</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The slug of the pipeline, prefixed with its organization. i.e. `acme-inc/my-pipeline`</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>pipelineSchedule</code>
      <a
  href="/docs/apis/graphql/schemas/pipelineschedule"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT PipelineSchedule"><code>PipelineSchedule</code></a>

      
    </h3>
    
    <p>Find a pipeline schedule by its slug</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>slug</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The UUID for the pipeline schedule, prefixed by its organization and pipeline's slug i.e. `acme-inc/my-pipeline/0bd5ea7c-89b3-4f40-8ca3-ffac805771eb`</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>ssoProvider</code>
      <a
  href="/docs/apis/graphql/schemas/ssoprovider"
  class="pill pill--interface pill--normal-case pill--medium"
  title="Go to INTERFACE SSOProvider"><code>SSOProvider</code></a>

      
    </h3>
    
    <p>Find an sso provider either using it's slug, or UUID</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>slug</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The slug for the sso provider, prefixed by its organization's slug i.e. `acme-inc/0bd5ea7c-89b3-4f40-8ca3-ffac805771eb`</p>
    
  </td>
</tr>
<tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The UUID of the sso provider</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>team</code>
      <a
  href="/docs/apis/graphql/schemas/team"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Team"><code>Team</code></a>

      
    </h3>
    
    <p>Find a team by its UUID</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>slug</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    <p class="no-margin">The slug of the team, prefixed with its organization. i.e. `acme-inc/awesome-team`</p>
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>viewer</code>
      <a
  href="/docs/apis/graphql/schemas/viewer"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Viewer"><code>Viewer</code></a>

      
    </h3>
    
    <p>Context of the current user using the GraphQL API</p>
    
  </td>
</tr>

  </tbody>
</table>









