<h1>
  <code>RecoveryCodeBatch</code>
  <small>OBJECT</small>
</h1>

A batch of recovery codes

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>active</code>
      <a href="/docs/apis/graphql/schemas/boolean" title="SCALAR Boolean">  Boolean</a>
      
    </h3>
    
    <p>Whether the batch of recovery codes is active</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>codes</code>
      <a href="/docs/apis/graphql/schemas/recoverycode" title="OBJECT RecoveryCode">  RecoveryCode</a>
      
    </h3>
    
    <p>The recovery codes from this batch. Codes are consumed when used, and codes will be included in this list whether consumed or not</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>









