<h1>
  <code>Repository</code>
  <small>OBJECT</small>
</h1>

A repository associated with a pipeline

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>provider</code>
      <a href="/docs/apis/graphql/schemas/repositoryprovider" title="INTERFACE RepositoryProvider">  RepositoryProvider</a>
      
    </h3>
    
    <p>The repository’s provider</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>url</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The git URL for this repository</p>
    
  </td>
</tr>

  </tbody>
</table>









