<h1>
  <code>RepositoryProvider</code>
  <small>INTERFACE</small>
</h1>



{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>name</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The name of the provider</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>url</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>This URL to the provider’s web interface</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>webhookUrl</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The URL to use when setting up webhooks from the provider to trigger Buildkite builds</p>
    
  </td>
</tr>

  </tbody>
</table>






<h2>Possible types</h2>
<a href="/docs/apis/graphql/schemas/repositoryproviderbeanstalk" title="OBJECT RepositoryProviderBeanstalk">  RepositoryProviderBeanstalk</a>, <a href="/docs/apis/graphql/schemas/repositoryproviderbitbucket" title="OBJECT RepositoryProviderBitbucket">  RepositoryProviderBitbucket</a>, <a href="/docs/apis/graphql/schemas/repositoryproviderbitbucketserver" title="OBJECT RepositoryProviderBitbucketServer">  RepositoryProviderBitbucketServer</a>, <a href="/docs/apis/graphql/schemas/repositoryprovidercodebase" title="OBJECT RepositoryProviderCodebase">  RepositoryProviderCodebase</a>, <a href="/docs/apis/graphql/schemas/repositoryprovidergithub" title="OBJECT RepositoryProviderGithub">  RepositoryProviderGithub</a>, <a href="/docs/apis/graphql/schemas/repositoryprovidergithubenterprise" title="OBJECT RepositoryProviderGithubEnterprise">  RepositoryProviderGithubEnterprise</a>, <a href="/docs/apis/graphql/schemas/repositoryprovidergitlab" title="OBJECT RepositoryProviderGitlab">  RepositoryProviderGitlab</a>, <a href="/docs/apis/graphql/schemas/repositoryprovidergitlabcommunity" title="OBJECT RepositoryProviderGitlabCommunity">  RepositoryProviderGitlabCommunity</a>, <a href="/docs/apis/graphql/schemas/repositoryprovidergitlabenterprise" title="OBJECT RepositoryProviderGitlabEnterprise">  RepositoryProviderGitlabEnterprise</a>, <a href="/docs/apis/graphql/schemas/repositoryproviderunknown" title="OBJECT RepositoryProviderUnknown">  RepositoryProviderUnknown</a>



