<h1>
  <code>RepositoryProviderGitlabCommunity</code>
  <small>OBJECT</small>
</h1>

A pipeline's repository is being provided by Gitlab Community Edition

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>name</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The name of the provider</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>url</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>This URL to the provider’s web interface</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>webhookUrl</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The URL to use when setting up webhooks from the provider to trigger Buildkite builds</p>
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a href="/docs/apis/graphql/schemas/repositoryprovider" title="INTERFACE RepositoryProvider">  RepositoryProvider</a>





