<h1 class="has-pills">
  <code>RepositoryProvider</code>
  <span class="pill pill--interface pill--normal-case pill--large"><code>INTERFACE</code></span>

</h1>



{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>name</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    <p>The name of the provider</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>url</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    <p>This URL to the provider’s web interface</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>webhookUrl</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    <p>The URL to use when setting up webhooks from the provider to trigger Buildkite builds</p>
    
  </td>
</tr>

  </tbody>
</table>






<h2>Possible types</h2>
<a
  href="/docs/apis/graphql/schemas/repositoryproviderbeanstalk"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT RepositoryProviderBeanstalk"><code>RepositoryProviderBeanstalk</code></a>
<a
  href="/docs/apis/graphql/schemas/repositoryproviderbitbucket"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT RepositoryProviderBitbucket"><code>RepositoryProviderBitbucket</code></a>
<a
  href="/docs/apis/graphql/schemas/repositoryproviderbitbucketserver"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT RepositoryProviderBitbucketServer"><code>RepositoryProviderBitbucketServer</code></a>
<a
  href="/docs/apis/graphql/schemas/repositoryprovidercodebase"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT RepositoryProviderCodebase"><code>RepositoryProviderCodebase</code></a>
<a
  href="/docs/apis/graphql/schemas/repositoryprovidergithub"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT RepositoryProviderGithub"><code>RepositoryProviderGithub</code></a>
<a
  href="/docs/apis/graphql/schemas/repositoryprovidergithubenterprise"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT RepositoryProviderGithubEnterprise"><code>RepositoryProviderGithubEnterprise</code></a>
<a
  href="/docs/apis/graphql/schemas/repositoryprovidergitlab"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT RepositoryProviderGitlab"><code>RepositoryProviderGitlab</code></a>
<a
  href="/docs/apis/graphql/schemas/repositoryprovidergitlabcommunity"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT RepositoryProviderGitlabCommunity"><code>RepositoryProviderGitlabCommunity</code></a>
<a
  href="/docs/apis/graphql/schemas/repositoryprovidergitlabenterprise"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT RepositoryProviderGitlabEnterprise"><code>RepositoryProviderGitlabEnterprise</code></a>
<a
  href="/docs/apis/graphql/schemas/repositoryproviderunknown"
  class="pill pill--object pill--normal-case pill--large"
  title="Go to OBJECT RepositoryProviderUnknown"><code>RepositoryProviderUnknown</code></a>




