<h1>
  <code>SSOAuthorizationConnection</code>
  <small>OBJECT</small>
</h1>



{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>count</code>
      <a href="/docs/apis/graphql/schemas/int" title="SCALAR Int">  Int</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>edges</code>
      <a href="/docs/apis/graphql/schemas/ssoauthorizationedge" title="OBJECT SSOAuthorizationEdge">  SSOAuthorizationEdge</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pageInfo</code>
      <a href="/docs/apis/graphql/schemas/pageinfo" title="OBJECT PageInfo">  PageInfo</a>
      
    </h3>
    
    
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a href="/docs/apis/graphql/schemas/connection" title="INTERFACE Connection">  Connection</a>





