<h1>
  <code>SSOAuthorizationState</code>
  <small>ENUM</small>
</h1>

All the possible states an SSO Authorization

{:toc}









<h2>ENUM Values</h2>
<h3>
  VERIFIED
  false
</h3>
<p>The authorization has been verified and is in use</p>

<h3>
  VERIFIED_USER_SESSION_DESTROYED
  false
</h3>
<p>The authorization was verified but has since been destroyed as the user logged out of that session</p>

<h3>
  VERIFIED_REVOKED
  false
</h3>
<p>The authorization was verified but has since been manually revoked</p>

<h3>
  VERIFIED_EXPIRED
  false
</h3>
<p>The authorization was verified but has since expired</p>



