<h1 class="has-pills">
  <code>SSOAuthorizationState</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

All the possible states an SSO Authorization

{:notoc}









<h2>ENUM Values</h2>
<h3>
  VERIFIED
  false
</h3>
<p>The authorization has been verified and is in use</p>

<h3>
  VERIFIED_USER_SESSION_DESTROYED
  false
</h3>
<p>The authorization was verified but has since been destroyed as the user logged out of that session</p>

<h3>
  VERIFIED_REVOKED
  false
</h3>
<p>The authorization was verified but has since been manually revoked</p>

<h3>
  VERIFIED_EXPIRED
  false
</h3>
<p>The authorization was verified but has since expired</p>



