<h1 class="has-pills">
  <code>SSOProviderSAMLIdP</code>
  <span class="pill pill--input_object pill--normal-case pill--large"><code>INPUT_OBJECT</code></span>

</h1>



{:notoc}



<h2>Input fields</h2>
<h3>
  <code>issuer</code>
  <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

  <span>Required</span>
</h3>


<h3>
  <code>ssoURL</code>
  <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

  <span>Required</span>
</h3>


<h3>
  <code>certificate</code>
  <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

  <span>Required</span>
</h3>


<h3>
  <code>metadata</code>
  <a
  href="/docs/apis/graphql/schemas/ssoprovidersamlidpmetadata"
  class="pill pill--input_object pill--normal-case pill--medium"
  title="Go to INPUT_OBJECT SSOProviderSAMLIdPMetadata"><code>SSOProviderSAMLIdPMetadata</code></a>

  <span>Required</span>
</h3>










