<h1 class="has-pills">
  <code>SSOProviderSAMLMetadataType</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

SAML metadata used for configuration

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>url</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    <p>The URL that this metadata can be publicly accessed at</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>xml</code>
      <a
  href="/docs/apis/graphql/schemas/xml"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR XML"><code>XML</code></a>

      
    </h3>
    
    <p>The XML for this metadata</p>
    
  </td>
</tr>

  </tbody>
</table>









