<h1>
  <code>SSOProviderSAMLRSAXMLSecurity</code>
  <small>ENUM</small>
</h1>

XML RSA security algorithims used in the SAML exchange

{:toc}









<h2>ENUM Values</h2>
<h3>
  RSA_SHA1
  false
</h3>
<p>http://www.w3.org/2000/09/xmldsig#rsa-sha1</p>

<h3>
  RSA_SHA256
  false
</h3>
<p>http://www.w3.org/2001/04/xmldsig-more#rsa-sha256</p>

<h3>
  RSA_SHA384
  false
</h3>
<p>http://www.w3.org/2001/04/xmldsig-more#rsa-sha384</p>

<h3>
  RSA_SHA512
  false
</h3>
<p>http://www.w3.org/2001/04/xmldsig-more#rsa-sha512</p>



