<h1 class="has-pills">
  <code>SSOProviderSAMLIdPMetadata</code>
  <span class="pill pill--input_object pill--normal-case pill--large"><code>INPUT_OBJECT</code></span>

</h1>



{:notoc}



<h2>Input fields</h2>
<h3>
  <code>xml</code>
  <a
  href="/docs/apis/graphql/schemas/xml"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR XML"><code>XML</code></a>

  <span>Required</span>
</h3>


<h3>
  <code>url</code>
  <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

  <span>Required</span>
</h3>










