<h1>
  <code>SSOProviderSAMLSPType</code>
  <small>OBJECT</small>
</h1>

Information about Buildkite as a SAML Service Provider

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>issuer</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The IdP Issuer value for this SSO Provider</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>metadata</code>
      <a href="/docs/apis/graphql/schemas/ssoprovidersamlmetadatatype" title="OBJECT SSOProviderSAMLMetadataType">  SSOProviderSAMLMetadataType</a>
      
    </h3>
    
    <p>The metadata used to configure this SSO provider if it was provided</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>ssoURL</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The Idp SSO URL for this SSO Provider</p>
    
  </td>
</tr>

  </tbody>
</table>









