<h1>
  <code>SSOProviderStates</code>
  <small>ENUM</small>
</h1>

All the possible states an SSO Provider can be in

{:toc}









<h2>ENUM Values</h2>
<h3>
  CREATED
  false
</h3>
<p>The SSO Provider has been created, but has not been enabled for use yet</p>

<h3>
  ENABLED
  false
</h3>
<p>The SSO Provider has been setup correctly and can be used by users</p>

<h3>
  DISABLED
  false
</h3>
<p>The SSO Provider has been disabled and can't be used directly</p>



