<h1>
  <code>SSOProviderSAMLMetadataType</code>
  <small>OBJECT</small>
</h1>

SAML metadata used for configuration

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>url</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The URL that this metadata can be publicly accessed at</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>xml</code>
      <a href="/docs/apis/graphql/schemas/xml" title="SCALAR XML">  XML</a>
      
    </h3>
    
    <p>The XML for this metadata</p>
    
  </td>
</tr>

  </tbody>
</table>









