<h1 class="has-pills">
  <code>SSOProviderSAMLSPType</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

Information about Buildkite as a SAML Service Provider

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>issuer</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    <p>The IdP Issuer value for this SSO Provider</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>metadata</code>
      <a
  href="/docs/apis/graphql/schemas/ssoprovidersamlmetadatatype"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT SSOProviderSAMLMetadataType"><code>SSOProviderSAMLMetadataType</code></a>

      
    </h3>
    
    <p>The metadata used to configure this SSO provider if it was provided</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>ssoURL</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    <p>The Idp SSO URL for this SSO Provider</p>
    
  </td>
</tr>

  </tbody>
</table>









