<h1 class="has-pills" data-algolia-exclude>SSOProviderSAMLRSAXMLSecurity<span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span></h1>

<p>XML RSA security algorithms used in the SAML exchange</p>


{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2 data-algolia-exclude>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr><td><p><strong><code>RSA_SHA1</code></strong></p><p>http://www.w3.org/2000/09/xmldsig#rsa-sha1</p></td></tr><tr><td><p><strong><code>RSA_SHA256</code></strong></p><p>http://www.w3.org/2001/04/xmldsig-more#rsa-sha256</p></td></tr><tr><td><p><strong><code>RSA_SHA384</code></strong></p><p>http://www.w3.org/2001/04/xmldsig-more#rsa-sha384</p></td></tr><tr><td><p><strong><code>RSA_SHA512</code></strong></p><p>http://www.w3.org/2001/04/xmldsig-more#rsa-sha512</p></td></tr>
  </tbody>
</table>
