<h1 class="has-pills">
  <code>SSOProviderSAMLXMLSecurity</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

XML security algorithims used in the SAML exchange

{:notoc}









<h2>ENUM Values</h2>
<h3>
  SHA1
  false
</h3>
<p>http://www.w3.org/2000/09/xmldsig#sha1</p>

<h3>
  SHA256
  false
</h3>
<p>http://www.w3.org/2001/04/xmlenc#sha256</p>

<h3>
  SHA384
  false
</h3>
<p>http://www.w3.org/2001/04/xmldsig-more#sha384</p>

<h3>
  SHA512
  false
</h3>
<p>http://www.w3.org/2001/04/xmlenc#sha512</p>



