<h1 class="has-pills">
  <code>SSOProviderTypes</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

All the possible SSO Provider types

{:notoc}









<h2>ENUM Values</h2>
<h3>
  SAML
  false
</h3>
<p>An SSO Provider configured to use SAML</p>

<h3>
  GOOGLE_GSUITE
  false
</h3>
<p>A SSO Provider configured to use Google G Suite for authorization</p>

<h3>
  GITHUB_APP
  false
</h3>
<p>A SSO Provider configured to use a GitHub App for authorization</p>



