<h1>
  <code>String</code>
  <small>SCALAR</small>
</h1>

Represents textual data as UTF-8 character sequences. This type is most often used by GraphQL to represent free-form human-readable text.

{:toc}










