<h1 class="has-pills">
  <code>String</code>
  <span class="pill pill--scalar pill--normal-case pill--large"><code>SCALAR</code></span>

</h1>

Represents textual data as UTF-8 character sequences. This type is most often used by GraphQL to represent free-form human-readable text.

{:notoc}










