<h1 class="has-pills">SuiteOrders<span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span></h1>

<p>The different orders you can sort suites by</p>


{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr><td><p><strong><code>NAME</code></strong></p><p>Order by name alphabetically</p></td></tr><tr><td><p><strong><code>RECENTLY_CREATED</code></strong></p><p>Order by the most recently created suites first</p></td></tr><tr><td><p><strong><code>RELEVANCE</code></strong></p><p>Order by relevance when searching for suites</p></td></tr>
  </tbody>
</table>
