<h1 class="has-pills">
  <code>SuiteAccessLevels</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

The access levels that can be assigned to a suite

{:notoc}









<h2>ENUM Values</h2>
<h3>
  MANAGE_AND_READ
  false
</h3>
<p>Allows edits and reads</p>

<h3>
  READ_ONLY
  false
</h3>
<p>Read only</p>



