<h1 class="has-pills">
  <code>TeamPrivacy</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

Whether a team is visible or secret within an organization

{:notoc}









<h2>ENUM Values</h2>
<h3>
  VISIBLE
  false
</h3>
<p>Visible to all members of the organization</p>

<h3>
  SECRET
  false
</h3>
<p>Visible to organization administrators and members</p>



