<h1>
  <code>TeamMemberRole</code>
  <small>ENUM</small>
</h1>

The roles a user can be within a team

{:toc}









<h2>ENUM Values</h2>
<h3>
  MEMBER
  false
</h3>
<p>The user is a regular member of the team</p>

<h3>
  MAINTAINER
  false
</h3>
<p>The user can manage pipelines and users within the team</p>



