<h1>
  <code>TeamMember</code>
  <small>OBJECT</small>
</h1>

An member of a team

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>createdAt</code>
      <a href="/docs/apis/graphql/schemas/datetime" title="SCALAR DateTime">  DateTime</a>
      
    </h3>
    
    <p>The time when the team member was added</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>createdBy</code>
      <a href="/docs/apis/graphql/schemas/user" title="OBJECT User">  User</a>
      
    </h3>
    
    <p>The user that added this team member</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>organizationMember</code>
      <a href="/docs/apis/graphql/schemas/organizationmember" title="OBJECT OrganizationMember">  OrganizationMember</a>
      
    </h3>
    
    <p>The organization member associated with this team member</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>permissions</code>
      <a href="/docs/apis/graphql/schemas/teammemberpermissions" title="OBJECT TeamMemberPermissions">  TeamMemberPermissions</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>role</code>
      <a href="/docs/apis/graphql/schemas/teammemberrole" title="ENUM TeamMemberRole">  TeamMemberRole</a>
      
    </h3>
    
    <p>The users role within the team</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>team</code>
      <a href="/docs/apis/graphql/schemas/team" title="OBJECT Team">  Team</a>
      
    </h3>
    
    <p>The team associated with this team member</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>user</code>
      <a href="/docs/apis/graphql/schemas/user" title="OBJECT User">  User</a>
      
    </h3>
    
    <p>The user associated with this team member</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>uuid</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    <p>The public UUID for this team member</p>
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a href="/docs/apis/graphql/schemas/node" title="INTERFACE Node">  Node</a>





