<h1 class="has-pills" data-algolia-exclude>TeamPrivacy<span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span></h1>

<p>Whether a team is visible or secret within an organization</p>


{:notoc}









<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2 data-algolia-exclude>ENUM Values</h2>
    </th>
  </thead>
  <tbody>
    <tr><td><p><strong><code>VISIBLE</code></strong></p><p>Visible to all members of the organization</p></td></tr><tr><td><p><strong><code>SECRET</code></strong></p><p>Visible to organization administrators and members</p></td></tr>
  </tbody>
</table>
