<h1>
  <code>TeamSuite</code>
  <small>OBJECT</small>
</h1>

A suite that's been assigned to a team

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>accessLevel</code>
      <a href="/docs/apis/graphql/schemas/suiteaccesslevels" title="ENUM SuiteAccessLevels">  SuiteAccessLevels</a>
      
    </h3>
    
    <p>The access level users have to this suite</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>createdAt</code>
      <a href="/docs/apis/graphql/schemas/datetime" title="SCALAR DateTime">  DateTime</a>
      
    </h3>
    
    <p>The time when the suite was added</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>createdBy</code>
      <a href="/docs/apis/graphql/schemas/user" title="OBJECT User">  User</a>
      
    </h3>
    
    <p>The user that added this suite to the team</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>permissions</code>
      <a href="/docs/apis/graphql/schemas/teamsuitepermissions" title="OBJECT TeamSuitePermissions">  TeamSuitePermissions</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>suite</code>
      <a href="/docs/apis/graphql/schemas/suite" title="OBJECT Suite">  Suite</a>
      
    </h3>
    
    <p>The suite associated with this team member</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>team</code>
      <a href="/docs/apis/graphql/schemas/team" title="OBJECT Team">  Team</a>
      
    </h3>
    
    <p>The team associated with this team member</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>uuid</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The public UUID for this team suite</p>
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a href="/docs/apis/graphql/schemas/node" title="INTERFACE Node">  Node</a>





