<h1 class="has-pills">
  <code>TeamMemberRole</code>
  <span class="pill pill--enum pill--normal-case pill--large"><code>ENUM</code></span>

</h1>

The roles a user can be within a team

{:notoc}









<h2>ENUM Values</h2>
<h3>
  MEMBER
  false
</h3>
<p>The user is a regular member of the team</p>

<h3>
  MAINTAINER
  false
</h3>
<p>The user can manage pipelines and users within the team</p>



