<h1>
  <code>TeamMemberPermissions</code>
  <small>OBJECT</small>
</h1>

Permissions information about what actions the current user can do against the team membership record

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>teamMemberDelete</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can delete the user from the team</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>teamMemberUpdate</code>
      <a href="/docs/apis/graphql/schemas/permission" title="OBJECT Permission">  Permission</a>
      
    </h3>
    
    <p>Whether the user can update the team's members admin status</p>
    
  </td>
</tr>

  </tbody>
</table>









