<h1 class="has-pills">
  <code>TeamSelector</code>
  <span class="pill pill--scalar pill--normal-case pill--large"><code>SCALAR</code></span>

</h1>

A Team identifier using a slug, and optionally negated with a leading `!`

{:notoc}










