<h1>
  <code>TeamSuiteOrder</code>
  <small>ENUM</small>
</h1>

The different orders you can sort suites by

{:toc}









<h2>ENUM Values</h2>
<h3>
  NAME
  false
</h3>
<p>Order by name alphabetically</p>

<h3>
  RELEVANCE
  false
</h3>
<p>Order by most relevant results when doing a search</p>

<h3>
  RECENTLY_CREATED
  false
</h3>
<p>Order by the most recently added suites first</p>



