<h1>
  <code>TeamPipeline</code>
  <small>OBJECT</small>
</h1>

An pipeline that's been assigned to a team

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>accessLevel</code>
      <a href="/docs/apis/graphql/schemas/pipelineaccesslevels" title="ENUM PipelineAccessLevels">  PipelineAccessLevels</a>
      
    </h3>
    
    <p>The access level users have to this pipeline</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>createdAt</code>
      <a href="/docs/apis/graphql/schemas/datetime" title="SCALAR DateTime">  DateTime</a>
      
    </h3>
    
    <p>The time when the pipeline was added</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>createdBy</code>
      <a href="/docs/apis/graphql/schemas/user" title="OBJECT User">  User</a>
      
    </h3>
    
    <p>The user that added this pipeline to the team</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>permissions</code>
      <a href="/docs/apis/graphql/schemas/teampipelinepermissions" title="OBJECT TeamPipelinePermissions">  TeamPipelinePermissions</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>pipeline</code>
      <a href="/docs/apis/graphql/schemas/pipeline" title="OBJECT Pipeline">  Pipeline</a>
      
    </h3>
    
    <p>The pipeline associated with this team member</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>team</code>
      <a href="/docs/apis/graphql/schemas/team" title="OBJECT Team">  Team</a>
      
    </h3>
    
    <p>The team associated with this team member</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>uuid</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    <p>The public UUID for this team member</p>
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a href="/docs/apis/graphql/schemas/node" title="INTERFACE Node">  Node</a>





