<h1>
  <code>TOTP</code>
  <small>OBJECT</small>
</h1>

A TOTP configuration

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>id</code>
      <a href="/docs/apis/graphql/schemas/id" title="SCALAR ID">  ID</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>recoveryCodes</code>
      <a href="/docs/apis/graphql/schemas/recoverycodebatch" title="OBJECT RecoveryCodeBatch">  RecoveryCodeBatch</a>
      
    </h3>
    
    <p>The recovery code batch associated with this TOTP configuration</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>verified</code>
      <a href="/docs/apis/graphql/schemas/boolean" title="SCALAR Boolean">  Boolean</a>
      
    </h3>
    
    <p>Whether the TOTP configuration has been verified yet</p>
    
  </td>
</tr>

  </tbody>
</table>









