<h1>
  <code>UnregisteredUser</code>
  <small>OBJECT</small>
</h1>

A person who hasn’t signed up to Buildkite

{:toc}

<h2>Fields</h2>
<table class="responsive-table">
  <tbody>
    <tr>
  <td>
    <h3>
      <code>avatar</code>
      <a href="/docs/apis/graphql/schemas/avatar" title="OBJECT Avatar">  Avatar</a>
      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>email</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The email for the user</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3>
      <code>name</code>
      <a href="/docs/apis/graphql/schemas/string" title="SCALAR String">  String</a>
      
    </h3>
    
    <p>The name of the user</p>
    
  </td>
</tr>

  </tbody>
</table>









