<h1 class="has-pills">
  <code>User</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

A user

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>avatar</code>
      <a
  href="/docs/apis/graphql/schemas/avatar"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Avatar"><code>Avatar</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>bot</code>
      <a
  href="/docs/apis/graphql/schemas/boolean"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Boolean"><code>Boolean</code></a>

      
    </h3>
    
    <p>If this user account is an official bot managed by Buildkite</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>builds</code>
      <a
  href="/docs/apis/graphql/schemas/buildconnection"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT BuildConnection"><code>BuildConnection</code></a>

      
    </h3>
    
    <p>Returns builds that this user has created.</p>
    <details>
  <summary>Arguments</summary>
  <table class="responsive-table">
    <tbody>
      <tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>first</code>
      <a
  href="/docs/apis/graphql/schemas/int"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Int"><code>Int</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    
    
  </td>
</tr>
<tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>last</code>
      <a
  href="/docs/apis/graphql/schemas/int"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Int"><code>Int</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    
    
  </td>
</tr>
<tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>state</code>
      <a
  href="/docs/apis/graphql/schemas/buildstates"
  class="pill pill--enum pill--normal-case pill--medium"
  title="Go to ENUM BuildStates"><code>BuildStates</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    
    
  </td>
</tr>
<tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>branch</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    
    
  </td>
</tr>
<tr>
  <td>
    <h4 class="is-small has-pills no-margin">
      <code>metaData</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      <span class="pill pill--required pill--normal-case"><code>required</code></span>
    </h4>
    
    
  </td>
</tr>

    </tbody>
  </table>
</details>

  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>email</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    <p>The primary email for the user</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>hasPassword</code>
      <a
  href="/docs/apis/graphql/schemas/boolean"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR Boolean"><code>Boolean</code></a>

      
    </h3>
    
    <p>Does the user have a password set</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>id</code>
      <a
  href="/docs/apis/graphql/schemas/id"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR ID"><code>ID</code></a>

      
    </h3>
    
    
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>name</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    <p>The name of the user</p>
    
  </td>
</tr>
<tr>
  <td>
    <h3 class="is-small has-pills">
      <code>uuid</code>
      <a
  href="/docs/apis/graphql/schemas/string"
  class="pill pill--scalar pill--normal-case pill--medium"
  title="Go to SCALAR String"><code>String</code></a>

      
    </h3>
    
    <p>The public UUID of the user</p>
    
  </td>
</tr>

  </tbody>
</table>




<h2>Interfaces</h2>
<a
  href="/docs/apis/graphql/schemas/node"
  class="pill pill--interface pill--normal-case pill--large"
  title="Go to INTERFACE Node"><code>Node</code></a>






