<h1 class="has-pills">
  <code>UserSelector</code>
  <span class="pill pill--scalar pill--normal-case pill--large"><code>SCALAR</code></span>

</h1>

A User identifier using a UUID, and optionally negated with a leading `!`

{:notoc}










