<h1 class="has-pills">
  <code>ViewerPermissions</code>
  <span class="pill pill--object pill--normal-case pill--large"><code>OBJECT</code></span>

</h1>

Permissions information about what actions the current user can do

{:notoc}

<table class="responsive-table responsive-table--single-column-rows">
  <thead>
    <th>
      <h2>Fields</h2>
    </th>
  </thead>
  <tbody>
    <tr>
  <td>
    <h3 class="is-small has-pills">
      <code>totpConfigure</code>
      <a
  href="/docs/apis/graphql/schemas/permission"
  class="pill pill--object pill--normal-case pill--medium"
  title="Go to OBJECT Permission"><code>Permission</code></a>

      
    </h3>
    
    <p>Whether the viewer can configure two-factor authentication</p>
    
  </td>
</tr>

  </tbody>
</table>









