.Products {
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.Products__row {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: $gutter / -2;
  margin-right: $gutter / -2;

  @media (min-width: $screen-sm) {
    flex-direction: row;
  }

  @media (min-width: $screen-md) {
    margin-left: 0;
    margin-right: 0;
  }
}

.Products__link {
  text-decoration: none;
}

.ProductCard {
  background-color: $base-0;
  border-radius: $rounded;
  box-shadow: $box-shadow-depth-100;
  display: flex;
  flex-direction: column;
  gap: $gutter / 2;
  padding: $gutter / 2;
  transition: box-shadow $transition-speed;

  @media (min-width: $screen-xs) {
    flex-direction: row;
  }

  a:hover & {
    box-shadow: $box-shadow-depth-100-hover;
  }
}

.ProductCard__title {
  @include heading(map-get($font-size-aliases, "heading-4"), 0, 0.25rem);
  margin-block: 0.125rem;
}

.ProductCard__summary {
  color: map-get($color-aliases, "text-lightest");
  font-size: map-get($font-size-aliases, "sm");
}

.ProductCard__img {
  @media (min-width: $screen-xs) {
    height: 50px;
  }
}

.ProductBadge {
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 1px 0px 0px rgba(0, 0, 0, 0.09),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 3px 3px 0px rgba(0, 0, 0, 0.02),
    0px 4px 4px 0px rgba(0, 0, 0, 0.01);
  padding-right: 12px;
  background: #fff;
  font-size: 15px;
  color: #28243f;
  font-weight: 600;
  margin-bottom: 16px;
  svg {
    width: 24px;
    height: 24px;
    padding: 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 12px;
  }
}
