# Importing JSON

<div class="Docs__wip-note">
<p class="Docs__wip-heading">Test Analytics is an invite-only beta feature. Join the <a href="https://buildkite.com/test-analytics">waitlist</a>.</p>
</div>

{:toc}

The beta release ships with [RSpec collector](/docs/test-analytics/ruby-collectors#rspec-collector). However, you you can also upload test results by importing JSON or [JUnit XML](/docs/test-analytics/importing-junit-xml).

## How to import JSON

The Test Analytics JSON API accepts all of the same information that test framework integrations do, allowing you to display, analyze, and explore more detailed information than the generic JUnit XML reports.

To import JSON formatted test result data, make a POST request to `https://analytics-api.buildkite.com/v1/uploads`, with metadata and JSON in the request body.

Test Analytics uses the variables in the `run_env` attribute to populate test information:

* if you're making the request in a Buildkite pipeline, you can use the Buildkite environment variables to set the metadata automatically, like in the following example:
* if you're making the request elsewhere, [set the environment variables](#environment-variables) yourself

Test Analytics uses the variables in the `run_env` attribute to populate test information. The only *required* variable is `key`, but other Test Analytics features such as linking back to the originating build, do require the [other variables](#environment-variables) to work.

Securely [add the Test Analytics token environment variable](/docs/pipelines/secrets) `TEST_ANALYTICS_TOKEN`) to your environment, so that it's available to the curl command:

```sh
curl --request POST \
  --url https://analytics-api.buildkite.com/v1/uploads \
  --header 'Authorization: Token token="'$TEST_ANALYTICS_TOKEN'";' \
  --header 'Content-Type: application/json' \
  --data @- << EOF
    {
    "format": "json",
    "run_env": {
      "CI": "buildkite",
      "key": "$BUILDKITE_BUILD_ID",
      "number": "$BUILDKITE_BUILD_NUMBER",
      "job_id": "$BUILDKITE_JOB_ID",
      "branch": "$BUILDKITE_BRANCH",
      "commit_sha": "$BUILDKITE_COMMIT",
      "message": "$BUILDKITE_MESSAGE",
      "url": "$BUILDKITE_BUILD_URL"
    },
    "data": [
              <put JSON format results here>
          ]
    }
```

Read [Test data reference](#test-data-reference) for a description of the `data` array schema.

Test Analytics parses the JSON and imports all valid test cases for ingestion and valuation. The response to a successful request is `202 Accepted` with the newly created `id` (Run ID), and totals for the number of `queued` and `skipped` test cases contained in the uploaded data.

```json
{
  "id": "eac9b176-7869-464d-952e-7f87e2579128",
  "queued": 3,
  "skipped": 0
}
```

Note that when a payload is processed, Buildkite validates and queues each test execution result in a loop. For that reason, it is possible for some to be queued and others to be skipped. Even when some or all test executions get skipped, REST API will respond with a `202 Accepted` because the upload and the run were created in the database, but the skipped test execution results were not ingested.

Currently, the errors returned contain no information on individual records that failed the validation. This may make complicate the process of fixing and retrying the request.

## Test data reference

The endpoint's `data` array is made up of one or more _test result_ objects.
The objects contain the overall result and metadata about the test.
It also contains _history_ object, which is a summary of the duration of the test run.
Within the history object, detailed _span_ objects record the highest resolution details of the test run.

- [Test result](#test-result-objects)
   - [History](#history-objects)
      - [Spans](#span-objects)

### Test result objects

A test result represents a single test run.

<!--

key;required;type;description;example
id;true;UUIDv4 string;a unique identifier for this test result;1b70486f-ca5f-4e6d-beb8-6347b2e49278
scope;;string;a group or topic for the test;Student.isEnrolled()
name;;string;a name or description for the test;Manager.isEnrolled() returns_boolean
identifier;;string;a unique identifier for the test. If your test runner supports it, use the identifier needed to rerun this test;Manager.isEnrolled#returns_boolean
location;;string;the file and line number where the test originates, separated by a colon (:);./tests/Manager/isEnrolled.js:32
file_name;;string;the file where the test orginates;./tests/Manager/isEnrolled.js
result;;string "passed", "failed", "skipped", or "unknown";the outcome of the test;"failed"
failure_reason;;string;if applicable, a short summary of why the test failed;Expected Boolean, got Object
history;true;history object;See [History objects];

-->

| Key                  | Type                                                        | Description                                                                                                     | Example                                |
| -------------------- | ----------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------- | -------------------------------------- |
| `id` (required)      | UUIDv4 string                                               | a unique identifier for this test result                                                                        | `1b70486f-ca5f-4e6d-beb8-6347b2e49278` |
| `scope`              | string                                                      | a group or topic for the test                                                                                   | `Student.isEnrolled()`                 |
| `name`               | string                                                      | a name or description for the test                                                                              | `Manager.isEnrolled() returns_boolean` |
| `identifier`         | string                                                      | a unique identifier for the test. If your test runner supports it, use the identifier needed to rerun this test | `Manager.isEnrolled#returns_boolean`   |
| `location`           | string                                                      | the file and line number where the test originates, separated by a colon (`:`)                                  | `./tests/Manager/isEnrolled.js:32`     |
| `file_name`          | string                                                      | the file where the test orginates                                                                               | `./tests/Manager/isEnrolled.js`        |
| `result`             | strings `"passed"`, `"failed"`, `"skipped"`, or `"unknown"` | the outcome of the test                                                                                         | `failed`                               |
| `failure_reason`     | string                                                      | if applicable, a short summary of why the test failed                                                           | `Expected Boolean, got Object`         |
| `history` (required) | history object                                              | See [History objects](#history-objects)                                                                                                                  |

**Example:**

```js
{
  "id": "95f7e024-9e0a-450f-bc64-9edb62d43fa9",
  "scope": "Analytics::Upload associations",
  "name": "fails",
  "identifier": "./spec/models/analytics/upload_spec.rb[1:1:3]",
  "location": "./spec/models/analytics/upload_spec.rb:24",
  "file_name": "./spec/models/analytics/upload_spec.rb",
  "result": "failed",
  "failure_reason": "Failure/Error: expect(true).to eq false",
  "history": {
    /* history object */
  }
}
```

### History objects

A history object represents the overall duration of the test run and contains detailed span data, more finely recording the test run.

<!--
Key;Required;Type;Description;Example
start_at;;number;TK
end_at;;number;TK
duration;true;number;how long the test took to run;7.07654
children;;array of span objects;See [Span objects](#tk)
-->

| Key                   | Type                  | Description                       | Example |
| --------------------- | --------------------- | --------------------------------- | ------- |
| `start_at`            | number                | TK                                |         |
| `end_at`              | number                | TK                                |         |
| `duration` (required) | number                | how long the test took to run     | 7.07654 |
| `children`            | array of span objects | See [Span objects](#span-objects) |         |

**Example:**

```js
{
  "start_at": 347611.724809,
  "end_at": 347612.451041,
  "duration": 0.726232000044547,
  "children": [
    /* span objects */
  ]
}
```

### Span objects

Span objects represent the finest duration resolution of a test run.
It represents, for example, the duration of an individual database query within a test.

<!--
key;required;type;description;example
section;true;string "http", "sql", "sleep", or "annotation"
start_at;;number
end_at;;number
duration;;number;how long the test took to run
-->

| key                | type                                                   | description                   | example |
| ------------------ | ------------------------------------------------------ | ----------------------------- | ------- |
| section (required) | string `"http"`, `"sql"`, `"sleep"`, or `"annotation"` | TK                            |         |
| start_at           | number                                                 | TK                            |         |
| end_at             | number                                                 | TK                            |         |
| duration           | number                                                 | how long the test took to run |         |

**Example:**

```js
{
  "section": "sql",
  "start_at": 347611.734956,
  "end_at": 347611.735647,
  "duration": 0.0006910000229254365,
  "detail": {
    "query": "SET client_min_messages TO 'warning' /*line:/Users/roselu/Documents/rspec-buildkite-analytics/lib/rspec/buildkite/analytics/uploader.rb:153:in `block (2 levels) in configure'*/"
  }
}
```

## Environment variables

Test Analytics uses environment variables to populate test information. In the most common case, [RSpec collector](/docs/test-analytics/ruby-collectors#rspec-collector) is used and, regardless of the CI provider you use to run your builds, you'd need to make sure that environment variables are available to RSpec or import API. You'd also need to make sure that the environment variables are passed through to a container if your builds are running in containers.

But if you're using such tools as the JSON importers or [JUnit](/docs/test-analytics/importing-junit-xml), you need to configure the variables in `run_env` yourself.

The only required variable is `key`, but some features of Test Analytics aren't available if the other variables are not set:

| Variable     | Description                                                    |
|--------------|----------------------------------------------------------------|
| `key`        | a unique key for the build that initiated the Test Analytics run |
| `url`        | URL that links to the build                                    |
| `branch`     | the branch or reference that this run is for                         |
| `commit_sha` | the commit SHA for the head of the branch                      |
| `number`     | the build number of the build                                  |
| `job_id`     | the id of a job within the build                               |
| `message`    | the commit message for the head of the branch                  |
