# Your Own Collectors

<div class="Docs__wip-note">
  <p class="Docs__wip-heading">Test Analytics is an invite-only beta feature. Join the <a href="https://buildkite.com/test-analytics">waitlist</a>.</p>
</div>

<!-- {:toc} intentionally omitted -->

Test Analytics integrates directly with your test runner to provide in-depth information about your tests (including spans) in real time.

The beta release ships with [RSpec](/docs/test-analytics/ruby-collectors#rspec-collector) collector. You you can also upload test results by importing [JSON](/docs/test-analytics/importing-json) or [JUnit XML](/docs/test-analytics/importing-junit-xml).

If you're interested in building your own fully integrated analytics collector for specific test runners, have a look at our [example collector](https://github.com/buildkite/rspec-buildkite-analytics) on GitHub.
