.Link {
  transition-duration: 100ms;
  transition-property: opacity, color, border, border-color;
}

.Link--no-underline {
  @extend .Link;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: map-get($color-aliases, "text-link");
  }
}

.Link--on-white {
  @extend .Link;
  color: rgba(black, $text-on-dark-subdued-opacity);
  &:hover,
  &:active,
  &:focus {
    color: map-get($color-aliases, "text-link");
  }
}

.Link--faded-on-white {
  @extend .Link--on-white;
  color: rgba(black, $text-on-dark-very-subdued-opacity);
}

.Link--on-dark {
  @extend .Link;
  color: rgba($base-0, $text-on-dark-subdued-opacity);
  &:hover,
  &:active,
  &:focus {
    color: $base-0;
  }
}

.Link--green-on-dark {
  @extend .Link--on-dark;
  color: rgba(#d5e44e, 0.75);
  &:hover,
  &:active,
  &:focus {
    color: rgba(#d5e44e, 1);
  }
}

.Link--faded-green-on-dark {
  @extend .Link--green-on-dark;
  color: rgba(#d5e44e, 0.55);
  &:hover,
  &:active,
  &:focus {
    color: rgba(#d5e44e, 0.85);
  }
}

.Link--faded-on-dark {
  @extend .Link--on-dark;
  color: rgba($base-0, $text-on-dark-very-subdued-opacity);
}

.Link--bold-on-dark {
  @extend .Link--no-underline;
  @extend .Link--on-dark;
  font-weight: 700;
  color: $base-0;
}

.Link--bold-automatic {
  @extend .Link--no-underline;
  font-weight: 700;
  color: inherit;

  &:hover,
  &:active,
  &:focus {
    color: #14cc80;
  }
}

.Link--no-underline.Link--on-dark,
.Link--no-underline.Link--green-on-dark,
.Link--no-underline.Link--on-dark.Link--bold-on-dark,
.Link--no-underline.Link--outline {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.Link--outline {
  @extend .Link;
  text-decoration: none;
  border: 1px solid currentColor;
  border-radius: 5px;
  padding: 0.4em 0.9em 0.45em 0.9em;
  white-space: nowrap;
}

.Link--solid-on-dark {
  @extend .Link--outline;
  background-color: rgba($base-0, 0.93);
  color: map-get($color-aliases, "brand");
  border: none;
  font-weight: 400;

  &:hover,
  &:active,
  &:focus {
    background-color: $base-0;
  }
}

.Link--on-dark.Link--outline {
  @extend .Link;
  border-color: rgba($base-0, 0.4);
  &:hover,
  &:active,
  &:focus {
    border-color: rgba($base-0, 0.6);
  }
}

.Link--inline-block {
  display: inline-block;
}
