.responsive-image-container {
  max-width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;

  // FIXME: spacing should be handled by the parent element
  margin: 0.5rem 0 2rem 0;

  img {
    height: auto;
    max-width: 100%;
  }
}
