/*
* Legal Disclaimer
*
* These Fonts are licensed only for use on these domains and their subdomains:
* www.buildkite.com
*
* It is illegal to download or use them on other websites.
*
* While the @font-face statements below may be modified by the client, this
* disclaimer may not be removed.
*
* Lineto.com, 2017
*/

@font-face {
  font-family: Aeonik;
  src: asset-url('fonts/Aeonik-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: asset-url('fonts/MaisonNeue-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: asset-url('fonts/MaisonNeueWEB-BookItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: asset-url('fonts/MaisonNeueWEB-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: asset-url('fonts/MaisonNeueWEB-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: oblique;
  font-display: swap;
}
