/*
* Legal Disclaimer
*
* These Fonts are licensed only for use on these domains and their subdomains:
* www.buildkite.com
*
* It is illegal to download or use them on other websites.
*
* While the @font-face statements below may be modified by the client, this
* disclaimer may not be removed.
*
* Lineto.com, 2017
*/

@font-face {
  font-family: Aeonik;
  src: url("https://www2.buildkiteassets.com/assets/aeonik/Aeonik-Bold-78fff47500f27f2f0d8d777c9d431a87036e566af7577a58ccc0776b4eb4b994.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("https://www2.buildkiteassets.com/assets/maison-neue/MaisonNeueWEB-Book-e597278911055949a05fe1001e37bd61905409344995f03a0fa8a13f442be31b.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("https://www2.buildkiteassets.com/assets/maison-neue/MaisonNeueWEB-Medium-9884c2338b4896f2fd56d7a93ee2150c2855644550ee60a9a9ff2137b6d3b507.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
