html {
  background: $base-0;
  color: map-get($color-aliases, "text-base");
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: map-get($line-heights, "default");
}

.system-font {
  font-family: $font-family-system;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  @include heading(3, $line-height: "tightest");
}

h2 {
  @include heading(2);
}

h3 {
  @include heading(1.5);
}

h4 {
  @include heading(1.1875);
}

h5 {
  @include heading(1);
}

h6 {
  @include heading(0.875);
}
