/**
 * Creates a container element with a specified maximum width, centered horizontally on the page.
 * Set to false or null, `max-width` will not be applied and this becomes a fluid container.
 *
 * @param {string} [$max-width="container"] - The maximum width of the container
 *                                            Allowed values: "outer-container", "container", "inner-container", "prose", "search"
 *                                            Defaults to "container" 
 *
 */
@mixin container($max-width: "container") {
  @if $max-width {
    max-width: map-get($max-w, $max-width);
  }

  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}
