# Installing Buildkite Agent on Debian

The Buildkite Agent can be installed on Debian versions 7.x and above using our signed apt repository.

{:toc}

## Installation

Firstly, ensure your list of packages is up to date:

```shell
sudo apt-get update
```

<div class="Docs__note">
<p>Debian doesn't always have <code>sudo</code> available, so you can run these commands as root and omit the <code>sudo</code>, or install the sudo package as root first.</p>
</div>

Next, ensure you have the `apt-transport-https` package installed for the HTTPS package repository, and the `dirmngr` package installed for adding the signing key:

```shell
sudo apt-get install -y apt-transport-https dirmngr
```

Now you can add our signed apt repository. The default version of the agent is `stable`, but you can get the beta version by using `unstable` instead of `stable` in the following command, or the agent built from the `main` branch of the repository by using `experimental` instead of `stable`.

```shell
sudo apt-key adv --keyserver ipv4.pool.sks-keyservers.net --recv-keys 32A37959C2FA5C3C99EFBC32A79206696452D198
echo "deb https://apt.buildkite.com/buildkite-agent stable main" | sudo tee /etc/apt/sources.list.d/buildkite-agent.list
```

Then install the agent:

```shell
sudo apt-get update && sudo apt-get install -y buildkite-agent
```

Configure your [agent token](/docs/agent/v3/tokens):

```shell
sudo sed -i "s/xxx/INSERT-YOUR-AGENT-TOKEN-HERE/g" /etc/buildkite-agent/buildkite-agent.cfg
```

And then start the agent:

```shell
# For Debian 8.x and above (systemd)
sudo systemctl enable buildkite-agent && sudo systemctl start buildkite-agent

# For Debian 7.x (using upstart)
sudo service buildkite-agent start

# For Debian 7.x (using sysvinit)
sudo /etc/init.d/buildkite-agent start
```

You can view the logs at:

```shell
# For Debian 8.x and above (systemd)
sudo journalctl -f -u buildkite-agent

# For Debian 7.x (using upstart)
sudo tail -f /var/log/upstart/buildkite-agent.log

# For Debian 7.x (using sysvinit)
sudo tail -f /var/log/buildkite-agent.log
```

## SSH Key Configuration

<%= render_markdown partial: 'agent/v3/ssh_key_with_buildkite_agent_user' %>

See the [Agent SSH Keys](/docs/agent/v3/ssh-keys) documentation for more details.

## File Locations

<%= render_markdown partial: 'agent/v3/apt_locations' %>

## Configuration

<%= render_markdown partial: 'agent/v3/apt_configuration' %>

## Running multiple agents

You can run as many parallel agents on the one machine as you wish by duplicating the systemd/upstart service configuration file, for example:

### For Debian 8.x and above (systemd)

```shell
# Disable the default unit
sudo systemctl stop buildkite-agent && sudo systemctl disable buildkite-agent

# Create a systemd template
sudo cp /lib/systemd/system/buildkite-agent.service /etc/systemd/system/buildkite-agent@.service

# Now, as many times as you like
sudo systemctl enable buildkite-agent@1 && sudo systemctl start buildkite-agent@1
sudo systemctl enable buildkite-agent@2 && sudo systemctl start buildkite-agent@2

# Follow them all
sudo journalctl -f -u "buildkite-agent@*"

# Or one-by-one
sudo journalctl -f -u buildkite-agent@2
```

### For Debian 7.x (using upstart)

```shell
sudo cp /etc/init/buildkite-agent.conf /etc/init/buildkite-agent-2.conf
sudo service buildkite-agent-2 start
sudo tail -f /var/log/upstart/buildkite-agent-2.log
```

## Upgrading

<%= render_markdown partial: 'agent/v3/apt_upgrading' %>
