# Agent Webhook Events

{:toc}

## Events

<table>
<tbody>
  <tr>
    <th><code>agent.connected</code></th>
    <td>An agent has connected to the API</td>
  </tr>
  <tr>
    <th><code>agent.lost</code></th>
    <td>An agent has been marked as lost. This happens when Buildkite stops receiving heartbeats from the agent.</td>
  </tr>
  <tr>
    <th><code>agent.disconnected</code></th>
    <td>An agent has disconnected. This happens when the agent disconnects from the API.</td>
  </tr>
  <tr>
    <th><code>agent.stopping</code></th>
    <td>An agent is stopping. This happens when an agent is instructed to stop from the API. It first transitions to stopping and finishes any current jobs.</td>
  </tr>
  <tr>
    <th><code>agent.stopped</code></th>
    <td>An agent has stopped. This happens when an agent is instructed to stop from the API. It can be grafeul or forceful.</td>
  </tr>
</tbody>
</table>

## Request body data

<table>
<tbody>
  <tr><th><code>agent</code></th><td>The <a href="/docs/api/agents">Agent</a> this notification relates to</td></tr>
  <tr><th><code>sender</code></th><td>The user who created the webhook</td></tr>
</tbody>
</table>

Example request body:

```json
{
  "event": "agent.connected",
  "agent": {
    "...": "..."
  },
  "sender": {
    "id": "8a7693f8-dbae-4783-9137-84090fce9045",
    "name": "Some Person"
  }
}
```
