# Webhook Integrations

There are a number of third party services you can use with Buildkite webhooks. Some services (such as RequestBin and Zapier) are designed specifically with webhooks in mind, and others (such as AWS Lambda, Google Cloud Functions, IronWorker and Webtask) are general purpose programming platforms which can be triggered with webhook HTTP requests.

<%= toc %>

## AWS Lambda

[AWS Lambda](https://aws.amazon.com/lambda/) is an AWS service for running code functions in response to events. [AWS API Gateway](https://aws.amazon.com/api-gateway/) is a service for creating HTTP endpoints for your Lambda functions, and [AWS SNS](https://aws.amazon.com/sns/) is a messaging service which can be used to trigger many Lambda functions from webhook events. These three services can be combined in a variety of ways to consume webhooks.

There are many ways to integrate webhooks with Lambda. The following example repos show two of ways to use Lambda to process SNS messages:

* Rivet's [buildkite-webhook-aws-terraform](https://github.com/rivethealth/buildkite-webhook-aws-terraform) uses API Gateway to publish Buildkite webhook events to SNS
* Rivet's [buildkite-bitbucket-aws-terraform](https://github.com/rivethealth/buildkite-bitbucket-aws-terraform) demonstrates a more complex setup, using SNS and webhooks to send build statuses to Atlassian Bitbucket Server

## Google Cloud Functions

[Google Cloud Functions](https://cloud.google.com/functions) are a Google Cloud service for hosted Javascript execution, and also supports exposing functions via URLs. See the [Calling Cloud Functions documentation](https://cloud.google.com/functions/calling) for how to expose them, and their [Hello World walkthrough](https://cloud.google.com/functions/walkthroughs) for getting started.

## IronWorker

[Iron.io’s IronWorker](http://www.iron.io/worker/) is a service for hosted code execution using Docker containers. You can follow their [webhook worker documentation and sample code](http://dev.iron.io/worker/webhooks/) for an example of how to create an endpoint to use with Buildkite webhooks.

## Zapier

[Zapier](https://zapier.com/) is a system for connecting APIs together, and has built in support for hundreds of services. For example, you could use Zapier to send an email when a build has finished, save a build artifact into a Dropbox folder, or post to a Slack room substituting values such as the build URL and number into the message body.

To use Buildkite webhooks with Zapier create a new Zap and select Webhook.

## Webtask

[Webtask](https://webtask.io/) makes it easy to write Node.js powered backend code without having to run a server, and it supports cron (scheduled runs) and secure token storage (for things like API keys). You can use our LIFX webtask example to get started with processing webhooks using Webtask:

<a class="Docs__example-repo" href="https://github.com/buildkite/lifx-buildkite-build-light-webtask">:node: Webtask.io webhook example application <span class="repo">github.com/buildkite/lifx-buildkite-build-light-webtask</span></a>
