# Access Tokens API

<%= toc %>

The Access Tokens API allows you to exchange a user’s credentials for an Access Token so you can make requests on behalf of a user. The user can revoke the access token at any time.

## Create an access token

Creates an access token for the given developer application.

You must use basic authentication with the user’s email address and password as the username and password.

```bash
curl -u "user@email.com" -X POST "https://api.buildkite.com/v2/access_tokens" \
  -d '{
    "client_id": "xxx",
    "scopes": [ "scope_1", "scope_2" ]
  }'
```

```json
{
  "access_token": "0ddfc167e58684744b778d4bebaadb47",
  "token_type": "Bearer"
}
```

Required [request body properties](/docs/api#request-body-properties):

<table>
<tbody>
  <tr><th><code>client_id</code></th><td>The client id of the developer application.<br><em>Example:</em> <code>"8e3b80fa18348abe61dd"</code></td></tr>
</tbody>
</table>

Optional [request body properties](/docs/api#request-body-properties):

<table>
<tbody>
  <tr><th><code>scopes</code></th><td>An array of scopes that define the permissions for this token.<br><em>Example:</em> <code>["read_builds","write_builds"]</code></td></tr>
</tbody>
</table>
