<div class="grid-row">
  <div class="homepage-category">
    <h2>Getting Started</h2>
    <span>For when you're new to Buildkite</span>
    <ul>
      <li><%= link_to "Getting Started Guide", "/docs/tutorials/getting-started" %></li>
      <li><%= link_to "Running Builds in Docker Containers", "/docs/tutorials/docker-containerized-builds" %></li>
      <li><%= link_to "Autoscaling builds on Elastic CI stack for AWS", "/docs/tutorials/elastic-ci-stack-aws" %></li>
    </ul>
  </div>

  <%
=begin%>
 TODO: Add other categories once we're comfortable with markup 
<%
=end%>

  <div class="homepage-category">
    <h2>Getting Started</h2>
    <span>For when you're new to Buildkite</span>
    <ul>
    <li><a href="#">Getting started tutorial</a></li>
    <li><a href="#">Running builds in Docker containers</a></li>
    <li><a href="#">Autoscaling builds on Elastic CI stack for AWS</a></li>
    </ul>
  </div>
  <div class="homepage-category">
    <h2>Getting Started</h2>
    <span>For when you're new to Buildkite</span>
    <ul>
    <li><a href="#">Getting started tutorial</a></li>
    <li><a href="#">Running builds in Docker containers</a></li>
    <li><a href="#">Autoscaling builds on Elastic CI stack for AWS</a></li>
    </ul>
  </div>
    <div class="homepage-category">
    <h2>Getting Started</h2>
    <span>For when you're new to Buildkite</span>
    <ul>
    <li><a href="#">Getting started tutorial</a></li>
    <li><a href="#">Running builds in Docker containers</a></li>
    <li><a href="#">Autoscaling builds on Elastic CI stack for AWS</a></li>
    </ul>
  </div>
  <div class="homepage-category">
    <h2>Getting Started</h2>
    <span>For when you're new to Buildkite</span>
    <ul>
    <li><a href="#">Getting started tutorial</a></li>
    <li><a href="#">Running builds in Docker containers</a></li>
    <li><a href="#">Autoscaling builds on Elastic CI stack for AWS</a></li>
    </ul>
  </div>
  <div class="homepage-category">
    <h2>Getting Started</h2>
    <span>For when you're new to Buildkite</span>
    <ul>
    <li><a href="#">Getting started tutorial</a></li>
    <li><a href="#">Running builds in Docker containers</a></li>
    <li><a href="#">Autoscaling builds on Elastic CI stack for AWS</a></li>
    </ul>
  </div>
</div>