$_pills: (
  beta: (
    background-color: rgba(255, 165, 0, .2),
    border-color: rgba(255, 165, 0, .2),
    color: rgb(255, 165, 0),
    content: "Beta"
  )
);

@mixin pill($type, $size: medium) {
  $_styles: map-get($_pills, $type);
  background: map-get($_styles, background-color);
  border-radius: 20px;
  border: 1px solid map-get($_styles, background-color);
  color: map-get($_styles, color);
  content: map-get($_styles, content);
  font-weight: 700;
  letter-spacing: 0.025rem;
  line-height: 1;
  position: relative;
  right: -8px;
  text-transform: uppercase;
  top: -3px;
  @if $size == small {
    font-size: 8px;
    padding: 3px 5px;
  } @else {
    font-size: 11px;
    padding: 3px 7px;
  }
}

@each $type, $styles in $_pills {
  .pill--#{$type} {
    @include pill($type);
  }

  .has-pill-#{$type} {
    &::after {
      @include pill($type, small);
    }
  }
}
