@mixin margin($margin: 1) {
  margin-bottom: #{$margin}rem;
  margin-top: #{$margin}rem;

  &:first-child {
    margin-top: 0;
  }
}

@mixin body {
  color: $text-body;
  font-size: 1.1875rem;
  line-height: 1.618;
  @include margin;
}

@mixin heading($size-multiplier, $margin: 1) {
  clear: both;
  color: $text-display;
  font-family: $font-family-display;
  font-size: #{$size-multiplier}rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.35;

  @include margin($margin);
}

.TextContent {
  @include body;
  
  h1 {
    @include heading(3);
  }

  h2 {
    @include heading(2);
  }

  h3 {
    @include heading(1.5)
  }

  h4 {
    @include heading(1.1875)
  }

  h5 {
    @include heading(1)
  }

  h6 {
    @include heading(.875)
  }

  p {
    @include body;
  }

  blockquote,
  pre,
  table { 
    margin: 1rem 0; 
  }

  li {
    margin-bottom: .5em;
    margin-top: .5em;
  }

  ol {
    list-style: decimal;
    padding-left: 30px;

    ol {
      list-style: lower-alpha;

      ol {
        list-style: lower-roman;

        ol {
          list-style: decimal;
      
          ol {
            list-style: lower-alpha;
      
            ol {
              list-style: lower-roman;
            }
          }
        }
      }
    }
  }

  ul {
    list-style: disc;
    padding-left: 30px;

    ul {
      list-style: circle;

      ul {
        list-style: square;

        ul {
          list-style: disc;
      
          ul {
            list-style: circle;
      
            ul {
              list-style: square;
            }
          }
        }
      }
    }
  }

  .two-column-list {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: max-content;
    > li {
      margin: 0 1em 0 1em;
    }

    @media (max-width: 500px) {
      display: block;
      > li {
        margin: 0 0 0.5em 1em;
      }
    }
  }

  .three-column-list {
    @extend .two-column-list;
    grid-template-columns: repeat(3, 1fr);
  }

  a {
    color: $text-link;
  }
  code { font-family: "SFMono-Regular", Monaco, Menlo, Consolas, "Liberation Mono", Courier, monospace; }
  pre code {
    font-size: #{(16/18)}em;
    line-height: 1.5;
  }
  em { font-style: italic; }
  strong { font-weight: 600; }
  pre {
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #ddd;
    padding: .8em 1em;
    border-radius: 5px;
    font-size: #{(15/18)}rem;
    line-height: 1.5;
    min-width: 0;
    white-space: pre-wrap;
    &.overflow-scroll {
      overflow: auto;
      word-break: normal;
      word-wrap: normal;
    }
  }
  iframe {
    border: 1px solid #ddd;
  }
  li, p, dt, td, th, a {
    > code {
      font-size: #{(16/18)}em;
    }
  }
  table {
    font-size: #{(16/18)}rem;
    word-wrap: break-word;
  }
  table, tbody, tr, th, td { color: currentColor; }
  tr { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
  th code, td code { border: none; }
  
  th,
  td {
    padding: .5rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  th { font-weight: inherit; color: currentColor; text-align: left; font-weight: 700; }
  th code { font-weight: normal; }
  table.two-column {
    td {
      border: none;
    }

    th:first-of-type,
    td:first-of-type {
      border-right: 1px solid #ddd;
    }
  }

  table.no-formatting {
    th,
    td {
      border: none;
    }
  }

  table.table--no-wrap {
    th,
    td {
      white-space: nowrap;
      &:last-child {
        white-space: initial;
      }
    }
  }

  blockquote { padding-left: 1em; border-left: 5px solid #8E8E8E; }

  .no-margin-top { margin-top: 0; }
  .no-margin-bottom { margin-top: 0; }

  img,
  svg {
    border: 1px solid #eee;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
  }

  details {
    background-color: #f8f8f8;
    display: inline-block;
    padding: 10px 15px;

    &[open] {
      display: block;
    }

    summary {
      cursor: pointer;

      + table {
        margin-top: 0;

        tbody {
          tr:first-child {
            border-top: 0;
          }
        }
      }

      ~ table {
        &:last-child {
          margin-bottom: 0;
        }

        tbody {
          tr:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }

  .is-small {
    font-size: .8888rem;
  }

  /* Some styles from Bass that our Markdown render outputs */
  .rounded { border-radius: 3px; }
  .dark-gray { color: #767676; }
  .border { border: 1px solid; }
  .border-gray { border-color: #ddd; }

  .highlight-figure {
    figcaption {
      border: 1px solid #ddd;
      padding: .8em 1em;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: none;
      font-size: 14px;
      color: #767676;
    }
    pre {
      margin-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
