<section>
  <%= render partial: "application/heading_group", locals: {
    title: "Advanced guides",
    content: "Explore the building blocks you can use to optimize your CI/CD workflows for your use case."
  } %>
  <%= render partial: "application/cards_grid", locals: {
    items: [
      {
        title: "Connect source control",
        to: "/docs/pipelines/source-control",
        icon: "pipelines/icon_pipelines_source_control.svg",
        links: [
          {
            text: "GitHub",
            to: "/docs/pipelines/source-control/github"
          },
          {
            text: "GitHub Enterprise",
            to: "/docs/pipelines/source-control/github-enterprise"
          },
          {
            text: "GitLab",
            to: "/docs/pipelines/source-control/gitlab"
          },
          {
            text: "Bitbucket",
            to: "/docs/pipelines/source-control/bitbucket"
          },
          {
            text: "Bitbucket Server",
            to: "/docs/pipelines/source-control/bitbucket-server"
          },
          {
            text: "View all",
            to: "/docs/pipelines/source-control"
          }
        ]
      },
      {
        title: "Migration guides",
        to: "/docs/pipelines/migration-overview",
        icon: "pipelines/icon_pipelines_migration.svg",
        links: [
          {
            text: "Overview",
            to: "/docs/pipelines/migration"
          },
          {
            text: "From Jenkins",
            to: "/docs/pipelines/migration/from-jenkins"
          },
          {
            text: "From Bamboo",
            to: "/docs/pipelines/migration/from-bamboo"
          }
        ]
      },
      {
        title: "Tutorials",
        to: "/docs/pipelines/tutorials/docker-containerized-builds",
        icon: "pipelines/icon_pipelines_tutorials.svg",
        links: [
          {
            text: "Docker-based builds",
            to: "/docs/pipelines/tutorials/docker-containerized-builds"
          },
          {
            text: "Parallelizing builds",
            to: "/docs/pipelines/tutorials/parallel-builds"
          },
          {
            text: "Dynamic pipelines and annotations using Bazel",
            to: "/docs/pipelines/tutorials/dynamic-pipelines-and-annotations-using-bazel"
          },
          {
            text: "Using GitHub merge queues",
            to: "/docs/pipelines/tutorials/github-merge-queue"
          },
          {
            text: "Two-factor authentication (2FA) (Buildkite Platform)",
            to: "/docs/platform/tutorials/2fa"
          }
        ]
      },
      {
        title: "API & references",
        to: "/docs/apis",
        icon: "pipelines/icon_pipelines_apis.svg",
        links: [
          {
            text: "REST",
            to: "/docs/apis/rest-api"
          },
          {
            text: "GraphQL",
            to: "/docs/apis/graphql-api"
          },
          {
            text: "MCP server",
            to: "/docs/apis/mcp-server"
          },
          {
            text: "Webhooks",
            to: "/docs/apis/webhooks/pipelines"
          },
          {
            text: "Pipelines glossary",
            to: "/docs/pipelines/glossary"
          }
        ]
      }
    ],
    heading_level: 3
  }%>
</section>
