<section>
  <%= render partial: "application/heading_group", locals: {
    title: "Core concepts",
    content: "Understanding these four fundamental building blocks to leverage Buildkite Pipelines' advantages"
  } %>
  <%= render partial: "application/cards_grid", locals: {
    items: [
      {
        title: "Hybrid architecture",
        content: "Scalable and secure hybrid model decoupling SaaS control plane from your sensitive data",
        to: "/docs/pipelines/architecture",
        icon: "pipelines/icon_pipelines_architecture.svg"
      },
      {
        title: "Pipeline steps",
        content: "Flexible configurations to create  extensible, re-usable and dynamic pipelines tailored to your workflow",
        to: "/docs/pipelines/overview",
        icon: "pipelines/icon_pipelines_steps.svg"
      },
      {
        title: "Agents",
        content: "Cross-platform runners that run automated builds on your own infrastructure",
        to: "/docs/agent/v3",
        icon: "pipelines/icon_pipelines_agents.svg"
      },
      {
        title: "Security",
        content: "Infrastructure that maintains tight control over security without compromising on scalability",
        to: "/docs/pipelines/security-overview",
        icon: "pipelines/icon_pipelines_security.svg"
      }
    ],
    heading_level: 3
  }%>
</section>
