<header class="Hero">
  <div class="Hero__content">
    <article class="Article">
      <h1>Pipelines</h1>
      <p>With Buildkite Pipelines, you can create fast, secure, and reliable CI/CD to unblock developers from shipping quality code. We provide the docs, building blocks, and extension points you'll need to build your dream CI/CD workflows. Let's get building. 🚀</p>
    </article>
    <div class="Hero__calls-to-action">
      <a href="tutorials/getting-started" class="Button Button--purple">
        Start with an example pipeline
      </a>
      <a href="/docs/pipelines/create-your-own" class="Button Button--default">
        Create your own pipeline
      </a>
    </div>
  </div>
  <img alt="Screenshot of Buildkite Pipelines dashboard" class="Hero__image" src="/docs/assets/pipelines/hero-image-pipelines" />
</header>
