<header class="Hero">
  <div class="Hero__content">
    <article class="Article">
      <h1>Buildkite Pipelines</h1>
      <p>Create fast, secure, and reliable CI/CD with <em>Buildkite Pipelines</em> so you can quickly and confidently ship quality code. Scale out your builds and automated workflows with massive concurrency and flexible compute types. Fine-tune each workflow to match your business needs. Buildkite provides the building blocks, docs, and extension points you'll need to build your dream CI/CD workflows. Let's get building! 🚀</p>
    </article>
    <div class="Hero__calls-to-action">
      <a href="tutorials/getting-started" class="Button Button--purple">
        Start with an example pipeline
      </a>
      <a href="/docs/pipelines/create-your-own" class="Button Button--default">
        Create your own pipeline
      </a>
    </div>
  </div>
  <%= image_tag image_path("pipelines/hero-image-pipelines.png"), alt: "Screenshot of Buildkite Pipelines dashboard", class: "Hero__image" %>
</header>
