# SAML with Active Directory Federation Services (ADFS)

ADFS can be used as single sign-on to log in to your Buildkite organization.

Setting up ADFS requires organization administrator privileges on your ADFS server and in Buildkite. You'll also need to know the slug of the Buildkite organization for which you'd like to enable SSO.

Self-service SSO provisioning in Buildkite is available via our GraphQL explorer. For further information, see the [GraphQL SSO Setup Guide](/docs/tutorials/graphql-sso). 

## Setup in the ADFS management console

<div class="Docs__note">
<p class="Docs__note__heading">Before starting your ADFS setup</p>
<p>Email the Buildkite team at support@buildkite.com to request your unique SAML service URL, you will need this when setting up your ADFS relying party trust..</p>
</div>

The instructions below will guide you through using a series of wizards to:

* Add a 'relying party trust'
* Add an 'issuance transform rule', a type of 'claim rule'
* Export the token-signing certificate
* Update the authentication policy

With these wizards, you'll set up your domain for SSO and retreive the information the Buildkite team requires to complete the setup process.

<div class="Docs__note">
<p class="Docs__note__heading">This guide was written for, and tested using, Windows Server 2016</p>
<p>Some of the wizard pages and dialog tab names have changed across versions of Windows Server.</p>

<p>For a guide written for Windows Server 2012, the <a href="https://www.pagerduty.com/docs/guides/adfs-sso-guide/">Pagerduty SSO integration guide</a> is very similar to Buildkite. Follow the Pagerduty instructions, and subsitute in the Buildkite values from the instructions below.</p>
</div>

### Add a Relying Party Trust

From the `Actions` sidebar, click `Add relying party trust...` to start the wizard

1. <u>Welcome</u>: select `Claims aware`
1. <u>Select data source</u>: select `Enter data about the relying party manually`
1. <u>Specify display name</u>: call your relying party `Buildkite`
1. <u>Choose profile</u>: select `ADFS profile`
1. <u>Configure certificate</u>: skip this step, as you don't need a token encryption certificate
1. <u>Configure URL</u>: 
	select `Enable support for the SAML 2.0 WebSSO protocol` 
	enter your unique SAML service URL as your `Relying party SAML 2.0 SSO service URL`
1. <u>Configure identifiers</u>: 
	enter `https://<your IDP url>/adfs/services/trust` into the `Relying party trust identifier` field
	click `add` to add it to the `Relying party trust identifiers` list
1. <u>Choose Access Control Policy</u>:
	choose `Permit everyone`
	you can choose to select specific users, but that will involve further steps that aren't covered by this guide
1. <u>Ready to add trust</u>: review your settings to make sure all the urls are correct
1. <u>Finish</u>:
	leave the `configure claims issuance policy for this application` box checked
	click `close` to close the wizard and save your setup

In the `Actions` sidebar, you should now have a subheading `Buildkite`. 

### Add an issuance transform rule

From the `Buildkite` section of the `Actions` sidebar, click `Edit claim issuance policy...`

Here we're going to add three rules. Add each rule using the `Add Rule` button on the Issuance transform rules tab:

Rule 1

1. <u>Choose rule type</u>: `Send LDAP Attributes as claims`
1. <u>Configure claim rule</u>:
	- <u>Claim Rule Name</u>: Get Attributes
	- <u>Attribute Store</u>: Active Directory
	- <u>Mapping of LDAP Attributes to outgoing claim types</u>:
		+ <u>LDAP Attribute</u>: Email Addresses, Outgoing claim type: Email address
		+ <u>LDAP Attribute</u>: Display-Name, Outgoing claim type: Name
1. Click `Finish` to add the rule

Rule 2

1. <u>Choose rule type</u>: `Transform an incoming claim`
1. <u>Configure claim rule</u>:
	- <u>Claim Rule Name</u>: Name ID Transform
	- <u>Incoming Claim Type</u>: Email address
	- <u>Outgoing Claim Type</u>: Name ID
	- <u>Outgoing Name ID Format</u>: Email
	- Select `Pass through all claim values`
1. Click `Finish` to add the rule

Rule 3

<ol>
	<li><u>Choose rule type</u>: `Send claims using a custom rule`</li>
	<li><u>Configure claim rule</u>:
	<ul>
		<li><u>Claim Rule Name</u>: 'Name' Attribute Name Transform</li>
		<li><u>Custom Rule</u>: 
<pre><code>c:[Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"]
 => issue(Type = "Name", Issuer = c.Issuer, OriginalIssuer = c.OriginalIssuer, Value = c.Value, ValueType = c.ValueType);</code></pre>
</li>
	</ul>
	<li>Click `Finish` to add the rule</li>
	<li>Click `OK` to save and exit the Claim Issuance Policy dialog</li>
</ol>

For more information on what other attributes Buildkite accepts, see the [SAML User Attributes](/docs/tutorials/custom-saml#saml-user-attributes) table in the Custom SAML Guide.

### Export the token signing certificate

From the `Service` section of the `ADFS` console tree, select the `Certificates` subsection

1.  Click on the certificate listed under the heading `Token-signing`
2.  In the `CN=ADFS Signing` section of the `Actions` sidebar, click `View Certificate...`
3.  In the `Certificate` dialog, select the `Details` tab
4.  Click the `Copy to File...` button
5.  Start the `Certificate Export Wizard`
6.  Export File Format: select `Base-64 encoded X.509 (.CER)`
7.  File to Export: name your file, and choose where you'd like to export the file
8.  Completing the Certificate Export Wizard: check the settings are correct, and click `Finish`
9.  Exit the `Certificate` dialog

### Update the authentication policy

From the `Service` section of the `ADFS` console tree, select the `Authentication Methods` subsection

1. Under the `Primary Authentication Methods` header, click the `Edit` link
2. In the `Intranet` section, ensure that the `Forms Authentication` box is checked 
3. Click `OK` to exit the dialog

### Email the Buildkite team

To complete your SSO setup, the Buildkite team needs some information from your ADFS server. 

Email support@buildkite.com with the following SSO and ADFS information:

<table>
    <tr>
        <td>Domain name</td>
        <td>
          The domain you use with ADFS for which you want to enable SSO. This must match one of the emails you have verified with your Buildkite account.
        </td>
    </tr>
    <tr>
        <td>Organization slug</td>
        <td>
          The Buildkite organization for which you want to enable SSO.  
        </td>
    </tr>
    <tr>
        <td>Login URL</td>
        <td>
          The URL where you can log in to your ADFS service. Usually your domain name or IP, with <code>/adfs/ls</code> appended.
        </td>
    </tr>
    <tr>
        <td>Federation Service Identifier</td>
        <td>
            The URL that identifies your ADFS service. Usually your domain name or IP, with <code>/adfs/services/trust</code> appended.
        </td>
    </tr>
    <tr>
        <td>X.509 certificate</td>
        <td>
       	  Attach the X.509 certificate that you downloaded during setup
        </td>
    </tr>
</table>

When we receive your email, the Buildkite team will:

1. Enable SSO for the specified organization
1. Reply to your email and get you to test that it's all working
1. Deauthorize all the users in the organization, so that everyone will authorize via ADFS next time they attempt to access that organization on Buildkite.com
