# Getting Started

This guide will help you setup your first Buildkite pipeline. If you don’t have a Buildkite account you’ll first need to [sign up](<%= url_helpers.signup_path %>). This guide uses GitHub but Buildkite can work with any version control system.

{:toc}

## Install and run your first agent

[Buildkite agents](/docs/agent/v3/) are small, reliable and cross-platform build runners that run automated builds. Buildkite never accesses your code, and does not run any agents, so you need to install and run agents on your own infrastructure. You can do this on your local development machine, an existing CI machine, or a new server.

1. Follow the [Agent installation instructions](/docs/agent/v3/installation) to install and start an agent

2. Make sure you’ve configured the agent token, as that is what that connects the agent to your Buildkite account

## Add the sample pipeline

[Pipelines](/docs/pipelines/) are how Buildkite represents your CI workflow, a series of steps that will be run on your code.

We’ve created a [bash-example test repository](https://github.com/buildkite/bash-example) to use as your first pipeline. Click the “Add to Buildkite” button below to open a new pipeline page for the example pipeline:

<a class="inline-block" href="https://buildkite.com/new?template=https://github.com/buildkite/bash-example" target="__blank" rel="nofollow"><img src="https://buildkite.com/button.svg" alt="Add Bash Example to Buildkite" class="no-decoration" width="160" height="30"></a>

Accept the pre-filled defaults, and click *Create Pipeline*.

## Run your first build

Now that you’re running an agent and have created a pipeline you’re ready to run your first build. Click the *New Build* button in the top right corner:

<%= image "new-build.png", size: "270x60", alt: "New build button" %>

Type in a build message (being sure to add some [emojis](/docs/pipelines/emojis) and click *Create Build*:

<%= image "trigger-build.png", size: "600x460", alt: "New build dialog" %>

The build will run, and once it’s finished it’ll turn green!

<%= image "green-build.png", size: "226x84", alt: "Green build" %>

Congratulations, you have run your first Buildkite build! :tada:

## Invite your team to the organization

To invite your team so they can see your build, go to your organization’s *Settings*, and under *Users* you’ll be able to paste in their email addresses.

## Using a private repository

When you create a new pipeline with a private repository URL you’ll be shown instructions for configuring your SCM’s webhooks (in GitHub, BitBucket, etc). Once you’ve followed those instructions make sure your [agent’s SSH keys](/docs/agent/v3/ssh-keys) are configured, and you’ll be good to run a build of your private pipeline.

For more advanced pipelines it can be a good idea to use your development machine as the agent for your first few builds. That way all the dependencies are ready and you’ll sooner be able to share a link to a green build with the rest of your team.
