# OAuth with Google G Suite

Google's G Suite (previously Google Apps) can be used to authorize access to your Buildkite organization.

## Setting up OAuth

Setting up G Suite to log in to Buildkite is a short process, requiring an email to the Buildkite team and a test of the new login flow.

Self-service SSO provisioning in Buildkite is available via our GraphQL explorer. For further information, see the [GraphQL SSO Setup Guide](/docs/tutorials/graphql-sso).  

### Email the Buildkite team

Send an email to support@buildkite.com with the following information:

<table>
    <tbody>
        <tr>
            <td>Domain name</td>
            <td>
              The domain you use with Google G Suite for which you want to enable OAuth. This must match one of the emails you have verified with your Buildkite account.
            </td>
        </tr>
        <tr>
            <td>Organization slug</td>
            <td>
              The Buildkite organization for which you want to enable OAuth.  
            </td>
        </tr>
    </tbody>
</table>

Ensure all members of the specified organization have an email address with that domain verified in their Buildkite account.

When we receive your email, the Buildkite team will:

1. Enable OAuth for the specified organization
1. Reply to your email and get you to test that it's all working
1. Deauthorize all the users in the organization, so that everyone will authorize via Google next time they attempt to access that organization on Buildkite.com