# SSO with OneLogin

OneLogin can be used to authorize access to your Buildkite organisation.

## Setting up SSO

Setting up SSO with OneLogin requires organisation administrator privileges in both OneLogin and Buildkite. OneLogin provides support for 'groups', which can be set up inside your OneLogin account.

### Setup on the OneLogin website
The instructions below guide you through adding the Buildkite app to your OneLogin account, and emailing the OneLogin-specific account details to Buildkite.

1. In the 'Apps' tab of your OneLogin organisation, select the 'Add App' button to search the OneLogin directory
1. Search for 'Buildkite'
1. Add the Buildkite app to your OneLogin account
1. Email support@buildkite.com with the following SSO and OneLogin information:

    <dl>
        <dt>Domain name</dt>
        <dd>
          The domain you use with OneLogin for which you want to enable SSO. This must match one of the emails you have verified with your Buildkite account.
        </dd>
        <dt>Organisation slug</dt>
        <dd>
          The Buildkite organisation for which you want to enable SSO.  
        </dd>
        <dt>SAML 2.0 Endpoint (HTTP)</dt>
        <dd>
            <ol>
                <li>In the 'Company Apps' page of OneLogin, click on the Buildkite app</li>
                <li>Click on the 'SSO' tab at the top of the page</li>
                <li>Copy the URL labeled `SAML 2.0 Endpoint (HTTP)`</li>
                <li>Paste this URL into your email to Buildkite</li>
            </ol>
        </dd>
        <dt>Issuer URL</dt>
        <dd>
            
        </dd>
        <dt>X.509 certificate</dt>
        <dd>
            <ol>
                <li>Also on the SSO tab of the OneLogin Buildkite app, click the 'View Details' link under the 'X.509 certificate'</li>
                <li>Under the section 'X.509 Certificate', select 'X.509 PEM' from the dropdown list of file types</li>
                <li>Click the 'Download' button</li>
                <li>Attach the downloaded certificate to your email to Buildkite</li>
            </ol>
        </dd>
    </dl>

When we receive your email, the Buildkite team will:

1. Enable SSO for the specified organisation
1. Reply to your email and get you to test that it's all working
1. Deauthorize all the users in the organisation, so that everyone will authorize via OneLogin next time they attempt to access that organisation on Buildkite.com