# SSO with OneLogin

OneLogin can be used to authorize access to your Buildkite organization.

## Setting up SSO

Setting up SSO with OneLogin requires organization administrator privileges in both OneLogin and Buildkite.

Self-service SSO provisioning in Buildkite is available via our GraphQL explorer. For further information, see the [GraphQL SSO Setup Guide](/docs/tutorials/graphql-sso). 

### Setup on the OneLogin website
The instructions below guide you through adding the Buildkite app to your OneLogin account, and emailing the OneLogin-specific account details to Buildkite.

Before starting your OneLogin setup:
Email the Buildkite team at support@buildkite.com to request your unique SSO service URL, you will need this when setting up your OneLogin App.

OneLogin App setup:

1. In the 'Apps' tab of your OneLogin organization's Admin area, select the 'Add App' button to search the OneLogin directory
1. Search for 'Buildkite'
1. Add the Buildkite app to your OneLogin account
2. Click on the 'Configuration' tab of your new Buildkite application
3. Enter your Buildkite organization slug
4. Click the 'Save' button in the top right to save your configuration

Email support@buildkite.com with the following 5 fields:

<table>
    <tr>
        <td>Domain name</td>
        <td>
          The domain you use with OneLogin for which you want to enable SSO. This must match one of the emails you have verified with your Buildkite account.
        </td>
    </tr>
    <tr>
        <td>Organization slug</td>
        <td>
          The Buildkite organization for which you want to enable SSO.  
        </td>
    </tr>
</table>

The following three fields can be found in the 'SSO' tab on the Buildkite app page in OneLogin: 

<table>
    <tr>
        <td>SAML 2.0 Endpoint (HTTP)</td>
        <td>
            The URL where you can log in to OneLogin's SAML service.
        </td>
    </tr>
    <tr>
        <td>Issuer URL</td>
        <td>
            The URL that identifies your OneLogin service. 
        </td>
    </tr>
    <tr>
        <td>X.509 certificate</td>
        <td>
            The public key certificate generated for you by OneLogin. You'll need the whole file, not just a link to the file. 
        </td>
    </tr>
</table>

When we receive your email, the Buildkite team will:

1. Enable SSO for the specified organization
1. Reply to your email and get you to test that it's all working
1. Deauthorize all the users in the organization, so that everyone will authorize via OneLogin next time they attempt to access that organization on Buildkite.com