# My Builds

The My Builds menu provides a personalised list of your most recently triggered builds across all the organizations you're a member of.

<%= toc %>

## Navigation bar counter

Living in the navigation bar, the My Builds menu is directly accessible from every page in Buildkite. The count that appears in the My Builds navigation bar item tells you how many of your builds are running or waiting to run.

<%= image "navigation-counter.png", width: 246/2, height: 88/2, alt: "Screenshot of the My Builds navigation bar item" %>

## Dropdown

Clicking on the My Builds dropdown menu will display a list of your five most recently created builds. This menu displays four key pieces of information about each build: 

1. A status icon that indicates passed, failed, and running build states 
2. The name of the build or pull request
3. The repository it was triggered on
4. How long ago the build was created

The More Builds button at the bottom of the dropdown menu takes you to a list of all of the builds you've triggered in Buildkite. 

<%= image "dropdown.png", width: 550/2, height: 944/2, alt: "Screenshot of the My Builds dropdown" %>

## Past builds

The My Builds page lists all of your past builds in reverse chronological order, as well as any that are currently running or waiting for agents. You can filter these to see only 'Running' or 'Scheduled' builds using the buttons in the top right corner.

<%= image "builds-page.png", width: 1940/2, height: 1018/2, alt: "Screenshot of the My Builds page" %>

<section class="Docs__troubleshooting-note">
  <h1>The build I just created is running, but isn't showing up in the My Builds menu</h1>
  <p>The most common reason for a build to not be included in your My Builds menu is that the email address isn't linked to your account. Make sure that the email attached to the git user that you used to trigger the build is linked to your Buildkite account. Without this link, we won't know that the most recent build is yours!</p>
</section>
