# Webhooks

Webhooks allow you to monitor and respond to events within your Buildkite organization, providing a real time view of activity and allowing you to extend and integrate Buildkite into your systems.

Webhooks can be added and configured on your [organization's Notification Services settings](https://buildkite.com/organizations/-/services) page.

{:toc}

## Events

You can subscribe to one or more of the following events:

<table>
<thead>
  <tr><th>Event</th><th>Description</th></tr>
</thead>
<tbody>
  <tr><th>ping</th><td>Webhook notification settings have changed</td></tr>
  <tr><th>build.scheduled</th><td>A build has been scheduled</td></tr>
  <tr><th>build.running</th><td>A build has started running</td></tr>
  <tr><th>build.finished</th><td>A build has finished</td></tr>
  <tr><th>job.scheduled</th><td>A job has been scheduled</td></tr>
  <tr><th>job.started</th><td>A command step job has started running on an agent</td></tr>
  <tr><th>job.finished</th><td>A job has finished</td></tr>
  <tr><th>job.activated</th><td>A block step job has been unblocked using the web or API</td></tr>
  <tr><th>agent.connected</th><td>An agent has connected</td></tr>
  <tr><th>agent.lost</th><td>An agent has been marked as lost</td></tr>
  <tr><th>agent.disconnected</th><td>An agent has disconnected</td></tr>
  <tr><th>agent.stopping</th><td>An agent is stopping</td></tr>
  <tr><th>agent.stopped</th><td>An agent has stopped</td></tr>
</tbody>
</table>

## HTTP headers

The following HTTP headers are present in every webhook request, which allow you to identify the event that took place, and to verify the authenticity of the request:

<table>
<tbody>
  <tr><th><code>X-Buildkite-Event</code></th><td>The type of event<p class="Docs__api-param-eg"><em>Example:</em> <code>build.scheduled</code></p></td></tr>
</tbody>
</table>

One of either the [Token](/docs/apis/webhooks#webhook-token) or [Signature](/docs/apis/webhooks#webhook-signature) headers will be present in every webhook request. The token value and header setting can be found under _Token_ in your _Webhook Notification service_.

Your selection in the _Webhook Notification service_ will determine which is sent:

<table>
<tbody>
  <tr><th><code>X-Buildkite-Token</code></th><td>The webhook's token. <p class="Docs__api-param-eg"><em>Example:</em> <code>309c9c842g8565adecpd7469x6005989</code></p></td></tr>
  <tr><th><code>X-Buildkite-Signature</code></th><td>The signature created from your webhook payload, webhook token, and the SHA-256 hash function.<p class="Docs__api-param-eg"><em>Example:</em> <code>timestamp=1619071700,signature=30222eb518dc3fb61ec9e64dd78d163f62cb134a6ldb768f1d40e0edbn6e43f0</code></p></td></tr>
</tbody>
</table>

## HTTP request body

Each event’s data is sent JSON encoded in the request body. See each event’s documentation ([agent](/docs/apis/webhooks/agent-events), [build](/docs/apis/webhooks/build-events#request-body-data), [job](/docs/apis/webhooks/job-events), [ping](/docs/apis/webhooks/ping-events)) to see which keys are available in the payload. For example:

```json
{
  "event": "build.started",
  "build": {
    "keys": "vals"
  },
  "sender": {
    "keys": "vals"
  }
}
```

<div class="Docs__troubleshooting-note">
  <h3>Fast transitions and webhooks</h3>
  <p>Note that if a builds transitions between states very quickly, for example from blocked (<code>finished</code>) to unblocked (<code>running</code>), the webhook may be in a different state from the actual build. This is a known limitation of webhooks, in that they may represent a later version of the object than the one that triggered the event.</p>
</div>

## Webhook token

By default, Buildkite will send a token with each webhook in the `X-Buildkite-Token` header.

The token value and header setting can be found under _Token_ in your _Webhook Notification service_.

The token is passed in clear text.

## Webhook signature

Buildkite can optionally send an HMAC signature in place of a webhook token.

The `X-Buildkite-Signature` header contains a timestamp and an HMAC signature. The timestamp is prefixed by `timestamp=` and the signature is prefixed by `signature=`.

Buildkite generates the signature using HMAC-SHA256; a hash-based message authentication code [HMAC](https://en.wikipedia.org/wiki/HMAC) used with the [SHA-256](https://en.wikipedia.org/wiki/SHA-2) hash function and a secret key. The webhook token value is used as the secret key. The timestamp is an integer representation of a UTC timestamp.

The token value and header setting can be found under _Token_ in your _Webhook Notification service_.

### Verifying HMAC signatures

When using HMAC signatures, you'll want to verify that the signature is legitimate.

Using the token as the secret along with the timestamp and signature from the webhook, compute the authentication code. There should be a library available in the programming language you are using that can perform this operation.

Compare the code to the signature received in the webhook. If they do not match, your payload has been altered.

The below example in Ruby verifies the signature and timestamp using the OpenSSL gem's HMAC :

```ruby
require 'openssl'

class BuildkiteWebhook
  def self.valid?(payload, header, secret)
    timestamp, signature = get_timestamp_and_signatures(header)
    expected = OpenSSL::HMAC.hexdigest("sha256", secret, "#{timestamp}.#{payload}")
    Rack::Utils.secure_compare(expected, signature)
  end

  def self.get_timestamp_and_signatures(header)
    parts = header.split(",").map { |kv| kv.split("=", 2).map(&:strip) }.to_h
    [parts["timestamp"], parts["signature"]]
  end
end

BuildkiteWebhook.valid?(
  request.body.read,
  request.headers["X-Buildkite-Signature"],
  ENV["BUILDKITE_WEBHOOK_SECRET"]
)
```

### Defending against replay attacks

A [replay attack](https://en.wikipedia.org/wiki/Replay_attack) is when an attacker intercepts a valid payload and its signature, then re-transmits them. One way to help mitigate such attacks is to send a timestamp with your payload and only accept them within a short window (for example, 5 minutes).

Buildkite sends a timestamp in the `X-Buildkite-Signature` header. The timestamp is part of the signed payload so that it is verified by the signature. An attacker will not be able to change the timestamp without invalidating the signature.

To help protect against a replay attack, upon receipt of a webhook:

1. Verify the signature
2. Check the timestamp against the current time

If the webhook's timestamp is within your chosen window of the current time, it can reasonably be assumed to be the original webhook.

## Example implementations

The following example repositories show how to receive a webhook event and trigger a LIFX powered build light. You can browse their source, fork them, and deploy them to Heroku directly from their GitHub readmes, or use them as an example to implement webhooks in your tool of choice.

<a class="Docs__example-repo" href="https://github.com/buildkite/lifx-buildkite-build-light-node">
  <span class="icon">:node:</span>
  <span class="detail">
    <strong>Node webhook example application</strong>
    <span class="repo">github.com/buildkite/lifx-buildkite-build-light-node</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/lifx-buildkite-build-light-ruby">
  <span class="icon">:ruby:</span>
  <span class="detail">
    <strong>Ruby webhook example application</strong>
    <span class="repo">github.com/buildkite/lifx-buildkite-build-light-ruby</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/lifx-buildkite-build-light-php">
  <span class="icon">:php:</span>
  <span class="detail">
    <strong>PHP webhook example application</strong>
    <span class="repo">github.com/buildkite/lifx-buildkite-build-light-php</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/lifx-buildkite-build-light-webtask">
  <span class="icon">:node:</span>
  <span class="detail">
    <strong>Webtask.io webhook example application</strong>
    <span class="repo">github.com/buildkite/lifx-buildkite-build-light-webtask</span>
  </span>
</a>

<%= image "panda_light.gif", alt: "Build panda" %>

## Request logs

The last 50 webhook request and responses are saved, so you can debug and inspect your webhook. Each webhook’s request logs are available on the bottom of their settings page.
