# Buildkite Test Analytics

<div class="Docs__wip-note">
  <p class="Docs__wip-heading">Test Analytics is an invite-only beta feature. Join the <a href="https://buildkite.com/test-analytics">waitlist</a>.</p>
</div>

Where Buildkite Pipelines help you automate your build pipelines,
Test Analytics helps you track and analyze the steps in that pipeline that involve tests:

- Ship code to production faster by optimizing test suites
- Works with any continuous integration
- Identify, fix, and monitor test suite performance
- Track, improve, and monitor test suite reliability

{:toc}

<%= image "overview.png", width: 963, height: 287, alt: "Screenshot of test suite overview showing a line graph of a daily reliability metric over 28 days" %>

## Find flaky tests

See which tests are most disruptive to continuous deployments, with automatic flaky test identification and analysis over time. Tests that pass on retry are marked as red/fail so you can find and fix them.

## Cut down your runtime

_Runtime_ is defined as the total duration of the tests from start to finish, tracking this helps you find our what is slowing down your test runs. Test Analytics splits your runtime into to `SQL`, `HTTP`, `sleep`, or `other`.

<%= image "spans.png", width: 1156, height: 278, alt: "Screenshot of test suite overview" %>

## Monitor what matters

Configure monitors to track only what matters to you. Track reliability (percentage of passed test executions) over a specific number of days, or a specific number of test suite runs, and get alerts when a specific branch or or all branches fall below your defined threshold. Track duration changes against your test suite median, or number of consecutive failures.

<%= image "monitors.png", width: 851, height: 559, alt: "Screenshot of monitor settings showing the ability to alert on changes to test duration, reliability, and consecutive failures." %>

## Alerts

When you get an alert from one of your monitors, see

- when it was last seen
- when it was first seen
- how many times it has happened

Mark it as resolved, mute it, or leave it open.