# Buildkite Test Analytics

<div class="Docs__wip-note">
  <p class="Docs__wip-heading">Test Analytics is an invite-only beta feature. Join the <a href="https://buildkite.com/test-analytics">waitlist</a>.</p>
</div>

Where Buildkite Pipelines help you automate your build pipelines,
Test Analytics helps you track and analyze the steps in that pipeline that involve tests:

- Ship code to production faster by optimizing test suites
- Works with any continuous integration
- Identify, fix, and monitor test suite performance
- Track, improve, and monitor test suite reliability

<%= image "overview.png", width: 975, height: 205, alt: "Screenshot of test suite trend showing five metrics over 28 days" %>

## Get started

Test Analytics ships with the following collectors. You you can also upload test results by importing JSON or JUnit XML.

<!-- vale off -->

<%= button ":rspec: RSpec", "/docs/test-analytics/ruby-collectors#rspec-collector", "has_right_arrow" %>

<!-- vale on -->

----

<%= tiles "test_analytics_features" %>

----

<%= tiles "test_analytics_guides" %>
