.Brand {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  font-weight: bold;
  height: 40px;
}

.Brand__img {
  display: block;
  transition: opacity $transition-speed;
  width: 28px;

  &:hover {
    opacity: 0.75;
  }
}

.Brand__mark {
  margin-right: 0.5em;

  svg {
    width: 28px;
    height: auto;
    margin-top: 0.55em;
  }
}

.Brand__wordmark {
  height: 14px;
}
