@mixin callout($callout_color) {
  border-left: 3px solid $callout_color;
  color: map-get($color-aliases, "text-lightest");
  font-size: #{(16/18)}rem;
  margin: 1.5rem 0 2rem 0;
  padding: 0 0 0 1rem;

  .callout__title {
    color: $callout_color;
    font-size: 1rem;
    font-weight: 700;

    position: relative;

    .callout__anchor {
      text-decoration: none;

      &:link,
      &:visited,
      &:hover,
      &:active,
      &:focus {
        color: $callout_color;
      }

      &:hover:before {
        color: map-get($color-aliases, "text-lightest");
        content: "#";
        font-size: 1rem;
        font-weight: normal;
        left: -23px;
        margin-left: 0.5rem;
        position: absolute;
      }
    }
  }

  p {
    margin: 0;
  }

  p + p {
    margin: 0.5rem 0 0 0;
  }
}

.callout {
  @include callout(#4b19d5);
}

.callout--troubleshooting {
  @include callout(#ffba11);
}

.callout--wip {
  @include callout(#ffba11);
}

.Docs__attribute__table .callout {
  margin: 0;
}
