.Footer {
  color: map-get($color-aliases, "text-lightest");
  font-size: 0.875rem;
  margin-bottom: 30px;
  margin-top: 60px;
  text-align: center;
}

.Footer__heading {
  color: map-get($color-aliases, "text-base");
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.Footer__links {
  display: flex;
  flex-direction: column;
  gap: $gutter / 2;
  justify-content: center;
  margin-top: 15px;

  @media (min-width: $screen-sm) {
    flex-direction: row;
  }
}
