.MenuToggleCheckbox {
  position: absolute;
  visibility: hidden;

  ~ .SiteHeader__nav,
  ~ .SiteHeader__global-links {
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
    }
  }

  &:checked ~ .SiteHeader__nav,
  &:checked ~ .SiteHeader__global-links {
    display: flex;
  }
}

.MenuToggleLabel {
  background: transparent asset-url("icons/menu.svg") 50% 50% no-repeat;
  border: map-get($color-aliases, "border") 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 40px;
  margin: 0;
  position: absolute;
  right: $gutter / 2;
  top: 10px;
  width: 40px;

  @media (min-width: $screen-md) {
    display: none;
  }

  &:hover {
    background-color: map-get($color-aliases, "panel-background");
  }

  .MenuToggleCheckbox:checked + & {
    background-image: asset-url("icons/remove.svg");
  }

  span {
    left: -10rem;
    position: absolute;
    top: -10rem;
  }
}
