@mixin _make-nav-icon-purple {
  filter: invert(24%) sepia(92%) saturate(7443%) hue-rotate(258deg) brightness(81%) contrast(109%);
}

.Nav {
  width: 100%;

  &__section {
    display: none;
    flex-direction: column;
    gap: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }

    &--show {
      display: flex;
      flex-direction: column;

      &.Nav__section--level1 {
        @media (min-width: $screen-md) {
          flex-direction: row;
        }
      }
    }

    &--level1 {
      display: flex;
      flex-direction: column;
      font-family: $font-family-display;
      font-size: 1rem;
      padding-bottom: 0;
      padding-top: 0;

      @media (min-width: $screen-md) {
        flex-direction: row;
        gap: 5px;
      }
    }

    &--level2 {
      @media (min-width: $screen-md) {
        background-color: $base-0;
        border-color: map-get($color-aliases, 'border');
        box-sizing: border-box;
        height: calc(100vh - #{map-get($header-height, 'two-rows')});
        left: 0;
        overflow-y: auto;
        overscroll-behavior: contain;
        padding: 44px 5px;
        position: fixed;
        top: map-get($header-height, 'two-rows');
        width: $sidebar-width;
      }

      @media (min-width: $screen-lg) {
        height: calc(100vh - #{map-get($header-height, 'one-row')});
        top: map-get($header-height, 'one-row');
      }
    }
  }

  &__link {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: $charcoal-900;
    display: flex;
    font-family: $font-family-system;
    font-size: 14px;
    gap: 5px;
    line-height: 24px;
    margin: 0;
    padding: 8px 15px;
    position: relative;
    text-decoration: none;
    transition: background-color $transition-speed, color $transition-speed;
    width: 100%;
    word-break: break-all;

    @media (min-width: $screen-md) {
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;
      width: auto;
    }

    &:hover {
      &:not(span) {
        color: map-get($color-aliases, 'selected');
  
        &::before {
          @include _make-nav-icon-purple;
        }
      }
    }

    &--current {
      background-color: map-get($color-aliases, 'selected-bg');
      color: map-get($color-aliases, 'selected');
    }

    &--parent {
      color: map-get($color-aliases, 'selected');
    }

    &::before {
      content: '';
      left: 10px;
      height: 8px;
      position: absolute;
      transition: transform $transition-speed;
      width: 8px;
    }

    &--level1 {
      font-weight: bold;
    }

    &--level2 {
      &::before {
        left: 32px;

        @media (min-width: $screen-md) {
          left: 12px;
        }
      }
    }

    &--level3 {
      &::before {
        left: 42px;

        @media (min-width: $screen-md) {
          left: 22px;
        }
      }
    }

    &--level4 {
      &::before {
        left: 52px;

        @media (min-width: $screen-md) {
          left: 32px;
        }
      }
    }

    &--type {
      &-back {
        &::before {
          background: transparent asset-url("icons/chevron-left.svg") 50% 50% no-repeat;
        }

        &:hover {
          &:before {
            transform: translateX(-2px);
          }
        }
      }

      &-link {
        &:after {
          content: "";
          background: transparent asset-url("icons/external_link.svg") 50% 50% no-repeat;
          background-size: cover;
          height: 16px;
          width: 16px;
        }
      }
    }

    &--level1 {
      font-size: 16px;
      padding-left: 26px;
      padding-right: 26px;

      @media (min-width: $screen-md) {
        font-size: 14px;
        padding-left: $gutter / 2;
        padding-right: $gutter / 2;
      }

      &.Nav__link--parent {
        background-color: map-get($color-aliases, 'selected-bg');
      }
    }

    &--level2 {
      font-weight: 600;
      padding-left: 50px;

      @media (min-width: $screen-md) {
        padding-left: 25px;
      }
    }

    &--level3 {
      padding-left: 60px;

      @media (min-width: $screen-md) {
        padding-left: 35px;
      }
    }

    &--level4 {
      padding-left: 70px;

      @media (min-width: $screen-md) {
        padding-left: 45px;
      }
    }

    &--level5 {
      padding-left: 80px;

      @media (min-width: $screen-md) {
        padding-left: 55px;
      }
    }
  }

  &__toggle {
    cursor: pointer;
    font-weight: 600;
    width: 100%;

    &::before {
      background: transparent asset-url("icons/angle-down.svg") 50% 50% no-repeat;
      transform: rotate(-90deg);
    }

    &--on::before {
      transform: rotate(0deg);
    }

    &--parent {
      color: map-get($color-aliases, 'selected');

      &::before {
        @include _make-nav-icon-purple;
      }

      &--on::before {
        transform: rotate(0deg);
      }
    }
  }

  &__pill {
    margin-left: auto;
  }

  &__divider {
    margin-bottom: 8px;
    margin-top: 8px;
  }

  // Dropdown styling starts
  &__item--has-dropdown {
    position: relative;
  }

  &__dropdown-toggle {
    @media (min-width: $screen-md) {
      &::after {
        background: transparent asset-url("icons/angle-down.svg") 50% 50% no-repeat;
        content: "";
        height: 8px;
        width: 8px;
      }
    }

    &:hover {
      @media (min-width: $screen-md) {
        &::after {
          @include _make-nav-icon-purple;
        }
      }
    }
  }

  &__dropdown {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md) {
      background: $base-0;
      border: map-get($color-aliases, 'border') 1px solid;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .05);
      display: none;
      padding: 5px;
      position: absolute;
      left: 0;
      width: 200px;
    }

    .Nav__item--has-dropdown & {
      @media (min-width: $screen-md) {
        left: auto;
        right: 0;
      }
    }

    .Nav__item--has-dropdown:hover > & {
      display: flex;
    }

    .Nav__link {
      font-weight: 400;

      @media (min-width: $screen-md) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  // Dropdown styling ends
}
