$md-screen-margin-top: map-get($header-height, "two-rows") + $gutter;
$lg-screen-margin-top: map-get($header-height, "one-row") + $gutter;

.PageContainer {
  @include container;
}

.Page {
  display: grid;
  grid-template-rows: auto;

  gap: $gutter / 2;
  grid-template-columns: 1fr;
  grid-template-areas:
    "sidebar"
    "toc"
    "content";

  @media (min-width: $screen-md) {
    grid-template-columns: 270px 1fr;
    grid-template-areas:
      "sidebar toc"
      "sidebar content";
    margin-top: $md-screen-margin-top;
  }

  @media (min-width: $screen-lg) {
    grid-template-columns: 270px 1fr 270px;
    grid-template-areas: "sidebar content toc";
    margin-top: $lg-screen-margin-top;
  }

  &--landing {
    @media (min-width: $screen-lg) {
      grid-gap: 58px;
      grid-template-columns: 270px 1fr;
      grid-template-areas: "sidebar content";
    }
  }
}

.Page__sidebar {
  grid-area: sidebar;
  position: sticky;
  overflow-y: auto;
  overscroll-behavior: contain;
  display: none;

  @media (min-width: $screen-md) {
    display: block;
    top: $md-screen-margin-top;
    height: calc(100vh - #{map-get($header-height, "two-rows")});
  }

  @media (min-width: $screen-lg) {
    top: $lg-screen-margin-top;
    height: calc(100vh - #{map-get($header-height, "one-row")});
  }
}

.Page__toc {
  grid-area: toc;
  margin-bottom: $gutter / 2;

  @media (min-width: $screen-lg) {
    margin-bottom: 0;
    top: $lg-screen-margin-top;
    height: calc(100vh - #{map-get($header-height, "one-row")});
    overscroll-behavior: contain;
    overflow-y: auto;
    position: sticky;
  }
}

.Page__content {
  grid-area: content;

  @media (min-width: $screen-lg) {
    max-width: map-get($max-w, "prose");
    justify-self: center;
  }

  .Page--landing & {
    @media (min-width: $screen-lg) {
      max-width: none;
    }
  }
}
