.Search {
  line-height: map-get($line-heights, "tightest");
  position: relative;

  .algolia-autocomplete {
    @media (min-width: $screen-sm) {
      max-width: map-get($max-w, "search");
    }
  }
}

.Search__container {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (min-width: $screen-sm) {
    max-width: map-get($max-w, "search");
  }
}

.Search__icon {
  left: 12px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  z-index: 10;
}

.Search__kbd {
  background: $base-0;
  border-radius: $rounded;
  border: 1px solid map-get($color-aliases, "border");
  box-shadow: $box-shadow-depth-100;
  color: map-get($color-aliases, "text-lightest");
  display: none;
  font-size: 14px;
  font-weight: bold;
  line-height: map-get($line-heights, "tightest");
  margin-top: -10px;
  padding: 2px 10px;
  position: absolute;
  right: 12px;
  top: 50%;

  @media (min-width: $screen-md) {
    display: block;
  }
}

.Search__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: $slate-100;
  border-radius: $rounded;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: map-get($color-aliases, "text-base");
  display: block;
  font-family: inherit;
  font-size: 1rem;
  line-height: map-get($line-heights, "default");
  outline: none;
  padding: 7px 15px 7px 42px;
  transition: background-color $transition-speed, border-color $transition-speed;
  width: 100%;

  &:hover {
    background-color: $base-0;
  }

  &:focus {
    background-color: $base-0;
    border-color: map-get($color-aliases, "brand");
    border-width: 2px;
    padding: 6px 14px 6px 41px;
  }

  &--large {
    padding-bottom: 15px;
    padding-top: 15px;

    &:focus {
      padding-bottom: 14px;
      padding-top: 14px;
    }
  }
}
