.Search {
  line-height: map-get($line-heights, "tightest");
  position: relative;

  .algolia-autocomplete {
    @media (min-width: $screen-sm) {
      max-width: map-get($max-w, "search");
    }
  }
}

.Search__container {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (min-width: $screen-sm) {
    max-width: map-get($max-w, "search");
  }

  &:focus-within {
    .Search__icon {
      opacity: 1;
    }
  }
}

.Search__icon {
  left: 8px;
  top: 8px;
  position: absolute;
  z-index: 10;
  opacity: 0.6;
  transition: opacity $transition-speed;
}

.Search__kbd {
  background: $navy-50;
  border-radius: 3px;
  box-shadow: $box-shadow-depth-100;
  color: map-get($color-aliases, "text-lightest");
  display: none;
  font-size: 14px;
  font-weight: normal;
  line-height: map-get($line-heights, "tightest");
  padding: 3px 8px;
  position: absolute;
  right: 8px;
  top: 8px;
  user-select: none;

  @media (min-width: $screen-md) {
    display: block;
  }
}

.Search__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: $rounded;
  border: 0 none;
  box-sizing: border-box;
  box-shadow: rgba(93, 9, 199, 0) 0px 0px 0px 0px,
    rgba(93, 9, 199, 0.1) 0px 1px 3px, rgba(93, 9, 199, 0.2) 0px 0px 0px 1px,
    rgba(93, 9, 199, 0.05) 0px 3px 8px;
  color: map-get($color-aliases, "text-base");
  display: block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 20px;
  outline: none;
  padding: 8px 16px 8px 32px;
  transition: box-shadow $transition-speed, color $transition-speed;
  width: 100%;

  &:hover {
    background-color: $base-0;
  }

  &:focus {
    background-color: $base-0;
    color: map-get($color-aliases, "text-display");
    box-shadow: rgba(93, 9, 199, 0.2) 0px 0px 0px 3px,
      rgba(93, 9, 199, 0.2) 0px 1px 3px, rgba(93, 9, 199, 0.2) 0px 0px 0px 1px,
      rgba(93, 9, 199, 0.1) 0px 3px 8px;
  }

  @media (min-width: $screen-md) {
    font-size: 14px;
  }

  &--large {
    padding-bottom: 15px;
    padding-top: 15px;

    &:focus {
      padding-bottom: 14px;
      padding-top: 14px;
    }
  }
}
