.status-badges__examples {
  color: map-get($color-aliases, "text-base");
  th,
  td {
    padding: 5px 1px;
  }
  th {
    padding-right: 20px;
    text-align: left;
    font-weight: normal;
    font-size: #{(16/18)}rem;
  }
  td img {
    border: none;
    padding: none;
    vertical-align: middle;
  }
  code .muted {
    color: $gray-900;
  }
  @media (max-width: 768px) {
    tr,
    th {
      display: block;
    }
    tr {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    td {
      display: inline-block;
      padding: 0;
      img {
        padding: 0;
      }
    }
    tr + tr {
      border-top: none;
    }
  }
}
