.Toc {
  background-color: $gray-100;
  border: 1px solid $gray-500;
  border-radius: 5px;
  font-size: $font-size-template;

  @media (min-width: $screen-lg) {
    background-color: transparent;
    border-radius: initial;
    border: 0;
    font-family: $font-family-system;
  }

  .Toc__toggle {
    align-items: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    text-align: left;
    transition: background-color $transition-speed,
      border-color $transition-speed;
    width: 100%;

    @media (min-width: $screen-lg) {
      cursor: text;
      padding-bottom: 6px;
      padding-top: 6px;
    }

    &::after {
      background: asset-url("icons/angle-down.svg") 50% 50% no-repeat;
      content: "";
      height: 8px;
      transition: transform 300ms;
      width: 8px;
      transform: rotate(0deg);

      @media (min-width: $screen-lg) {
        content: initial;
      }
    }

    &--is-collapsed {
      &::after {
        transform: rotate(-180deg);
      }
    }
  }

  .Toc__title {
    font-size: $font-size-template;
    margin-bottom: 0;
    margin-top: 0;
  }

  .Toc__list {
    margin-bottom: 16px;
    margin-top: -4px;
    padding-left: 16px;

    @media (min-width: $screen-lg) {
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 0;
    }

    &--is-collapsed {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }
  }

  .Toc__list-item {
    list-style-type: none;
    margin-bottom: 2px;
    margin-top: 2px;
  }

  .Toc__link {
    border-radius: 5px;
    color: $charcoal-500;
    display: block;
    padding: 6px 16px;
    text-decoration: none;

    &:hover {
      color: $purple-600;
    }

    &--current {
      background-color: $purple-100;
      color: $purple-600;
    }
  }

  .Toc__link--h3 {
    font-size: 0.875rem;
    padding-left: 16px + 10px;
  }
}
