- attribute: skip
  desc: |
      <p>Whether to skip this step or group or not. Passing a string provides a reason for skipping this command. Passing an empty string is equivalent to <code>false</code>.</p>
      <p>Note: Skipped steps or groups will be hidden in the pipeline view by default, but can be made visible by toggling the 'Skipped jobs' icon.</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>true</code></p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>false</code></p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>"My reason"</code></p>
