- attribute: required
  desc: |
      <p>A boolean value that defines whether the field is required for form submission.</p>
      <p class="Docs__api-param-eg"><em>Default:</em> <code>true</code></p>
