- attribute: hint
  desc: |
      <p>The explanatory text that is displayed directly under the select field’s label.</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>"Which release stream does this belong in? \:fork\:"</code></p>
