- attribute: key
  desc: |
      <p>A unique string (meta-data key) to identify the step, block, or group.</p>
      <p>The value is available in the <code>BUILDKITE_STEP_KEY</code> <a href="/docs/pipelines/environment-variables">environment variable</a>.</p>
      <p>Keys can not have the same pattern as a UUID (<code>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</code>).</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>"linter"</code> or <code>"test-suite"</code></p>
      <p class="Docs__api-param-eg"><em>Alias:</em> <code>identifier</code> or <code>id</code></p>
