- attribute: if
  desc: |
      <p>A conditional that defines whether or not this step, block, or group should be included in the build.</p>
      <p>A boolean expression that omits the step when false. See <a href="/docs/pipelines/conditionals">Using conditionals</a> for supported expressions.</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>build.message != "skip me"</code></p>
