
- attribute: depends_on
desc: |
    <p>A list of step (or group) keys that this step depends on. This step (or group) will only proceed after the named steps have completed. See <a href="/docs/pipelines/dependencies">managing step dependencies</a> for more information.</p>
    <p class="Docs__api-param-eg"><em>Example:</em> <code>"test-suite"</code></p>
