- attribute: env
  desc: |
      <p>A map of <a href="/docs/pipelines/environment-variables">environment variables</a> for the build.</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>"test"</code></p>
