- attribute: options
  desc: |
      <p>The list of select field options.</p>
      <p>For 6 or less options they’ll be displayed as radio buttons, otherwise they'll be displayed in a dropdown box.</p>
      <p>If selecting multiple options is permitted, the options will be displayed as checkboxes.</p>
