- attribute: allow_dependency_failure
  desc: |
      <p>Whether to continue to run this step if any of the steps named in the <code>depends_on</code> attribute fail.</p>
      <p class="Docs__api-param-eg"><em>Default:</em> <code>false</code></p>
