- attribute: exit_status
  desc: |
      <p>The exit status number that will cause this job to retry ('*' does not include 0). Allows specified non-zero exit statuses not to fail the build.</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>"*"</code></p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>2</code></p>
