- attribute: fields
  desc: |
      <p>A list of input fields required to be filled out before unblocking the step.</p>
      <p class="Docs__api-param-eg"><em>Available input field types:</em> <code>text</code>, <code>select</code></p>
