- attribute: label
  desc: |
      <p>The label that will be displayed for the step, group, or select option in the pipeline visualisation in Buildkite. Supports emoji.</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>"\:hammer\: Tests" will be rendered as "🔨: Tests"</code></p>
      <p class="Docs__api-param-eg"><em>Alias:</em> <code>name</code></p>