- attribute: default
  desc: |
      <p>The value of option(s) that will be pre-selected or pre-filled in the text field.<br> When <code>multiple</code> is enabled, this can be an array of values to select by default.</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>"beta"</code></p>
