- attribute: multiple
  desc: |
      <p>A boolean value that defines whether multiple options may be selected.</p>
      <p>When multiple options are selected, they are delimited in the meta-data field by a line break (<code>\n</code>).</p>
      <p class="Docs__api-param-eg"><em>Default:</em> <code>false</code></p>
