- attribute: prompt
  desc: |
      <p>The instructional message displayed in the dialog box when the unblock step is activated.</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>"Release to production?"</code></p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>"Fill out the details for this release"</code></p>
