- attribute: value
  desc: |
      <p>The value to be stored as meta-data (to be later retrieved using the <a href="/docs/agent/v3/cli-meta-data">buildkite-agent meta-data command</a>).</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>"stable"</code></p>
