- attribute: branches
  desc: |
      <p>The <a href="/docs/pipelines/branch-configuration#branch-pattern-examples">branch pattern</a> defining which branches will include this block step in their builds.</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>"main stable/*"</code></p>
