To complete this tutorial, you'll need:

- [Git](https://git-scm.com/downloads). This tutorial uses GitHub, but Buildkite can work with any version control system by adapting the relevant steps below to those for your particular Git-based setup.

- A Buildkite account. If you don't have one already, <a href="<%= buildkite_url.signup_path %>">create a free personal account</a>.

    To start this process, select **Sign up with GitHub** and then **Authorize Buildkite** to access your GitHub account.

    If prompted with the **Install Buildkite** page in GitHub, ensure **All repositories** is selected (recommended), although choose **Only select repositories** if you need to limit the scope of the installation.

    You should then be taken to the **New Pipeline** page, where you can begin [creating your new pipeline](/docs/pipelines/getting-started#create-a-new-pipeline).
