# Block Step

A *block* step is used to pause the execution of a build and wait on a team member to unblock it via the web or the [API](/docs/rest-api/jobs#unblock-a-job).

<%= toc %>

## Examples

Simple block steps can be defined in your pipeline settings, or in your [pipeline.yml](/docs/pipelines/uploading-pipelines) file:

```yml
steps:
  - block: "\:rocket\: Release!"
```

<%= image "click-example.png", width: 338/2, height: 154/2, alt: "Screenshot of clicking a block step" %>

Using the [pipeline.yml](/docs/pipelines/uploading-pipelines) version, you can also include additional input fields, allowing the answers to be stored as [build meta-data](/docs/builds/build-meta-data) and used in later steps in the pipeline:

```yml
steps:
  - block: "Request Release"
    fields: 
      - text: "Code Name"
        hint: "What’s the code name for this release? \:name_badge\:"
        key: "release-name"
      - select: "Stream"
        hint: "Which release stream does this belong in? \:fork\:"
        key: "release-stream"
        default: "beta"
        options:
          - label: "Beta"
            value: "beta"
          - label: "Stable"
            value: "stable"
```

<%= image "click-prompt-example-animated.gif", width: 944/2, height: 826/2, alt: "Animated screenshot of a block step with input fields" %>

For a more complete example, see the Block Step example pipeline:

<a class="Docs__example-repo" href="https://github.com/buildkite/block-step-example">:pipeline: Block Step Example Pipeline<span class="repo">github.com/buildkite/block-step-example</span></a>

## Block Step Attributes

_Optional attributes:_

<table>
  <tr>
    <td><code>prompt</code></td>
    <td>
      The instructional message to show when the unblock step is activated.<br>
      <em>Example:</em> <code>"Release to production?"</code><br>
      <em>Example:</em> <code>"Fill out the details for this release"</code>
    </td>
  </tr>
  <tr>
    <td><code>fields</code></td>
    <td>
      The list of input fields required to be filled out before unblocking the step.<br>
      Available input field types: <code>text</code>, <code>select</code>
    </td>
  </tr>
  <tr>
    <td><code>branches</code></td>
    <td>
      The <a href="/docs/pipelines/branch-configuration#branch-pattern-examples">branch pattern</a> defining which branches will include this block step.<br>
      <em>Example:</em> <code>"master stable/*"</code>
    </td>
  </tr>
</table>


## Text Input Attributes

_Required attributes:_

<table>
  <tr>
    <td><code>key</code></td>
    <td>
      The slug to identify the field for later access via the buildkite-agent meta-data command.<br>
      <em>Example:</em> <code>"release-name"</code>
    </td>
  </tr>
</table>

_Optional attributes:_

<table>
  <tr>
    <td><code>hint</code></td>
    <td>
      The explanatory text to show after the label.<br>
      <em>Example:</em> <code>"What’s the code name for this release? \:name_badge\:"</code>
    </td>
  </tr>
  <tr>
    <td><code>required</code></td>
    <td>
      Whether the field is required to be filled out.<br>
      <em>Default value:</em> <code>true</code>
    </td>
  </tr>
  <tr>
    <td><code>default</code></td>
    <td>
      The text field’s prefilled text.<br>
      <em>Example:</em> <code>"Flying Dolphin"</code>
    </td>
  </tr>
</table>

## Select Input Attributes

_Required attributes:_

<table>
  <tr>
    <td><code>key</code></td>
    <td>
      The meta-data key used to later retrieve the value (e.g. via the <a href="/docs/agent/cli-meta-data">buildkite-agent meta-data command</a>)<br>
      <em>Example:</em> <code>"release-name"</code>
    </td>
  </tr>
  <tr>
    <td><code>options</code></td>
    <td>
      The list of select field options. For 6 or less options they’ll be shown as radio buttons, otherwise they'll be shown in a select-style dropdown.
    </td>
  </tr>
</table>

_Optional attributes:_

<table>
  <tr>
    <td><code>hint</code></td>
    <td>
      The text displayed directly under the select field’s label.<br>
      <em>Example:</em> <code>"Which release stream does this belong in? \:fork\:"</code>
    </td>
  </tr>
  <tr>
    <td><code>required</code></td>
    <td>
      Whether the field requires an option to be selected.<br>
      <em>Default:</em> <code>true</code>
    </td>
  </tr>
  <tr>
    <td><code>default</code></td>
    <td>
      The value of the option to pre-select.<br>
      <em>Example:</em> <code>"beta"</code>
    </td>
  </tr>
</table>

Each select option has the following _required attributes:_

<table>
  <tr>
    <td><code>label</code></td>
    <td>The text displayed on the select list item.<br>
    <em>Example:</em> <code>"Stable"</code></td>
  </tr>
  <tr>
    <td><code>value</code></td>
    <td>
      The value to be stored as meta-data (e.g. to be later retreived via the <a href="/docs/agent/cli-meta-data">buildkite-agent meta-data command</a>)<br>
      <em>Example:</em> <code>"stable"</code></td>
  </tr>
</table>