# Conditionals

- the `if` parameter provides the ability to conditionally run steps
- using c-like expressions, boolean conditions are defined to restrict the running of steps to specific circumstances
- can be used in all YAML-based pipelines

<%= toc %>

## `if` Syntax

- use the `if` param to conditionally run a step
- the below example will only run the `tests` step if the build message doesn't contain the string "skip me"

```yml
steps:
	- command: ./scripts/tests.sh
	  label: tests
	  if: build.message != "skip me"
```

- use it in any step type
- any of the supported expressions and parameters
- cannot be used at the same time as the `branches` parameter

- can be multi-line, use the | character on the first line to specify the continuation

```yml
steps:
    - command: ./scripts/tests.sh
      label: tests
      if: |
        // this is a comment
        build.message != "skip me"
```

## Supported Expressions

- the below expressions are available for use in the `if` parameter
- when using regex, it must be on the righthand side of the operator used

 - Comparators: == != =~ !~
 - Logical operators: || &&
 - Integers 12345
 - Strings 'foobar' or "foobar"
 - Booleans true false
 - Parenthesis to control order of evaluation ( )
 - Regular expressions /^v1\.0/
 - Prefixes: !

note: arrays are not supported

## Supported Variables

<table>
<tbody>
	<tr>
		<td><code>build.id</code></td>
		<td>The ID of the current build</td>
	</tr>
	<tr>
		<td><code>build.state</code></td>
		<td>The state of the current build</td>
	</tr>
	<tr>
		<td><code>build.branch</code></td>
		<td>The branch on which this build is created from</td>
	</tr>
	<tr>
		<td><code>build.tag</code></td>
		<td>The tag associated with the commit the current build is based on, otherwise null</td>
	</tr>
	<tr>
		<td><code>build.message</code></td>
		<td>The current build's message</td>
	</tr>
	<tr>
		<td><code>build.commit</code></td>
		<td>The commit number of the commit the current build is based on</td>
	</tr>
	<tr>
		<td><code>build.number</code></td>
		<td>The number of the current build</td>
	</tr>
	<tr>
		<td><code>pipeline.id</code></td>
		<td>The ID of the pipeline the current build is from</td>
	</tr>
	<tr>
		<td><code>pipeline.slug</code></td>
		<td>The slug of the pipeline the current build is from</td>
	</tr>
	<tr>
		<td><code>pipeline.default_branch</code></td>
		<td>The default branch of the pipeline the current build is from</td>
	</tr>
	<tr>
		<td><code>pipeline.repository</code></td>
		<td>The repository of the pipeline the current build is from</td>
	</tr>
	<tr>
		<td><code>organization.id</code></td>
		<td>The ID of the organization the current build is running in</td>
	</tr>
	<tr>
		<td><code>organization.slug</code></td>
		<td>The slug of the organization the current build is running in</td>
	</tr>
</tbody>
</table>

## Examples

```
// comments look like this!

// individual terms
true
false

// compare values
"not-master" == "master"
"toast" != "v1.0.0"
"blah" == 'blah'

// regular expression matches
env("BUILDKITE_MESSAGE") =~ /please/i

// complex expressions
(env("BUILDKITE_TAG") =~ ^v) ||
  (env("BUILDKITE_BRANCH") == "bar")
```