# Managing Step Dependencies

All steps in pipelines have implicit dependencies, often managed with wait and block steps. To manually change the dependency structure of your steps, you can define explicit dependencies with the `depends_on` attribute.

{:toc}

## Implicit dependencies with wait and block

[Wait](/docs/pipelines/wait-step) and [block](/docs/pipelines/block-step) steps provide an implicit dependency structure to your pipeline.

By adding these steps to your pipeline, the Buildkite scheduler will automatically know which steps need to be run in serial and which can be run in parallel.

A wait step, as in the example below, is dependent on all previous steps completing successfully; it won't proceed until all steps before it have passed. All steps following the wait step are dependent on the wait step; none of them will run until the wait step is satisfied.

```yml
steps:
  - command: "one.sh"
  - command: "two.sh"
  - wait
  - command: "three.sh"
  - command: "four.sh"
```
{: codeblock-file="pipeline.yml"}

[Block steps](/docs/pipelines/block-step) perform the same function, but also require unblocking either manually or via an API call before the rest of the steps can be run.

If you are collecting information with your block steps using the `prompt` or `fields` attributes but don't want it to implicitly depend on the steps around it, you can use an [input step](/docs/pipelines/input-step).

```yml
steps:
  - input: "What is the name of this release?"
```
{: codeblock-file="pipeline.yml"}

## Defining explicit dependencies

The `depends_on` attribute can be added to all step types.

To add a dependency on another step, add the attribute with the name of the step you're depending on:

```yml
steps:
  - command: "tests.sh"
    key: "tests"
  - command: "build.sh"
    key: "build"
    depends_on: "tests"
```
{: codeblock-file="pipeline.yml"}

In the above example, the second command step (build) will not run until the first command step (tests) has completed. Without the `depends_on` attribute, and given enough agents, these steps would run in parallel.

<div class="Docs__troubleshooting-note">
<h1>depends_on and block/wait</h1>
<p>Note that a step with an explicit dependency specified with the <code>depends_on</code> attribute will run immediately after the dependency step has completed, without waiting for <code>block</code> or <code>wait</code> steps unless those are also explicit dependencies.</p>
</div>

Dependencies can also be added as a list of strings, or a list of steps.

```yml
steps:
  - command: "tests.sh"
    depends_on:
      - "test-suite"
      - "another-thing"
```
{: codeblock-file="pipeline.yml"}

```yml
steps:
  - command: "tests.sh"
    depends_on:
      - step: "test-suite"
      - step: "another-thing"
```
{: codeblock-file="pipeline.yml"}

To ensure that a step is not dependent on any other step, add an explicit empty dependency with the `~` character. This also ensures that the step will run immediately at the start of the build:

```yml
steps:
  - command: "tests.sh"
  - wait
  - command: "lint.sh"
    depends_on: ~
```
{: codeblock-file="pipeline.yml"}

Even though the second command step in the above example is after a wait step, the empty dependency directs it not to wait until after the `wait` step is complete. Both commands steps will be available to run immediately at the start of the build.

## Order of operations

There are three step attributes that can each affect when a step is able to run:

* `if`/`branches`
* `depends_on`
* `concurrency_group`

If the step you're dependent on doesn't exist, the build will fail without running the step that is waiting for the dependency.

However, if the step you're dependent on is excluded from the build due to an `if` condition, the dependency will be ignored and the step that depends on it will run once any other dependencies are satisfied.

Steps that are in a `concurrency_group` run in the order they are created in and can be delayed in running by the `concurrency` attribute. If your step has a dependency on a step that is in a `concurrency_group`, there is an implicit dependency on the rest of the steps in the group. For more information about concurrency groups, see the [Controlling Concurrency guide](https://buildkite.com/docs/pipelines/controlling-concurrency#concurrency-groups).

## Allowing dependency failures

You can add the `allow_dependency_failure` attribute to any step that has dependencies. The step will then run when the depended-on jobs finish, even if those jobs have failed or did not run. However, even if you continue to run the next step, if there are any failures at all, the build will still end up failing.

```yml
steps:
  - command: "tests.sh"
    key: "tests"
  - command: "build.sh"
    key: "build"
    depends_on: "tests"
    allow_dependency_failure: true
```
{: codeblock-file="pipeline.yml"}

For finer control, you can explicitly allow or deny failures on an individual dependency basis using the `allow_failure` attribute with a step dependency.

```yml
steps:
  - command: "tests.sh"
    depends_on:
      - step: "test-suite"
        allow_failure: true
      - step: "another-thing"
        allow_failure: false
```
{: codeblock-file="pipeline.yml"}

This pattern is often used to run steps like code coverage or annotations to the build log that will give insight into what failed.

## allow_failure and blocked states

Note that steps which do not run due to failed dependencies are in the `waiting_failed` state, which is included in the scope of `allow_failure` when that is set. For example:

```yml
steps:
  - command: echo "step-a fails" && exit 1
    key: step-a
  - command: echo "step-b does not run" && exit 0
    key: step-b
    depends_on:
      - step: step-a
  - command: echo "step-c runs even when step-b does not"
    key: step-c
    depends_on:
      - step: step-b
        allow_failure: true
```