# Emojis

Buildkite supports over 300 custom emojis which you can use in your Pipelines and terminal output.

To use an emoji, write the name of the emoji in between colons, like `\:buildkite\:` which shows up as :buildkite:.

A few common emojis are listed below, but you can see the [full list of available emoji](https://github.com/buildkite/emojis#emoji-reference) on GitHub.

<table>
  <tr>
    <td>Name</td>
    <td>Emoji</td>
  </tr>
  <tr>
    <td><code>\:buildkite\:</code></td>
    <td>:buildkite:</td>
  </tr>
  <tr>
    <td><code>\:one-does-not-simply\:</code></td>
    <td>:one-does-not-simply:</td>
  </tr>
  <tr>
    <td><code>\:nomad\:</code></td>
    <td>:nomad:</td>
  </tr>
  <tr>
    <td><code>\:algolia\:</code></td>
    <td>:algolia:</td>
  </tr>
</table>


## Adding Custom Emojis

Add your own emoji by opening a [pull request](https://github.com/buildkite/emojis#contributing-new-emoji) containing a 64x64 PNG image and a name to the emoji repository.
