# Emojis

Buildkite supports over 300 custom emojis which you can use in your Pipelines and terminal output.

To use an emoji, write the name of the emoji in between colons, like `\:buildkite\:` which shows up as :buildkite:.

A few common emojis are listed below, but you can see the [full list of available emoji](https://github.com/buildkite/emojis#emoji-reference) on GitHub.

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Emoji</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>\:buildkite\:</code></td>
      <td>:buildkite:</td>
    </tr>
    <tr>
      <td><code>\:one-does-not-simply\:</code></td>
      <td>:one-does-not-simply:</td>
    </tr>
    <tr>
      <td><code>\:nomad\:</code></td>
      <td>:nomad:</td>
    </tr>
    <tr>
      <td><code>\:algolia\:</code></td>
      <!-- vale off -->
      <td>:algolia:</td>
      <!-- vale on -->
    </tr>
  </tbody>
</table>

## Adding Custom Emojis

Add your own emoji by opening a [pull request](https://github.com/buildkite/emojis#contributing-new-emoji) containing a 64x64 PNG image and a name to the emoji repository.

<section class="Docs__troubleshooting-note">
  <h3>Buildkite emojis in other tools</h3>
  <p>Buildkite loads custom emojis as <a href="https://github.com/buildkite/emojis">images</a>. Other tools, such as GitHub, might not display the images correctly, and will only show the <code>:text-form:</code>.</p>
</section>
