# Example Pipelines

A list of repositories containing example [pipelines](/docs/pipelines).

{:toc}

<!-- vale off -->
<!-- this turns it off for the whole file because I can't igore the emoji in the html :( -->

## Languages and Frameworks

<a class="Docs__example-repo" href="https://github.com/buildkite/bash-example">
 <span class="icon">:bash:</span>
  <span class="detail">
    <strong>Bash</strong>
     <span class="description">A simple bash example with artifacts, inline images and shell output</span>
    <span class="repo">github.com/buildkite/bash-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/bazel-example">
 <span class="icon"> :bazel: </span>
  <span class="detail">
    <strong>Bazel</strong>
     <span class="description">Building with Bazel on Buildkite</span>
    <span class="repo">github.com/buildkite/bazel-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/python-pipenv-example">
 <span class="icon">:python:</span>
  <span class="detail">
    <strong>Python - pipenv</strong>
     <span class="description">An example of testing a Python project w/ pipenv</span>
    <span class="repo">github.com/buildkite/python-pipenv-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/python-docker-example">
 <span class="icon">:python:</span>
  <span class="detail">
    <strong>Python - Docker</strong>
     <span class="description">An example of testing a Python project w/ Docker and pipenv</span>
    <span class="repo">github.com/buildkite/python-docker-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/bash-parallel-example">
 <span class="icon">:bash:</span>
  <span class="detail">
    <strong>Bash - Parallel</strong>
     <span class="description">Another simple bash example that runs across multiple agents in parallel</span>
    <span class="repo">github.com/buildkite/bash-parallel-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/ruby-rbenv-example">
 <span class="icon">:ruby:</span>
  <span class="detail">
    <strong>Ruby - rbenv</strong>
     <span class="description">An example of testing a Ruby project w/ rbenv</span>
    <span class="repo">github.com/buildkite/ruby-rbenv-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/ruby-docker-example">
 <span class="icon">:ruby:</span>
  <span class="detail">
    <strong>Ruby - Docker</strong>
     <span class="description">An example of testing a Ruby project w/ Docker</span>
    <span class="repo">github.com/buildkite/ruby-docker-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/rails-parallel-example">
 <span class="icon">:rails:</span>
  <span class="detail">
    <strong>Rails - Parallel</strong>
     <span class="description">An example of testing a Rails project in parallel w/ Knapsack</span>
    <span class="repo">github.com/buildkite/rails-parallel-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/rails-docker-parallel-example">
 <span class="icon">:rails:</span>
  <span class="detail">
    <strong>Rails - Parallel w/ Docker</strong>
     <span class="description">An example of testing a Rails project in parallel w/ Knapsack & Docker</span>
    <span class="repo">github.com/buildkite/rails-docker-parallel-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/nodejs-example">
 <span class="icon">:nodejs:</span>
  <span class="detail">
    <strong>Node.js</strong>
     <span class="description">An example of testing a Node.js project</span>
    <span class="repo">github.com/buildkite/nodejs-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/nodejs-docker-example">
 <span class="icon">:nodejs:</span>
  <span class="detail">
    <strong>Node.js - Docker</strong>
     <span class="description">An example of testing a Node.js project w/ Docker</span>
    <span class="repo">github.com/buildkite/nodejs-docker-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/golang-example">
 <span class="icon">:golang:</span>
  <span class="detail">
    <strong>Golang</strong>
     <span class="description">An example of testing a Golang project</span>
    <span class="repo">github.com/buildkite/golang-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/golang-docker-example">
 <span class="icon">:golang:</span>
  <span class="detail">
    <strong>Golang - Docker</strong>
     <span class="description">An example of testing a Golang project w/ Docker</span>
    <span class="repo">github.com/buildkite/golang-docker-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/buildkite-fastlane-demo">
 <span class="icon">:fastlane:</span>
  <span class="detail">
    <strong>Xcode - Fastlane</strong>
     <span class="description">An example of building and testing a Fastlane project</span>
    <span class="repo">github.com/buildkite/buildkite-fastlane-demo</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/gradle-docker-example">
 <span class="icon">:gradle:</span>
  <span class="detail">
    <strong>Gradle - Docker</strong>
     <span class="description">An example of building a Gradle project</span>
    <span class="repo">github.com/buildkite/gradle-docker-example</span>
  </span>
</a>

## Step Types and Techniques

<a class="Docs__example-repo" href="https://github.com/buildkite/rspec-junit-example">
 <span class="icon">:rspec:</span>
  <span class="detail">
    <strong>RSpec & JUnit Build Annotations</strong>
     <span class="description">Annotating a build with JUnit test failure information</span>
    <span class="repo">github.com/buildkite/rspec-junit-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/artifacts-example">
 <span class="icon">:buildkite:</span>
  <span class="detail">
    <strong>Artifact Uploading and Downloading</strong>
     <span class="description">Uploading and downloading artifacts between build pipeline steps</span>
    <span class="repo">github.com/buildkite/artifacts-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/block-step-example">
 <span class="icon">:buildkite:</span>
  <span class="detail">
    <strong>Block steps</strong>
     <span class="description">An example of how to include block steps with form fields in your pipeline</span>
    <span class="repo">github.com/buildkite/block-step-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/dependent-pipeline-example">
 <span class="icon">:buildkite:</span>
  <span class="detail">
    <strong>Dependent Pipelines</strong>
     <span class="description">Triggering another pipeline from a pipeline</span>
    <span class="repo">github.com/buildkite/dependent-pipeline-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/dynamic-pipeline-example">
 <span class="icon">:buildkite:</span>
  <span class="detail">
    <strong>Dynamic Pipelines</strong>
     <span class="description">Generating a pipeline’s steps programmatically at run-time</span>
    <span class="repo">github.com/buildkite/dynamic-pipeline-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/static-site-deployment-example">
 <span class="icon">:buildkite:</span>
  <span class="detail">
    <strong>Static Site Deployment</strong>
     <span class="description">Deploying a static site via rsync with dynamic branch to subdomain mappings</span>
    <span class="repo">github.com/buildkite/static-site-deployment-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/repo-hook-example">
 <span class="icon">:buildkite:</span>
  <span class="detail">
    <strong>Pre-Command Environment variable</strong>
     <span class="description">Setting environment variables with a repository hook</span>
    <span class="repo">github.com/buildkite/repo-hook-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://gist.github.com/toolmantim/1337952c8b5b1e5b0b5ea10c40e9efe4">
 <span class="icon">:buildkite:</span>
  <span class="detail">
    <strong>Targeting specific agents</strong>
     <span class="description">Run command steps only on specific agents</span>
    <span class="repo">gist.github.com/toolmantim/1337952c8b5b1e5b0b5ea10c40e9efe4</span>
  </span>
</a>


## Third-party tools

<a class="Docs__example-repo" href="https://github.com/saymedia/jobsworth">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Jobsworth</strong>
     <span class="description">Uses dynamic pipelines for defining high level build and deploy processes</span>
    <span class="repo">github.com/saymedia/jobsworth</span>
  </span>
</a>

## template.yml files

All of the examples contain a `buildkite/template.yml` file so that you can add the project to your Buildkite account using the 'Add to Buildkite' button in the readme. You don't need this file in your own projects.
