# Example Pipelines

<a class="Docs__example-repo" href="https://github.com/buildkite/bash-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Bash</strong>
     <span class="description">A simple bash example with artifacts, inline images and shell output</span>
    <span class="repo">github.com/buildkite/bash-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/bazel-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Bazel</strong>
     <span class="description">Building with Bazel on Buildkite</span>
    <span class="repo">github.com/buildkite/bazel-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/python-pipenv-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Python - pipenv</strong>
     <span class="description">An example of testing a Python project w/ pipenv</span>
    <span class="repo">github.com/buildkite/python-pipenv-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/python-docker-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Python - Docker</strong>
     <span class="description">An example of testing a Python project w/ Docker and pipenv</span>
    <span class="repo">github.com/buildkite/python-docker-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/bash-parallel-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Bash - Parallel</strong>
     <span class="description">Another simple bash example that runs across multiple agents in parallel</span>
    <span class="repo">github.com/buildkite/bash-parallel-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/ruby-rbenv-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Ruby - rbenv</strong>
     <span class="description">An example of testing a Ruby project w/ rbenv</span>
    <span class="repo">github.com/buildkite/ruby-rbenv-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/ruby-docker-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Ruby - Docker</strong>
     <span class="description">An example of testing a Ruby project w/ Docker</span>
    <span class="repo">github.com/buildkite/ruby-docker-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/rails-parallel-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Rails - Parallel</strong>
     <span class="description">An example of testing a Rails project in parallel w/ Knapsack</span>
    <span class="repo">github.com/buildkite/rails-parallel-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/rails-docker-parallel-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Rails - Parallel w/ Docker</strong>
     <span class="description">An example of testing a Rails project in parallel w/ Knapsack & Docker</span>
    <span class="repo">github.com/buildkite/rails-docker-parallel-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/nodejs-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Node.js</strong>
     <span class="description">An example of testing a Node.js project</span>
    <span class="repo">github.com/buildkite/nodejs-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/nodejs-docker-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Node.js - Docker</strong>
     <span class="description">An example of testing a Node.js project w/ Docker</span>
    <span class="repo">github.com/buildkite/nodejs-docker-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/golang-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Golang</strong>
     <span class="description">An example of testing a Golang project</span>
    <span class="repo">github.com/buildkite/golang-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/golang-docker-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Golang - Docker</strong>
     <span class="description">An example of testing a Golang project w/ Docker</span>
    <span class="repo">github.com/buildkite/golang-docker-example</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/buildkite-fastlane-demo">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Xcode - Fastlane</strong>
     <span class="description">An example of building and testing a Fastlane project</span>
    <span class="repo">github.com/buildkite/buildkite-fastlane-demo</span>
  </span>
</a>

<a class="Docs__example-repo" href="https://github.com/buildkite/gradle-docker-example">
 <span class="icon">:sparkles:</span>
  <span class="detail">
    <strong>Gradle - Docker</strong>
     <span class="description">An example of building a Gradle project</span>
    <span class="repo">github.com/buildkite/gradle-docker-example</span>
  </span>
</a>

