# Trigger Step

A *trigger* step creates a build on another pipeline. Examples of using trigger steps include: separating your test and deploy pipelines, and creating build dependencies between pipelines.

Trigger steps can only be defined in your [pipeline.yml](/docs/pipelines/uploading-pipelines) file:

```yml
steps:
- trigger: "another-pipeline"
```

## Command Step Attributes

_Required attributes:_

<table>
  <tr>
    <td><code>trigger</code></td>
    <td>
      The slug of the triggered pipeline. The pipeline slug must be lowercase.<br>
      <em>Example:</em> <code>"another-pipeline"</code>
    </td>
  </tr>
</table>

Optional attributes:

<table>
  <tr>
    <td><code>build</code></td>
    <td>
      TODO
    </td>
  </tr>
  <tr>
    <td><code>label</code></td>
    <td>
      TODO
    </td>
  </tr>
  <tr>
    <td><code>async</code></td>
    <td>
      TODO
    </td>
  </tr>
  <tr>
    <td><code>branches</code></td>
    <td>
      TODO
    </td>
  </tr>
</table>

Optional `build` attributes:

<table>
  <tr>
    <td><code>message</code></td>
    <td>
      TODO
    </td>
  </tr>
  <tr>
    <td><code>commit</code></td>
    <td>
      TODO
    </td>
  </tr>
  <tr>
    <td><code>branch</code></td>
    <td>
      TODO
    </td>
  </tr>
  <tr>
    <td><code>meta_data</code></td>
    <td>
      TODO
    </td>
  </tr>
  <tr>
    <td><code>env</code></td>
    <td>
      TODO
    </td>
  </tr>
</table>

```yml
- trigger: "myapp-deploy"
  label: "\:rocket\: Deploy"
  branches: "master"
  async: true
  build:
    message: "$BUILDKITE_MESSAGE"
    commit: "$BUILDKITE_COMMIT"
    branch: "$BUILDKITE_BRANCH"
```

```yml
- trigger: "data-generator"
  label: "\:package\: Generate data"
  build:
    message: "Data for $BUILDKITE_BUILD_NUMBER"
    env:
      MYAPP_DATA_DESTINATION: "s3://myapp-data/$BUILDKITE_BUILD_NUMBER.tar.gz"
```
