.PopularGuides {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.PopularGuides__heading {
  @include section-heading;
}

.PopularGuides__grid {
  display: grid;
  margin-left: $gutter / -2;
  margin-right: $gutter / -2;
  margin-top: 0.5rem;

  @media (min-width: $screen-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $screen-md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.PopularGuide {
  border-radius: $rounded;
  display: flex;
  gap: $gutter / 2;
  padding: $gutter / 2;
  text-decoration: none;
  transition: background-color $transition-speed, box-shadow $transition-speed;

  &:hover {
    background-color: $base-0;
    box-shadow: $box-shadow-depth-100-hover;
  }
}

.PopularGuide__img {
  height: 48px;
  width: 48px;
}

.PopularGuide__title {
  font-family: $font-family-base;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.24rem;
  margin-top: 0;
}

.PopularGuide__summary {
  color: map-get($color-aliases, "text-lightest");
  font-size: 0.875rem;
}
