.Products {
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.Products__row {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: $gutter / -2;
  margin-right: $gutter / -2;

  @media (min-width: $screen-sm) {
    flex-direction: row;
  }

  @media (min-width: $screen-md) {
    margin-left: 0;
    margin-right: 0;
  }
}

.Products__link {
  text-decoration: none;
}

.ProductCard {
  background-color: $base-0;
  border-radius: $rounded;
  box-shadow: $box-shadow-depth-100;
  display: flex;
  flex-direction: column;
  gap: $gutter / 2;
  padding: $gutter / 2;
  transition: box-shadow $transition-speed;

  @media (min-width: $screen-xs) {
    flex-direction: row;
  }

  a:hover & {
    box-shadow: $box-shadow-depth-100-hover;
  }
}

.ProductCard__title {
  @include heading(1.1875, 0);
  margin-bottom: 0.125rem;
}

.ProductCard__summary {
  color: map-get($color-aliases, "text-lightest");
}

.ProductCard__img {
  @media (min-width: $screen-xs) {
    width: 148px;
  }
}
