.References {
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.References__heading {
  @include section-heading;
}

.References__grid {
  display: grid;
  gap: $gutter;
  margin-top: 1.75rem;

  @media (min-width: $screen-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $screen-md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.Reference__heading {
  color: map-get($color-aliases, "text-lightest");
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
  margin-top: 0;
  text-transform: uppercase;
}

.Reference__item {
  margin-bottom: 0.75rem;
}

.Reference__link {
  @include style-text-link($underline: false, $color: $slate-800);

  &:hover {
    color: map-get($color-aliases, "text-link-hover");
    text-decoration: underline;
  }

  &.external-link {
    &:not(:hover)::after {
      filter: grayscale(100%);
    }
  }
}
