<table>
<tbody>
  <tr>
    <th>
      <code>branch</code>
    </th>
    <td>
      <span>Filters the results by the given branch or branches.</span>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>?branch=master</code> returns all builds on the <code>master</code> branch</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>?branch[]=master&branch[]=testing</code> returns all builds on <code>master</code> and <code>testing</code> branches</p>
    </td>
  </tr>
  <tr>
    <th><code>commit</code></th>
    <td>Filters the results by the commit (only works for full SHA, not for shortened ones).<p class="Docs__api-param-eg">
      <em>Example:</em> <code>?commit=long-hash</code></p>
      You can query for multiple commits using Rails array syntax: <p class="Docs__api-param-eg">
      <em>Example:</em> <code>?commit[]=sha2&commit[]=sha1</code></p>
    </td>
  </tr>
  <tr>
    <th><code>created_from</code></th>
    <td>Filters the results by builds created on or after the given time (in ISO 8601 format)<p class="Docs__api-param-eg">
      <em>Example:</em> <code>?created_from=<%= 5.days.ago.utc.iso8601 %></code></p>
    </td>
  </tr>
  <tr>
    <th><code>created_to</code></th>
    <td>Filters the results by builds created before the given time (in ISO 8601 format)<p class="Docs__api-param-eg">
      <em>Example:</em> <code>?created_to=<%= 1.month.from_now.utc.iso8601 %></code></p>
    </td>
  </tr>
  <tr>
    <th><code>creator</code></th>
    <td>Filters the results by the user who created the build<p class="Docs__api-param-eg">
      <em>Example:</em> <code>?creator=5acb99cf-d349-4189-b361-d1b9f36d70d7</code></p>
    </td>
  </tr>
  <tr>
    <th><code>finished_from</code></th>
    <td>Filters the results by builds finished on or after the given time (in ISO 8601 format)<p class="Docs__api-param-eg">
      <em>Example:</em> <code>?finished_from=<%= 2.days.ago.utc.iso8601 %></code></p>
    </td>
  </tr>
  <tr>
    <th><code>include_retried_jobs</code></th>
    <td>Include all retried job executions in each build’s jobs list. Without this parameter, you'll see only the most recently run job for each step.<p class="Docs__api-param-eg">
      <em>Example:</em> <code>?include_retried_jobs=true</code></p>
    </td>
  </tr>
  <tr>
    <th><code>meta_data</code></th>
    <td>Filters the results by the given meta_data.<p class="Docs__api-param-eg">
      <em>Example:</em> <code>?meta_data[some-key]=some-value</code></p>
    </td>
  </tr>
  <tr>
    <th><code>state</code></th>
    <td>
      <span>Filters the results by the given build state. The <code>finished</code> state is a shortcut to automatically search for builds with <code>passed</code>, <code>failed</code>, <code>blocked</code>, <code>canceled</code> states.</span>
      <p class="Docs__api-param-eg">
        <em>Valid states:</em> <code>running</code>, <code>scheduled</code>, <code>passed</code>, <code>failed</code>, <code>blocked</code>, <code>canceled</code>, <code>canceling</code>, <code>skipped</code>, <code>not_run</code>, <code>finished</code>
      </p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>?state=passed</code> returns all <code>passed</code> builds</p>
      <p class="Docs__api-param-eg"><em>Example:</em> <code>?state[]=scheduled&state[]=running</code> returns all <code>scheduled</code> and <code>running</code> builds</p>
    </td>
  </tr>
</tbody>
</table>
