# Bitbucket Server

Buildkite integrates with Bitbucket Server to provide automated builds based on your source control. You can run a build every time you push code to BitBucket Server, using a webhook that you create in your Bitbucket Server.

<div class="Docs__note">
This guide shows you how to set up your BitBucket Server builds with Buildkite. It was written using Bitbucket server version 7.11.1
</div>

{:toc}

## Step 1: connect Bitbucket Server and set up a pipeline

1. In your *Settings*, navigate to *Repository Providers*.
2. Select *Bitbucket Server*.
3. In *URLs*, enter the address of your Bitbucket Server, including a port if needed. For example, `localhost:8000`. You also have the option to add *Allowed IP Addresses* in *Network Settings*.
4. Select *Save Settings*.
5. Set up a pipeline as normal. Refer to [Pipelines](/docs/pipelines) for more information.

## Step 2: confirm your setup

If your configuration worked, Buildkite automatically recognizes your repository URL as a Bitbucket Server repository. To check this, go to *Pipelines* > *`your-pipeline`* > *Pipeline Settings*. You should see *Bitbucket Server* in the *Pipeline Settings* menu.

## Step 3: work through the in-app guide to set up your webhook

Buildkite includes built-in instructions on how to set up a Bitbucket Server webhook. This webhook allows Bitbucket Server to trigger Buildkite builds in response to events like code pushes and pull requests.

1. Navigate to *Pipelines* > *`your-pipeline`* > *Pipeline Settings* > *Bitbucket Server*. 
2. Select *Bitbucket Server Setup Instructions*.
3. Follow the on screen instructions to configure your webhook.




