# Bitbucket Server

Buildkite integrates with Bitbucket Server to provide automated builds based on your source control. You can run a build every time you push code to Bitbucket Server, using a webhook that you create in your Bitbucket Server.

<div class="Docs__note">
This guide shows you how to set up your Bitbucket Server builds with Buildkite. It was written using Bitbucket server version 7.11.1
</div>

{:toc}

## Step 1: connect Bitbucket Server and set up a pipeline

1. Select _Settings_ to open the _Organization Settings_ page.
2. Navigate to _Repository Providers_.
3. Select _Bitbucket Server_.
4. In _URLs_, enter the address of your Bitbucket Server, including a port if needed. For example, `localhost:8000`. You can also restrict which network addresses are allowed to trigger builds using webhooks in  _Allowed IP Addresses_ in _Network Settings_.
5. Select _Save Settings_.
6. Set up a pipeline as normal. Refer to [Pipelines](/docs/pipelines) for more information.

## Step 2: confirm your setup

If your configuration worked, Buildkite automatically recognizes your repository URL as a Bitbucket Server repository. To check this, go to _Pipelines_ > _`your-pipeline`_ > _Pipeline Settings_. You should see _Bitbucket Server_ in the _Pipeline Settings_ menu.

## Step 3: work through the in-app guide to set up your webhook

Buildkite includes built-in instructions on how to set up a Bitbucket Server webhook. This webhook allows Bitbucket Server to trigger Buildkite builds in response to events like code pushes and pull requests.

1. Navigate to _Pipelines_ > _`your-pipeline`_ > _Pipeline Settings_ > _Bitbucket Server_.
2. Select _Bitbucket Server Setup Instructions_.
3. Follow the on screen instructions to configure your webhook.


<%= render_markdown 'integrations/branch_config_settings' %>

<%= render_markdown 'integrations/one_repo_multi_org' %>

<%= render_markdown 'integrations/build_skipping' %>



