# Bitbucket server

Buildkite can connect to your self-hosted Bitbucket server and use . . . 

<div class="Docs__note">
This guide was written using Bitbucket server version 7.11.1
</div>

{:toc}

bb server needs to be able to reach buildkite to send webhooks. No oauth or anything. No firewall considerations.

org settings -> repo providers -> select bitbucket server - > enter URL (homepage of bb server) -> create repo -> enter bb server repo url (buildkite auto recognised based on URL) -> follow in app server setup instructions to create a webhook in your bb instance

can enter IP range to limit IPs with access (see other docs)

## Step 1: 

## Step 2: