# GitLab

You can use Buildkite to run builds on [GitLab](https://about.gitlab.com/) commits.

{:toc}

## GitLab repositories

If you host your repositories on [gitlab.com](https://gitlab.com/) enter your gitlab.com repository URL when you create your pipeline in Buildkite (for example, `git@gitlab.com:your/repo.git`) and follow the instructions provided on that page to set up webhooks.

## GitLab Community/Enterprise Edition

<section class="Docs__note">
  <p>The earliest supported version of GitLab is <a href=https://about.gitlab.com/2014/10/22/gitlab-7-4-released/>7.4</a>.</p>
</section>

1. Open your Buildkite _Organization Settings_ and choose [Repository Providers](https://buildkite.com/organizations/-/repository-providers)
2. Select _GitLab_.
3. Select the GitLab Edition Type (Community or Enterprise) you want to connect to your Buildkite Organization.
4. Enter the URL to your GitLab installation (for example, `https://git.example.org`).
5. You can optionally specify a list of IP addresses to restrict where builds can be triggered from. This field accepts a space separated list of networks in [CIDR notation](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing).

  <%= image "gitlab-org-settings.png", width: 1744/2, height: 916/2, alt: "Screen of Buildkite Organization GitLab Settings" %>

6. Select _Save GitLab Settings_ before leaving this page.
7. Create a new pipeline on Buildkite using your GitLab repository's URL (for example, `git@git.mycompany.com:your/repo.git`) and follow the instructions on the pipeline creation page.

<%= render_markdown 'integrations/branch-config-settings' %>

<%= render_markdown 'integrations/one-repo-multi-org' %>
