<header class="HeadingGroup">
  <%= 
    content_tag "h#{defined?(heading_level) ? heading_level : 2}",
    title,
    class: "HeadingGroup__title"
  %>
  <p class="HeadingGroup__content"><%= content %></p>
</header>
