<header class="HomeHeader PageContainer">
  <%= link_to "https://buildkite.com/home", title: "Go to Buildkite homepage" do %>
    <img alt="Buildkite logo" class="HomeHeader__logo" src="<%= logo_image_url %>" />
  <% end %>
  <h1>
    <img alt="Buildkite Docs" class="HomeHeader__wordmark" src="<%= image_url "brand-wordmark-on-white.svg" %>">
  </h1>
  <p class="sr-only">Lightning fast testing and delivery for all your software projects.</p>
  <p class="sr-only SiteHeader__skip-nav"><a href="#main">Skip to main content</a></p>
  <div class="Search HomeHeader__search">
    <div class="Search__container">
      <input id="search" class="homepage" placeholder="Search" />
      <kbd class="Search__kbd" title="Press / to search">/</kbd>
    </div>
  </div>
</header>
