<div class="Search">
  <label class="sr-only" for="search">Search</label>
  <input id="search" class="Search__input" placeholder="Search" />
  <kbd class="Search__kbd" title="Press / to search">/</kbd>
</div>
