<nav class="Nav Nav--sidebar">
  <%=
    render 'nav_children',
    children: @nav.current_item_root(request)["children"],
    current_nav_item: @nav.current_item(request),
    is_dropdown: nil,
    nav_level: 1,
    start_expanded: true,
    type: nil
  %>
</nav>
