.Card {
  background-color: $base-0;
  border-radius: 4px;
  box-shadow: $box-shadow-depth-200;
  box-sizing: border-box;
  padding: 1rem 1rem 1.25rem;
}

.Card__icon {
  display: block;
}

.Card__icon-link {
  display: block;
  max-width: 48px;
}

.Card__title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  margin-top: 0.75rem;

  &:first-child {
    margin-top: 0;
  }
}

.Card__title-link {
  color: map-get($color-aliases, "text-display");
  text-decoration: none;

  &:hover,
  .Card__icon-link:hover + .Card__title & {
    color: map-get($color-aliases, "text-link-hover");
    text-decoration: underline;
  }
}

.Card__content {
  color: map-get($color-aliases, "text-lightest");
  font-size: map-get($font-sizes, "sm");
}

.Card__list-item {
  font-size: map-get($font-sizes, "sm");
  margin-top: 0.5rem;
}

.Card__list-item-link {
  color: map-get($color-aliases, "text-lightest");
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
