@mixin divider {
  border-color: map-get($color-aliases, "border");
  border-style: solid;
  border-width: 1px 0 0 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.divider,
hr {
  @include divider;
}
