The [Buildkite Elastic CI Stack](https://github.com/buildkite/elastic-ci-stack-for-aws)
gives you a private, autoscaling Buildkite Agent cluster. Use it to parallelize
legacy tests across hundreds of nodes, run tests and deployments for all your
Linux-based services and apps, or run AWS ops tasks.

The latest build of the stack template can be launched in your AWS account with
the following button:

<a href="https://console.aws.amazon.com/cloudformation/home#/stacks/new?stackName=buildkite&templateURL=https://s3.amazonaws.com/buildkite-aws-stack/aws-stack.json" target="_blank"><img alt="Launch Buildkite Elastic CI Stack" src="http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/images/cloudformation-launch-stack-button.png" /></a>
