If you have <a href="http://brew.sh/">Homebrew</a> installed you can use our <a href="https://github.com/buildkite/homebrew-buildkite">buildkite formula repository</a> to install the agent:

```shell
brew tap buildkite/buildkite
brew install --token='<%= token %>' buildkite-agent
```

If you don't use Homebrew you should follow the [Linux](/docs/agent/linux) install instructions.
