<footer class="footer">
  <div>
    <div class="footer__heading">Questions or feedback</div>
    <p>Spotted a typo? Something is missing in the docs?</p>
    <p>Please <a href="https://github.com/buildkite/docs/issues">open an issue</a> or <a href="<%= open_source_url %>">contribute an update</a>.</p>
  </div>
  <div>
    <div class="footer__heading">Reach out</div>
      <% unless "test-analytics".in? request.path %>
        <p>We'd love to know what you think!</p>
        <p>Join the <a href="https://chat.buildkite.community/">community Slack channel</a> or <a href="mailto:support@buildkite.com">email support</a></p>
      <% else %>
        <p>We'd love to know what you think!</p>
        <p>Join the #test-analytics <a href="https://chat.buildkite.community/">community Slack channel</a>or <a href="mailto:support@buildkite.com">email support</a></p>
      <% end %>
  </div>
</footer>
