<footer class="footer">
  <div>
    <div class="footer__heading">Question or feedback</div>
    <p>Spotted a typo? Something missing?</p>
    <p>Please <a href="https://github.com/buildkite/docs/issues">open an issue</a> or <a href="<%= open_source_url %>">contribute an update</a>.</p>
  </div>
  <div>
    <div class="footer__heading">Get help</div>
    <ul>
      <% unless "test-analytics".in? request.path %>
        <li>Join the <a href="https://chat.buildkite.community/">community Slack channel</a></li>
        <li><a href="mailto:support@buildkite.com">Email support</a></li>
      <% else %>
        <li>Join the #test-analytics <a href="https://chat.buildkite.community/">community Slack channel</a></li>
        <li><a href="mailto:support+analytics@buildkite.com">Email support</a></li>
      <% end %>
    </ul>
  </div>
</footer>
