<%
  current_path = request.original_fullpath
  nav_level = 0
  use_nav = use_nav || "nav"
  nav_data = get_nav_data(use_nav)
%>

<% if nav_data && !nav_data.empty? %>
  <% nav_level = 0 %>
  <nav class="Nav">
    <input class="Nav__toggle-checkbox" type="checkbox" id="navicon" />
    <label class="Nav__toggle-label Button Button--default" for="navicon"><span>Display menu</span></label>
    <div class="Nav__container">
      <% nav_data.each_with_index do |children, i| %>
        <%=
          render 'layouts/nav_children',
          start_expanded: false,
          children: children,
          is_dropdown: false,
          nav_level: nav_level,
          current_path: current_path
        %>
      <% end %>
    </div>
  </nav>
<% end %>
