<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "head" %>
  </head>
  <body data-keywords="docs">
    <%= render "site_header" %>
    <main id="main" role="main">
      <div class="HomePage__container">
        <%= yield %>
        <%= render "footer", hide_feedback: true %>
      </div>
    </main>
  </body>
</html>
